<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <h1 class="cover-heading"><%=t('thank_you') %></h1>
    <p class="lead"><%=t('welcome.business.we_will_contact_you_shortly_html', email: @email) %></p>

  </div>
</div>

<%= render "shared/footer_old" %>
