      <div class="site-wrapper-inner site-wrapper-first">
        <div class="cover-container">
          <%= render "shared/header" %>
          <div class="inner cover">
            <h1 class="cover-heading"><%=t('business.for_companies') %></h1>
            <p class="lead"><%=t 'business.for_companies_text_html' %></p>
          </div>
          <span class="glyphicon glyphicon-chevron-down first" aria-hidden="true"></span>
        </div>
      </div>

      <a name="why_goclimateneutral"></a>
      <div class="site-wrapper-inner site-wrapper-second company-logos">
        <div class="cover-container">
          <div class="inner cover">
            <h4 class="cover-heading"><%=t 'business.customers_we_work_with' %>:</h4>
            <div class="row">
              <div class="col-lg-4">
                <%= image_tag "companies/norrsken.png", width: "300", alt: "norrsken company logo" %>  
              </div>
              <div class="col-lg-4">
                <%= image_tag "companies/netlight.png", width: "300", alt: "netlight company logo" %>
              </div>
              <div class="col-lg-4">
                <%= image_tag "companies/mentimeter.png", width: "300", alt: "mentimeter company logo" %>  
              </div>
            </div>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <a name="why_goclimateneutral"></a>
      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
            <h2 class="cover-heading"><%=t 'business.gcn_certified_company' %></h2>
            <p class="lead"><%=t 'business.gcn_certified_company_html' %></p>
            <div class="container">  
              <p class="big-number">
                <% case I18n.locale when :en %>
                  $<span id="big-number"></span> /month
                <% when :de %>
                  <span id="big-number"></span> €/month
                <% when :sv %>
                  <span id="big-number"></span> kr/månad
                <% end %>
              </p>
                <p><%=t 'business.equivalent_co2_offset' %></p>

                <%= form_tag(business_path, class: 'form-horizontal') do %>
                  <div class="form-group">
                    <%= label_tag(:number_of_employees, t('business.number_of_employees'), class: 'col-lg-5 control-label') %>
                    <div class="col-lg-2">
                      <%= text_field_tag(:number_of_employees, '10', class: 'form-control') %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= label_tag(:email, t('business.your_email'), class: 'col-lg-5 control-label') %>
                    <div class="col-lg-2">
                      <%= text_field_tag(:email, '', class: 'form-control') %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-5 col-lg-2 button">
                      <button type="submit" class="btn btn-success"><%=t 'business.im_interested' %>!</button>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <a name="why_goclimateneutral"></a>
      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h2 class="cover-heading"><%=t 'business.other_offsetting' %></h2>
            <p class="lead"><%=t 'business.other_offsetting_html' %></p>
          </div>
        </div>
      </div>

<%= render "shared/footer" %>

<% content_for :javascript_tags do %>
  <script>
    window.addEventListener('load', function() {
      new BusinessOffsetCalculator(
        <%= @cost_per_tonne %>,
        document.getElementById('number_of_employees'),
        document.getElementById('big-number')
      )
    })
  </script>
<% end %>
