<%= render 'admin/shared/notice_banner' %>

<%= render 'admin/shared/content_header', heading: 'API Keys', actions: [
    {
      title: 'New',
      path: new_admin_api_key_path,
      class: 'button-cta'
    }
  ] %>

<table class="table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Name</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @api_keys.each do |api_key| %>
      <tr>
        <td><%= time_tag(api_key.created_at, format: '%F %R') %></td>
        <td><%= api_key.name %></td>
        <td><%= api_key.contact_name %></td>
        <td><%= api_key.contact_email %></td>
        <td class="whitespace-nowrap">
          <%= link_to 'Show', [:admin, api_key], class: 'link-ui text-green-shade-2' %> &nbsp;
          <%= link_to 'Edit', edit_admin_api_key_path(api_key), class: 'link-ui text-green-shade-2' %> &nbsp;
          <%= link_to 'Destroy', [:admin, api_key], method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-ui text-green-shade-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



