<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Units', actions: [
    {
      title: 'New unit',
      path: new_admin_unit_path,
      class: 'button-cta'
    }
  ] %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Key</th>
        <th>Input type</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @units.each do |unit| %>
        <tr>
          <td><%= unit.name %></td>
          <td><%= unit.key %></td>
          <td><%= unit.input_type %></td>
          <td><%= time_tag(unit.updated_at, format: '%F %R') %></td>
          <td class="whitespace-nowrap">
            <%= link_to 'Show', [:admin, unit], class: 'link-ui text-green-shade-2' %> &nbsp;
            <%= link_to 'Edit', edit_admin_unit_path(unit), class: 'link-ui text-green-shade-2' %> &nbsp;
            <%= link_to 'Destroy', [:admin, unit], method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-ui text-green-shade-2' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
