<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Unit', actions: [
        {
          title: 'Edit',
          path: edit_admin_unit_path(@unit),
          class: 'button-cta'
        }
      ] %>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @unit.name %></dd>
    <dt>Key:</dt>
    <dd><%= @unit.key %></dd>
    <dt>Input type:</dt>
    <dd><%= @unit.input_type %></dd>
    
    <dt>Updated:</dt>
    <dd><%= time_tag(@unit.updated_at) %></dd>
  </dl>
</div>
