<h1 class="heading-lg">Editing Climate Report Invoice</h1>

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd><%= @invoice.id %></dd>

  <dt>Company:</dt>
  <dd><%= @invoice.climate_report.company_name %></dd>

  <dt>Calculation period:</dt>
  <dd><%= @invoice.climate_report.calculation_period %> (<%= @invoice.climate_report.calculation_period_length %>)</dd>

  <dt>Carbon offset:</dt>
  <dd><%= number_with_delimiter(@invoice.co2e, delimiter: ' ') %> kg co2e</dd>

  <dt>Amount:</dt>
  <dd><%= @invoice.amount %></dd>
</dl>

<%= form_for([:admin, @invoice]) do |f| %>
  <% if @invoice.errors.any? %>
    <div>
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= f.label :fortnox_id, 'Fortnox invoice' %>
    <%= f.text_field :fortnox_id, class: 'input' %>
  </div>

  <div class="flex flex-col">
    <%= f.label :project_id %>
    <%= f.number_field :project_id, class: 'input' %>
  </div>

  <div class="flex flex-col">
    <%= f.label :certificate_sent_at %>
    <%= f.text_field :certificate_sent_at, class: 'input' %>
    <label><input type="checkbox" value="now" name="climate_report_invoice[certificate_sent_at]"> Now</label>
  </div>

  <div class="flex flex-col">
    <%= f.label :certificate_reciever_email %> (leave empty if you don't want system to send certificate)
    <%= f.text_field :certificate_reciever_email, class: 'input' %>
  </div>

  <div class="text-right">
    <%= f.submit class: 'button button-cta' %>
  </div>
<% end %>
