<p id="notice"><%= notice %></p>

<h1>Climate Report Invoices</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>Export for generating climate report PDF's</h3>
    <%= form_tag admin_climate_reports_path(format: :csv), method: :get do %>
      <div class="form-group">
        <%= label_tag :invoices, 'Invoice ID\'s' %>
        <%= text_field_tag :invoices, '', required: '', placeholder: '2 or 2-4', class: 'form-control' %>
        <span class="help-block">Enter either one ID (e.g. "2") or a range (e.g. "2-4")</span>
      </div>
      <%= submit_tag 'Export', class: 'btn btn-primary', data: { disable_with: false } %>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company</th>
      <th>Period</th>
      <th>Carbon offset</th>
      <th>Amount</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.climate_report.company_name %></td>
        <td><%= invoice.climate_report.calculation_period %> (<%= invoice.climate_report.calculation_period_length %>)</td>
        <td><%= number_with_delimiter(invoice.co2e, delimiter: ' ') %> kg co2e</td>
        <td><%= price_string(invoice.amount, invoice.currency, lowest_denominator: true) %></td>
        <td><%= invoice.project&.name %></td>
        <td class="admin-actions">
          <%= link_to 'Show', [:admin, invoice] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
