<%= render 'admin/shared/notice_banner' %>

<h1>Climate Report Invoices</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fortnox invoice</th>
      <th>Created</th>
      <th>Certificate Sent</th>
      <th>Company</th>
      <th>Period</th>
      <th>Carbon offset</th>
      <th>Amount</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.fortnox_id %></td>
        <td><%= time_tag(invoice.created_at, :format=>'%F %R') %></td>
        <td><%= time_tag(invoice.certificate_sent_at, :format=>'%F %R') if invoice.certificate_sent_at.present? %></td>
        <td><%= invoice.climate_report.company_name %></td>
        <td><%= invoice.climate_report.calculation_period %> (<%= invoice.climate_report.calculation_period_length %>)</td>
        <td><%= number_with_delimiter(invoice.co2e, delimiter: ' ') %> kg co2e</td>
        <td><%= price_string(invoice.amount, invoice.currency, lowest_denominator: true) %></td>
        <td><%= invoice.project&.name %></td>
        <td class="admin-actions">
          <%= link_to 'Show', [:admin, invoice] %>
          <% if invoice.project.present? %>
            &nbsp; <%= link_to 'Certificate', admin_invoice_certificates_path(type: 'climate_report_invoice', id: invoice.id, format: :pdf) %>
          <% end %>
          <% if invoice.project.present? %>
            &nbsp; <%= link_to 'Report', business_climate_report_path(key: invoice.climate_report.key, format: :pdf, locale: 'sv') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
