<p id="notice"><%= notice %></p>

<h1>Climate Report Invoice</h1>

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd><%= @invoice.id %></dd>

  <dt>Company:</dt>
  <dd><%= @invoice.climate_report.company_name %></dd>

  <dt>Contact email:</dt>
  <dd><%= @invoice.climate_report.contact_email %></dd>

  <dt>Calculation period:</dt>
  <dd><%= @invoice.climate_report.calculation_period %> (<%= @invoice.climate_report.calculation_period_length %>)</dd>

  <dt>Carbon offset:</dt>
  <dd><%= @invoice.co2e %> kg co2e</dd>

  <dt>Amount:</dt>
  <dd><%= price_string(@invoice.amount, @invoice.currency, lowest_denominator: true) %></dd>

  <dt>Invoice address:</dt>
  <dd><pre><%= @invoice.invoice_address %></pre></dd>

  <dt>VAT number:</dt>
  <dd><%= @invoice.vat_number %></dd>

  <dt>Invoice email:</dt>
  <dd>
    <% if @invoice.invoice_email.present? %>
      <%= @invoice.invoice_email %>
    <% else %>
      <i>Send invoice via mail</i>
    <% end %>
  </dd>
</dl>

<hr>

<%= link_to 'Go to climate report', business_climate_report_path(@invoice.climate_report), class: 'btn btn-default' %>
<%= link_to 'Back', admin_climate_report_invoices_path, class: 'btn btn-link' %>
