<%= render "shared/facebook_script" %>
<%= render "shared/twitter_script" %>
<%= javascript_tag do %>
  window.facebookQuote = '<%= @social_quote %>';
<% end %>

<% if @should_show_share_popup %>
  <%= render "shared/share_popup" %>
<% end %>

      <div class="site-wrapper-inner site-wrapper-first">
        
        <div class="cover-container">
          
          <%= render "shared/header" %>

          <div class="inner cover">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              <h3 class="cover-heading">
                <%=t 'we_have_accomplished_alot_together' %>
              </h3>

                  <div class="row stats">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <p><%=t 'number_of_months_you_have_been_climate_neutral' %>:</p> 
                      <h1><%= @my_neutral_months %></h1>
                    </div>
                    <div class="col-md-4">
                      <p><%=t 'you_climate_offset_investments' %>:</p>
                      <h1><%=t 'you_climate_offset_investments_amount', usd: @my_amount_invested_usd, sek: @my_amount_invested_sek %></h1>
                    </div>
                    <div class="col-md-2"></div>
                  </div>

                  <div class="row stats">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <p><%=t 'number_of_climate_neutral_months_for_all_users' %>:</p> 
                      <h1><%= @total_climate_neutral_months %></h1>
                    </div>
                    <div class="col-md-4">
                      <p><%=t 'number_of_climate_neutral_users_right_now' %>:</p> 
                      <h1><%= @unique_climate_neutral_users %></h1>
                    </div>
                    <div class="col-md-2"></div>
                  </div>


                  <div class="row stats last">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <p><%=t 'total_climate_offset_project_investments' %>:</p> 
                      <h1><%=t 'total_climate_offset_project_investments_amount', usd: @total_usd, sek: @total_sek %></h1>
                    </div>
                    <div class="col-md-4">
                      <p><%=t 'amount_of_carbon_we_have_offset' %></p> 
                      <h1><%= @total_carbon_offset %> <%=t 'tonnes' %></h1>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                


          </div>
          
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            
            <div class="row stats last">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <h3><%=t 'cimate_hero_toplist' %></h3>
                    <ol>
                    <% @user_top_list.each do |user| %>
                      <% count = user.count %> 
                      <% user_name = user.reload.user_name || "Unknown User" %>

                      <li class="text-left">
                        <% if count == 1 %>
                          <%= user_name %> (<%= count %> <%=t 'climate_neutral_month' %>)
                        <% else %>
                          <%= user_name %> (<%= count %> <%=t 'climate_neutral_months' %>)
                        <% end %>
                      </li>  
                    <% end %>
                    </ol>
                </div>
                <div class="col-md-4">
                    <h3><%=t 'climate_country_toplist' %></h3>
                    <ol>
                    <% @country_top_list.each do |country| %>
                      <% count = country.count %>
                      <% country_name = country.country_name || "Unknown" %>
                      <li class="text-left">
                      <% if count == 1 %>
                          <%= country_name %> (<%= count %> <%=t 'climate_neutral_month' %>)
                        <% else %>
                          <%= country_name %> (<%= count %> <%=t 'climate_neutral_months' %>)
                        <% end %>
                      </li>  
                    <% end %>
                    </ol>
                </div>
                <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>



      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
            
            <div class="row stats total-offset">
                <div class="col-md-12">
                  <p><%=t 'total_carbon_offset_by_us' %>:</p> 
                  <h1><%= @total_carbon_offset %> <%=t 'tonnes_CO2' %></h1>
                  <p><%=t 'thank_you_so_much_everyone_for_helping_to_save_the_world' %></p> 
                </div>
            </div>
          </div>
        </div>
      </div>


      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            
            <div class="row stats offset-projects">
                <div class="col-md-12">
                    <h3 class="cover-heading"><%=t 'latest_carbon_offset_projects' %></h3>
                    <% @projects.each do |project| %>
                      <h4><a href ="<%= project.blog_url %>"><%= project.name %></a></h4>
                      <div><%= image_tag project.image_url, size: "150" %></div>
                      <p><%=t 'offset' %>: <%= project.carbon_offset %> <%=t 'tonnes_CO2' %>
                      <br><%=t 'country' %></>: <%= project.country %>
                      <br><%=t 'location' %>: <a href="https://www.google.com/maps/preview/@<%= project.latitude %>,<%= project.longitude %>,8z" target="_blank"><%= project.latitude %>,<%= project.longitude %></a>
                      <br><a href="<%= project.link %>"><%=t 'more_info_on_un_site' %></a></p>
                      <p>--------</p>
                    <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            <h3 class="cover-heading">
        <% if @my_neutral_months == 1 %>
          <%=t 'you_have_lived_climate_neutral_for_one_month', months: @my_neutral_months %>
        <% else %>
          <%=t 'you_have_lived_climate_neutral_for_more_months', months: @my_neutral_months %>
        <% end %>
        <%=t 'good_job' %>
      </h3>
      <p><%=t 'climate_change_is_best_faced_together' %></p>
      <p> </p>
      <div>
      <div class="row share-buttons last">
          <div class="col-sm-1 col-md-3"></div>
          <div class="col-sm-5 col-md-3">
            <a class="btn btn-social btn-lg btn-facebook" id="share-facebook-bottom"><span class="fa fa-facebook"></span> <%=t 'share_on_facebook' %></a>
          </div>
          <div class="col-sm-5 col-md-3">
            <a class="btn btn-social btn-lg btn-twitter" href="https://twitter.com/intent/tweet?text=<%= @encoded_social_quote %>" data-size="large"><span class="fa fa-twitter"></span> <%=t 'share_on_twitter' %></a>
          </div>
          <div class="col-sm-1 col-md-3"></div>
      </div>
      </div>
          </div>
        </div>
      </div>

      <%= render "shared/footer" %>
