

      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

		  <div class="inner cover">
			   <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			   <h3 class="cover-heading">You have lived climate neutral for <%= @my_neutral_months %> month. Good Job!</h3>
			</div>


      <div class="row stats">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <p>Number of climate neutral months in total:</p> 
          <h1><%= @total_climate_neutral_months %></h1>
        </div>
        <div class="col-md-4">
          <p>Number of climate neutral users right now:</p> 
          <h1><%= @unique_climate_neutral_users %></h1>
        </div>
        <div class="col-md-2"></div>
      </div>
    
      <div class="row stats">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <p>Total climate offset project investments:</p> 
          <h1>$<%= @total %></h1>
        </div>
        <div class="col-md-4">
          <p>Your climate offset investments:</p> 
          <h1>$<%= @my_amount_invested %></h1>
        </div>
        <div class="col-md-2"></div>
      </div>






