<%= render "shared/facebook_script" %>
<%= render "shared/twitter_script" %>
<%= javascript_tag do %>
  window.facebookQuote = '<%= I18n.t('i_have_lived_climate_neutral_for_join_me', count: @my_neutral_months) %>';
  window.urlToShare = '<%=t 'goclimateneutral_url' %>'
<% end %>

<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h3 class="cover-heading">
      <%=t 'we_have_accomplished_alot_together' %>
    </h3>

    <div class="row stats">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <p><%=t 'number_of_months_you_have_been_climate_neutral' %>:</p>
        <h1><%= @my_neutral_months %></h1>
      </div>
      <div class="col-md-4">
        <p><%=t 'amount_of_carbon_i_have_offset' %>:</p>
        <h1><%= number_with_delimiter(@my_carbon_offset) %> <%=t 'tonnes' %></h1>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row stats last">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <p><%=t 'number_of_climate_neutral_users_right_now' %>:</p>
        <h1><%= @unique_climate_neutral_users %></h1>
      </div>
      <div class="col-md-4">
        <p><%=t 'amount_of_carbon_we_have_offset' %>:</p>
        <h1><%= number_with_delimiter(@total_carbon_offset) %> <%=t 'tonnes' %></h1>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-heart-empty" aria-hidden="true"></span>

    <div class="row stats last">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h3><%=t 'cimate_hero_toplist' %></h3>
        <ol>
          <% count = 0 %>
          <% @user_top_list.each do |user| %>
            <% count += 1 %>
            <% user_neutral_months = user.count %>
            <% user_name = user.user_name || "Unknown User" %>

            <%= count == 11 ? "<div id='user_toplist_collapsed' class='collapse'>".html_safe : "" %>

            <li class="text-left<%= user.id == current_user.id ? " my-stat" : "" %>">
              <%= user_name %> (<%= user_neutral_months %> <%=t 'climate_neutral_months', count: user_neutral_months %>)
            </li>
          <% end %>
          </div>
        </ol>

        <p>
          <a id="user_toplist_open_link" data-toggle="collapse" href="#user_toplist_collapsed" aria-expanded="false" aria-controls="user_toplist_collapsed"><%=t 'show_full_toplist' %></a>

          <a id="user_toplist_collapse_link" data-toggle="collapse" href="#user_toplist_collapsed" aria-expanded="false" aria-controls="user_toplist_collapsed"><%=t 'hide_full_toplist' %></a>
        </p>

      </div>
      <div class="col-md-4">
        <h3><%=t 'climate_country_toplist' %></h3>
        <ol>
          <% @country_top_list.each do |country| %>
            <% count = country.count %>
            <% country_name = country.country_name || "Unknown" %>
            <li class="text-left<%= country_name == current_user.country_name ? " my-stat" : "" %>">
              <%= country_name %> (<%= count %> <%=t 'climate_neutral_months', count: count %>)
            </li>
          <% end %>
        </ol>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-tree-deciduous" aria-hidden="true"></span>

    <div class="row stats total-offset">
        <div class="col-md-12">
          <p><%=t 'total_carbon_offset_by_us' %>:</p>
          <h1><%= number_with_delimiter(@total_carbon_offset) %> <%=t 'tonnes_CO2' %></h1>
          <p><%=t 'thank_you_so_much_everyone_for_helping_to_save_the_world' %></p>
        </div>
    </div>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-ok" aria-hidden="true"></span>

    <div class="row stats offset-projects">
      <div class="col-md-12">
        <h3 class="cover-heading"><%=t 'latest_carbon_offset_projects' %></h3>
        <% @projects.each do |project| %>
          <h4><a href ="<%= project.blog_url %>"><%= project.name %></a></h4>
          <div><%= image_tag project.image_url, height: "150" %></div>
          <p>
            <br><%=t 'country' %></>: <%= project.country %>
            <br><%=t 'location' %>: <a href="https://www.google.com/maps?z=15&t=k&q=loc:<%= project.latitude %>+<%= project.longitude %>" target="_blank"><%= project.latitude %>,<%= project.longitude %></a><br>
            <a href ="<%= project.blog_url %>"><%=t 'more_info_on_our_blog' %></a>
          </p>
          <p>--------</p>
        <% end %>
      </div>
      <h4 class="blog_investment_link"><a href="https://www.goclimateneutral.org/blog/category/investment/"><%=t 'read_more_about_investments_on_our_blog' %></a></h4>
    </div>

  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-fire" aria-hidden="true"></span>
    <h3 class="cover-heading">
      <%=t 'you_have_lived_climate_neutral_for', count: @my_neutral_months %>
      <%=t 'good_job' %>
    </h3>
    <p><%=t 'climate_change_is_best_faced_together' %></p>
    <p></p>
    <div>
      <div class="row share-buttons last">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <a class="btn btn-social btn-lg btn-facebook" id="share-facebook-bottom"><span class="fa fa-facebook"></span> <%=t 'share_on_facebook' %></a>
        </div>
        <div class="col-sm-5">
          <a class="btn btn-social btn-lg btn-twitter" href="https://twitter.com/intent/tweet?text=<%= encoded_social_quote(@my_neutral_months) %>" data-size="large"><span class="fa fa-twitter"></span> <%=t 'share_on_twitter' %></a>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer_old" %>

<% content_for :javascript_tags do %>
  <script>
    $(document).ready(function() {
      initializeDashboard();
    });
  </script>
<% end %>
