<%= render "shared/header" %>

<section class="section-padding">
  <div class="section-gutter t:flex t:flex-row items-center">
    <div class="t:w-1/2 d:w-2/3 space-y-4">
      <h1 class="heading-xl"><%= t 'views.business.climate_reports.hero.heading' %></h1>
      <p class="text-lg"><%= t 'views.business.climate_reports.hero.text' %></p>
      <p><%= link_to t('views.business.climate_reports.get_started.button'), new_business_climate_report_path, class: 'button button-cta mt-4' %></p>
    </div>
    <div class="w-4/5 mx-auto t:w-1/2 d:w-1/3">
      <div class="relative mx-auto m-lg:w-2/3 t:w-full max-w-md">
          <%= image_tag webpack_asset_path('images/shapes/blob_3.svg'), class: 'w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2', alt: '' %>
          <%= image_tag webpack_asset_path('images/illustrations/business/create_climate_report.svg'), class: 'w-full relative mx-auto', alt: '' %>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="section-gutter t:flex t:flex-row-reverse items-center">
    <div class="t:w-1/2 d:w-2/3 space-y-6">
      <h2 class="heading-lg"><%= t 'views.business.climate_reports.business_footprint.heading' %></h2>
      <p><%= t 'views.business.climate_reports.business_footprint.text' %></p>
    </div>
    <div class="w-4/5 t:w-1/2 d:w-1/3 mx-auto">
      <div class="relative mx-auto m-lg:w-1/2 t:w-full max-w-md">
        <%= image_tag webpack_asset_path('images/shapes/blob_2.svg'), class: 'w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2', alt: '' %>
        <%= image_tag webpack_asset_path('images/illustrations/business/chart_and_person.svg'), class: 'w-full relative', alt: '' %>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="section-gutter t:flex items-center">
    <div class="t:w-1/2 d:w-2/3 space-y-6">
      <h2 class="heading-lg"><%= t 'views.business.climate_reports.carbon_offsetting.heading' %></h2>
      <p><%= t 'views.business.climate_reports.carbon_offsetting.text' %></p>
    </div>
    <div class="w-4/5 t:w-1/2 d:w-1/3 mx-auto">
      <div class="relative mx-auto m-lg:w-1/2 t:w-full max-w-md">
        <%= image_tag webpack_asset_path('images/shapes/blob_2.svg'), class: 'w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2', alt: '' %>
        <%= image_tag webpack_asset_path('images/illustrations/business/co2_right_aligned.svg'), class: 'w-full relative', alt: '' %>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="section-gutter t:flex t:flex-row-reverse items-center">
    <div class="t:w-1/2 d:w-2/3 space-y-6">
      <h2 class="heading-lg"><%= t 'views.business.climate_reports.climate_report.heading' %></h2>
      <p><%= t 'views.business.climate_reports.climate_report.text' %></p>
    </div>
    <div class="w-4/5 t:w-1/2 d:w-1/3 mx-auto">
      <div class="callout mx-auto m-lg:w-2/3 t:w-full max-w-md">
        <%= image_tag webpack_asset_path('images/climate_report.png'), class: 'w-full relative', alt: '' %>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="callout max-w-3xl mx-auto py-12 flex flex-col m-lg:flex-row m-lg:items-center space-y-6">
    <div class="m-lg:w-1/2 space-y-8">
      <h2 class="heading-lg"><%=t 'views.business.climate_reports.get_started.heading' %></h2>
      <p><%= link_to t('views.business.climate_reports.get_started.button'), new_business_climate_report_path, class: 'button button-cta' %></p>
    </div>
    <div class="w-5/6 m-lg:w-1/2 mx-auto">
      <div class="relative">
        <%= image_tag webpack_asset_path('images/shapes/blob_2.svg'), class: 'w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2', alt: '' %>
        <%= image_tag webpack_asset_path('images/illustrations/business/calculate.svg'), class: 'w-5/6 relative mx-auto', alt: '' %>
      </div>
    </div>
  </div>
</section>

<%= render 'business/shared/newsletter_subscription' %>

<%= render 'shared/bottom_landscape' %>
<%= render 'shared/footer', skip_prefooter: true, skip_newsletter_signup: true %>
