<div class="site-wrapper-first site-wrapper-first--nav-only">
  <%= render "shared/header" %>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">

          <h1 class="cover-heading">
            Estimate your business footprint
          </h1>
          <p class="lead">
            Estimating your footprint is the first step to reducing and taking
            responsiblity for your climate impact. Because getting an estimate
            requires a few numbers from different parts of your business
            activities, we recommend going through the areas below one by one
            before submitting all numbers.
          </p>

        </div>
      </div>

      <%= form_for [:business, @report], html: { class: "form-horizontal" } do |f| %>
        <% if @report.errors.any? %>
          <%# This is a panel because alerts are currently scripted to be dismissed automatically %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <% @report.errors.full_messages.each do |message| %>
                <p><%= message %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-7">
              <h3 class="text-left">1. General information</h3>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_company_name" class="col-sm-5 control-label">Company name</label>
            <div class="col-sm-7">
              <%= f.text_field :company_name, class: 'form-control', required: '' %>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_employees" class="col-sm-5 control-label">
              Number of employees 
              <a class="business-tooltip" data-toggle="tooltip" title="Estimated full time employees or equivalent. This is used so that we can estimate your energy usage if you don't have specific kWh-numbers availible, and for calculating emissions per emloyee and similar statistical values.">[?]</a>
            </label>
            <div class="col-sm-7">
              <%= f.number_field :employees, class: 'form-control', required: '' %>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_office_area" class="col-sm-5 control-label">Office area</label>
            <div class="col-sm-7">
              <div class="input-group">
                <%= f.number_field :office_area, class: 'form-control' %>
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_country" class="col-sm-5 control-label">
              Country
              <a class="business-tooltip" data-toggle="tooltip" title="Our Business footprint calculator availible in Sweden so far. Contact us at info@goclimateneutral.org if you are interested business footprint calculations for other countries and we would love to help you!">[?]</a>
            </label>
            <div class="col-sm-7">
              <span class="form-control-static" style="display: block;">Sweden</span>
              <%= f.hidden_field :country, id: 'country' %>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_calculation_period" class="col-sm-5 control-label">
              Calculation period
              <a class="business-tooltip" data-toggle="tooltip" title="The period that you want to do the footprint calculation for. '2018', '2019 Q1', '2019-06' or similar.">[?]</a>
            </label>
            <div class="col-sm-7">
              <%= f.text_field :calculation_period, class: 'form-control', required: '' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label">Your name and logo on our site</label>
            <div class="col-sm-5 checkbox">
              <label>
                <%= f.check_box :consent_to_show_publicly %>
                We're OK with our name and logo being shown on the GoClimateNeutral site, for example in top lists
              </label>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
              <h3 class="text-left">2. Energy</h3>
              <p class="description">The energy consumption of a business is often the largest source of a service business climate footprint. This calculator takes the three most commonly largest energy sources into account; electricity, heating and the amount of servers running.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_electricity_consumption" class="col-sm-5 control-label">
              Electricity consumption
              <a class="business-tooltip" data-toggle="tooltip" title="The electricity consumed during the period in kWh. This number is often specified on the electricity bills you pay every month or quarter. If electricity is included in the rent, ask your landlord if they measure each tenants specific usage or if they can estimate the consumption for you. If not, our average numbers can be used.">[?]</a>
            </label>
            <div class="col-sm-5">
              <div class="input-group">
                <%= f.number_field :electricity_consumption, class: 'form-control' %>
                <div class="input-group-addon">kWh</div>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :use_electricity_averages, onchange: 'document.getElementById("climate_report_electricity_consumption").disabled = this.checked' %>
                  We don't have access to electricity consumption—use average values
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label">Green electricity</label>
            <div class="col-sm-5">
              <div class="checkbox">
                <label>
                  <%= f.check_box :green_electricity %>
                  We have a contract for green or nuclear electricity
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_heating" class="col-sm-5 control-label">
              Heating
              <a class="business-tooltip" data-toggle="tooltip" title="90% of the heating used in Sweden is district heating and is often of similar size as the eletricity. It is most commonly found in the heating bill, but if that is not available, ask your tenant if they have any numbers availible of your usage. If not, our average numbers can be used.">[?]</a>
            </label>
            <div class="col-sm-5">
              <div class="input-group">
                <%= f.number_field :heating, class: 'form-control' %>
                <div class="input-group-addon">kWh</div>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :use_heating_averages, onchange: 'document.getElementById("climate_report_heating").disabled = this.checked' %>
                  We don't have access to district heating consumption—use average values
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_number_of_servers" class="col-sm-5 control-label">
              Average number of active servers
              <a class="business-tooltip" data-toggle="tooltip" title="The average number of active servers during the time period.">[?]</a>
            </label>
            <div class="col-sm-5">
              <%= f.number_field :number_of_servers, class: 'form-control' %>
              <div class="checkbox">
                <label>
                  <%= f.check_box :servers_green_electricity %>
                  Our servers use green electricity
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_number_of_cloud_servers" class="col-sm-5 control-label">Average number of active cloud servers</label>
            <div class="col-sm-7">
              <%= f.number_field :number_of_cloud_servers, class: 'form-control' %>
              <div class="checkbox">
                <label>
                  <%= f.check_box :cloud_servers_green_electricity %>
                  Our cloud servers use green electricity
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
              <h3 class="text-left">3. Business trips</h3>
              <p class="description">Business travel can be a large source of a business climate footprint, especielly if many long distance trips are made or if you have salespeople on the road.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_flight_hours" class="col-sm-5 control-label">
              Total flight hours
              <a class="business-tooltip" data-toggle="tooltip" title="Estimated number of flight hours in total. If 10 people fly 2 hours back and forth, the total would be 40 hours here. If you have a more specific number calculated already for this, you can put it in the Other-field at the end of this form.">[?]</a>
            </label>
            <div class="col-sm-5">
              <div class="input-group">
                <%= f.number_field :flight_hours, class: 'form-control' %>
                <div class="input-group-addon">hours</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_car_distance" class="col-sm-5 control-label">
              Distance by car &amp; taxi
              <a class="business-tooltip" data-toggle="tooltip" title="Estimated distance driven by car and taxi. Electrical milage can be excluded. Lower consumption vehicles like diesel, ethanol and hybrid can be lowered if desiered to correspond to the milages of an average petrol car. If your hybrids consume 50% as much as a petrol car and you drive 20 miles, enter 10 miles here.">[?]</a>
            </label>
            <div class="col-sm-5">
              <div class="input-group">
                <%= f.number_field :car_distance, class: 'form-control' %>
                <div class="input-group-addon">kilometers</div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
              <h3 class="text-left">4. Food</h3>
              <p class="description">Depending on the type of business and the type of food served, food can be a large source of a business climate footprint.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_meals" class="col-sm-5 control-label">
              Number of meals
              <a class="business-tooltip" data-toggle="tooltip" title="The estimated number of meals served during the period. This includes all full meals that the business pays for.">[?]</a>
            </label>
            <div class="col-sm-5">
              <%= f.number_field :meals, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_meals_vegetarian_share" class="col-sm-5 control-label">
              Share of vegetarian meals
              <a class="business-tooltip" data-toggle="tooltip" title="The estimated share of vegetarian meals. With a veg-first policy, this is probably around 95%, without it's probably around 10%.">[?]</a>
            </label>
            <div class="col-sm-7">
              <div class="input-group">
                <%= f.number_field :meals_vegetarian_share, class: 'form-control', min: 0, max: 100 %>
                <div class="input-group-addon">%</div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
              <h3 class="text-left">5. Material</h3>
              <p class="description">Below is fields for the electronics bought during the period. Electronics often have a factor 10x larger climate footprint then most other material bought, like shirts or furniture. If large amounts of other material then electronics have been bought, like lots of furniture if the business has moved during the period, it can be calculated seperatly and entered in the Other-field at the end of this form.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_purchased_computers" class="col-sm-5 control-label">Purchased computers</label>
            <div class="col-sm-7">
              <%= f.number_field :purchased_computers, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_purchased_phones" class="col-sm-5 control-label">Purchased phones/tablets</label>
            <div class="col-sm-7">
              <%= f.number_field :purchased_phones, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_purchased_monitors" class="col-sm-5 control-label">Purchased monitors</label>
            <div class="col-sm-7">
              <%= f.number_field :purchased_monitors, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
              <h3 class="text-left">6. Other</h3>
              <p class="description">It's hard to capture a business all emissions in one form. Most companies have other sources of emissions that might be large, but not very common. Is your business orgaizing events with speakers from all around the world that are flown in? Do you have consultants that need to commute long distances every week to get to your customers? Calculate and enter the emissions below. If you need help with calculations, feel free to contact us at info@goclimateneutral.org.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_other_co2e" class="col-sm-5 control-label">Other footprint</label>
            <div class="col-sm-7">
              <div class="input-group">
                <%= f.number_field :other_co2e, class: 'form-control' %>
                <div class="input-group-addon">kg CO2e</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_other_specification" class="col-sm-5 control-label">Specify other footprint</label>
            <div class="col-sm-7">
              <%= f.text_area :other_specification, class: 'form-control', step: '0.1' %>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
              <h3 class="text-left">7. Contact</h3>
              <p class="description">To be able to get a link to the climate report we create you need to enter your e-mail adress.</p>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label for="climate_report_contact_email" class="col-sm-5 control-label">Contact email</label>
            <div class="col-sm-7">
              <%= f.email_field :contact_email, class: 'form-control', required: '' %>
            </div>
          </div>
        </div>

        <div class="content-section">
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
              <%= f.submit 'See my business footprint', class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <span class="glyphicon glyphicon-chevron-down first" aria-hidden="true"></span>
</div>
