<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">

          <h1 class="cover-heading">
            <%=t 'business.climate_reports.show.header' %>
          </h1>
          <p class="lead">
            <%=t 'business.climate_reports.show.result', 
                 calculation_period: @report.calculation_period, 
                 total_emissions: co2e_string(@report.calculation.total_emissions, omit_unit: true)
            %>
            <% if @report.employees > 1 %>
              <%=t 'business.climate_reports.show.result_per_employee', 
                   emissions_per_employee: co2e_string(@report.calculation.per_employee_emissions, omit_unit: true) %>
             <% end %>
          </p>

        </div>
      </div>
    </div>
  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <h1 class="cover-heading"><%=t 'business.climate_reports.show.reduce_header' %></h1>
          <p class="lead"><%=t 'business.climate_reports.show.reduce_body' %></p>

          <table class="table climate-report-table">
            <tbody>
              <% if @report.calculation.energy_emissions > 0 %>
                <tr class="active">
                  <th><%=t 'business.climate_reports.energy_header' %></th>
                  <td><%= co2e_string(@report.calculation.energy_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.electricity_consumption_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.electricity' %></td>
                  <td><%= co2e_string(@report.calculation.electricity_consumption_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.heating_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.heating' %></td>
                  <td><%= co2e_string(@report.calculation.heating_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.servers_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.servers' %></td>
                  <td><%= co2e_string(@report.calculation.servers_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.cloud_servers_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.cloud_servers' %></td>
                  <td><%= co2e_string(@report.calculation.cloud_servers_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.business_trips_emissions > 0 %>
                <tr class="active">
                  <th><%=t 'business.climate_reports.business_trips' %></th>
                  <td><%= co2e_string(@report.calculation.business_trips_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.flight_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.flights' %></td>
                  <td><%= co2e_string(@report.calculation.flight_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.car_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.car_taxi' %></td>
                  <td><%= co2e_string(@report.calculation.car_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.meals_emissions > 0 %>
                <tr class="active">
                  <th><%=t 'business.climate_reports.food' %></th>
                  <td><%= co2e_string(@report.calculation.meals_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.material_emissions > 0 %>
                <tr class="active">
                  <th><%=t 'business.climate_reports.material' %></th>
                  <td><%= co2e_string(@report.calculation.material_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.purchased_computers_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.purchased_computers' %></td>
                  <td><%= co2e_string(@report.calculation.purchased_computers_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.purchased_phones_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.purchased_phones' %></td>
                  <td><%= co2e_string(@report.calculation.purchased_phones_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.purchased_monitors_emissions > 0 %>
                <tr>
                  <td>- <%=t 'business.climate_reports.purchased_monitors' %></td>
                  <td><%= co2e_string(@report.calculation.purchased_monitors_emissions) %></td>
                </tr>
              <% end %>
              <% if @report.calculation.other_emissions > 0 %>
                <tr class="active">
                  <th><%=t 'business.climate_reports.other' %></th>
                  <td><%= co2e_string(@report.calculation.other_emissions) %></td>
                </tr>
                <% if @report.other_specification.present? %>
                  <tr>
                    <td><%= simple_format(@report.other_specification) %></td>
                    <td></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
            <tfoot>
              <tr class="active">
                <td><%=t 'business.climate_reports.total' %></td>
                <td><%= co2e_string(@report.calculation.total_emissions) %></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <h1 class="cover-heading"><%=t 'business.climate_reports.show.offset_and_get_report' %></h1>
          <p class="lead"><%=t 'business.climate_reports.show.offset_and_get_report_text' %></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row content-section">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

          <h1 class="cover-heading content-section"><%=t 'business.climate_reports.show.your_order' %></h1>

          <table class="content-section flight-offset-details">
            <tbody>
              <tr>
                <td colspan="2">
                  <ul class="flight-offset-details__segments">
                    <li>
                      <%=t 'business.climate_reports.show.carbon_offseting' %>: 
                      <%= co2e_string(@report.calculation.total_emissions, omit_unit: true) %> x <%= LifestyleChoice::BUFFER_SIZE %> (<%=t 'business.climate_reports.show.safety_factor' %>) = <%= co2e_string(@invoice.co2e) %>
                    <br>
                      <%=t 'business.climate_reports.show.safety_factor_explanation' %>
                    </li>
                    <li><%=t 'business.climate_reports.show.climate_report' %></li>
                  </ul>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="flight-offset-details__key-row">
                <td><%=t 'business.climate_reports.show.sum' %>:</td>
                <td><%= price_string(@invoice.amount, 'sek', lowest_denominator: true) %></td>
              </tr>
            </tfoot>
          </table>

          <%= render 'shared/projects' %>

        </div>
      </div>

      <%= form_for @invoice, url: business_climate_report_invoice_path(@report), html: { id: "payment-form", class: "form-horizontal content-section" } do |f| %>
        <% if @invoice.errors.any? %>
          <%# This is a panel because alerts are currently scripted to be dismissed automatically %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <% @invoice.errors.full_messages.each do |message| %>
                <p><%= message %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <label for="address" class="col-sm-5 control-label">
            <%=t 'business.climate_reports.show.invoice_address' %>
          </label>
          <div class="col-sm-7">
            <%= f.text_area :invoice_address, class: 'form-control', required: '' %>
          </div>
        </div>

        <div class="form-group">
          <label for="vat_number" class="col-sm-5 control-label">
            <%=t 'business.climate_reports.show.vat_number' %>
          </label>
          <div class="col-sm-7">
            <%= f.text_field :vat_number, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-5 control-label">
            <%=t 'business.climate_reports.show.invoice_email' %>
          </label>
          <div class="col-sm-7">
            <%= f.email_field :invoice_email, class: 'form-control' %>
          </div>
          <div class="col-sm-offset-5 col-sm-7">
            <span id="helpBlock" class="help-block text-left">
              <%=t 'business.climate_reports.show.invoice_email_text' %>
            </span>
          </div>
        </div>

        <div class="form-group form-group-sm-centered">
          <div class="col-sm-offset-5 col-sm-7">
            <input type="submit" value="<%=t 'business.climate_reports.show.order' %>" class="btn btn-success">
          </div>
        </div>
      <% end %>

      <div class="content-section">
        <p><%=t 'business.climate_reports.show.well_get_in_touch_html' %></p>
      </div>

      <div class="content-section">
        <p><%= link_to t('business.climate_reports.show.new_based_on_this'), new_business_climate_report_path(based_on: @report), class: 'btn btn-default' %></p>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer_old" %>

<%= intercom_script_tag(
  custom_data: {
    last_climate_report: @report.id
  }
) %>
