<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">

          <h1 class="cover-heading">
            <%=t 'business.climate_reports.show.header' %>
          </h1>
          <p class="lead">
            <%=t 'business.climate_reports.show.result', 
                    calculation_period: @report.calculation_period, 
                    total_emissions: co2e_string(@report.calculation.total_emissions, omit_unit: true),
                    emissions_per_employee: co2e_string(BigDecimal(@report.calculation.total_emissions / @report.employees),omit_unit: true) 
            %>
          </p>

        </div>
      </div>
    </div>
  </div>
  <span class="glyphicon glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <h1 class="cover-heading"><%=t 'business.climate_reports.show.offset_and_get_report' %></h1>
          <p class="lead"><%=t 'business.climate_reports.show.offset_and_get_report_text' %></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row content-section">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

          <h1 class="cover-heading content-section"><%=t 'business.climate_reports.show.your_order' %></h1>

          <table class="content-section flight-offset-details">
            <tbody>
              <tr>
                <td colspan="2">
                  <ul class="flight-offset-details__segments">
                    <li>
                      <%=t 'business.climate_reports.show.carbon_offseting' %>: 
                      <%= co2e_string(@report.calculation.total_emissions, omit_unit: true) %>
                      <%=t 'tonnes_carbon_dioxide' %>
                    </li>
                    <li><%=t 'business.climate_reports.show.climate_report' %></li>
                  </ul>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="flight-offset-details__key-row">
                <td><%=t 'business.climate_reports.show.sum' %>:</td>
                <td><%= price_string(@invoice.amount, 'sek', lowest_denominator: true) %></td>
              </tr>
            </tfoot>
          </table>

          <%= render 'shared/projects' %>

        </div>
      </div>

      <%= form_for [:business, @report, @invoice], url: business_climate_report_invoice_path(@report, @invoice), html: { id: "payment-form", class: "form-horizontal content-section" } do |f| %>
        <% if @invoice.errors.any? %>
          <%# This is a panel because alerts are currently scripted to be dismissed automatically %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <% @invoice.errors.full_messages.each do |message| %>
                <p><%= message %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <label for="address" class="col-sm-5 control-label">
            <%=t 'business.climate_reports.show.invoice_address' %>
          </label>
          <div class="col-sm-7">
            <%= f.text_area :invoice_address, class: 'form-control', required: '' %>
          </div>
        </div>

        <div class="form-group">
          <label for="vat_number" class="col-sm-5 control-label">
            <%=t 'business.climate_reports.show.vat_number' %>
          </label>
          <div class="col-sm-7">
            <%= f.text_field :vat_number, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-5 control-label">
            <%=t 'business.climate_reports.show.invoice_email' %>
          </label>
          <div class="col-sm-7">
            <%= f.email_field :invoice_email, class: 'form-control' %>
          </div>
          <div class="col-sm-offset-5 col-sm-7">
            <span id="helpBlock" class="help-block text-left">
              <%=t 'business.climate_reports.show.invoice_email_text' %>
            </span>
          </div>
        </div>

        <div class="form-group form-group-sm-centered">
          <div class="col-sm-offset-5 col-sm-7">
            <input type="submit" value="<%=t 'business.climate_reports.show.order' %>" class="btn btn-success">
          </div>
        </div>
      <% end %>

      <div class="content-section">
        <p><%=t 'business.climate_reports.show.well_get_in_touch_html' %></p>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>

<%= intercom_script_tag(
  custom_data: {
    last_climate_report: @report.id
  }
) %>
