<p id="notice"><%= notice %></p>

<h1 class="heading-lg">Climate Action Categories</h1>
<div class="panel panel-default">
<div class="panel-body">

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Achievement Name</th>
      <th>Achievement Description</th>
      <th>Achievement Image Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @climate_action_categories.each do |climate_action_category| %>
      <tr>
        <td><%= climate_action_category.id %></td>
        <td><%= climate_action_category.name %></td>
        <td><%= climate_action_category.description %></td>
        <td><%= climate_action_category.badge_name %></td>
        <td><%= climate_action_category.badge_description %></td>
        <% if climate_action_category.badge_image_url.eql? nil%>
          <td>No image chosen for this category achievement</td>
          <% else %>
          <td> <%= image_tag image_url(climate_action_category.badge_image_url), style: 'height:5%;width:auto;' %></td>
          <% end%>
        <td><%= link_to 'Edit', edit_admin_climate_action_category_path(climate_action_category) %></td> &nbsp;
        <% if ClimateAction.where(climate_action_category_id: climate_action_category.id).count==0%>
        <td><%= link_to 'Destroy', [:admin, climate_action_category], method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% else %>
        <td></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<%= link_to 'New Climate Action Category', new_admin_climate_action_category_path, class: 'button button-cta' %>
