<%= render "shared/header" %>

<section class="section-padding space-y-12">
  <% unless @should_update_card %>
    <div class="callout space-y-3 max-w-lg">
      <h2 class="heading text-center">Whoops!</h2>
      <p>We have noticed that we haven't offsetted your emisssons for a while. Please update your card to get started again.</p>
      <a href="<%= user_subscription_path %>" class="button">Update your card</a> 
    </div>
  <% end %>
  <div class="space-y-3 max-w-3xl">
    <h1 class="heading-lg">Confirm price increase</h1>
    <p>We need to transition away from fossil fuels as fast as possible. This is the reason we at GoClimate spend so much time and energy trying to find the most efficient and high quality climate projects out there.</p>
    <p>To keep the same high standard and keep working with Gold standard certified projects, we will implement a price increase.</p>
    <p>Your current monthly fee is <%= current_user.subscription_price %>, to continue offsetting your full carbon footprint, your new monthly fee will be <%= Subscriptions::Plan.for_footprint(current_user.current_plan.footprint, current_user.subscription_currency).price %> from July 1st 2021.</p>
    <div class="flex flex-row space-x-3">
      <%= form_with url: price_increase_confirmation_path do |form| %>
        <%= form.hidden_field :accepted, value: false %>
        <%= form.submit 'Keep old price', class: 'button' %>
      <% end %>
      <%= form_with url: price_increase_confirmation_path do |form| %>
        <%= form.hidden_field :accepted, value: true %>
        <%= form.submit 'Accept new price', class: 'button button-cta' %>
      <% end %>
    </div>
  </div>
</section>

<%= render "shared/bottom_landscape" %>
<%= render "shared/footer", skip_prefooter: true %>
