<div>
  <h2 class="text-sm"><%= t 'dashboard.footprint.heading' %></h2>
  <div class="mt-1">
    <span class="text-xl font-bold text-green-accent"><%= @footprint_tonnes.tonnes.round(1) %></span>
    <span class="text-lg font-semibold"><%= t 'tonnes_CO2' %></span>
  </div>
</div>

<div data-controller="tabs">
  <ul data-target="tabs.tablist">
    <li>
      <button type="button" data-target="tabs.tab"><%= t 'dashboard.footprint.heading_compared' %></button>
    </li>
    <li>
      <button type="button" data-target="tabs.tab"><%= t 'dashboard.footprint.heading_more' %></button>
    </li>
  </ul>
  <section class="space-y-6" data-target="tabs.panel">
    <%= render "chart_world_comparison" %>
  </section>
  <section class="space-y-3 m-lg:space-y-0" data-target="tabs.panel">
    <h3 class="heading m-lg:hidden"><%= t 'dashboard.footprint.heading_more' %></h3>
    <%= render "chart_categories" %>
  </section>
</div>
