<div class="callout max-w-md mx-auto" data-controller="registration-price registration-form">
  <h2 class="heading mb-6 text-center"><%= t 'views.registrations.subscribe_heading' %></h2>
  <input type="checkbox" id="step-one-done" class="toggler">

  <div class="toggler-checked:hidden">
    <p class="text-sm text-center mb-6"><%= t 'views.registrations.step' %> 1/2 &mdash; <%= t 'views.registrations.adjust_subscription' %></p>
  
    <div class="space-y-3">
      <div class="h-px w-full bg-gray-tint-2"></div>

      <div class="flex justify-between items-center">
        <span class="font-semibold"><%= t 'views.registrations.number_of_people' %></span>
        <div class="select-wrapper">
          <%= form_with method: :get, html: { 'data-target': 'registration-price.peopleForm', 'data-url': new_user_registration_path } do |f| %>
            <%= f.hidden_field(:lifestyle_footprint, :value => @footprint.key) %>
            <%= f.hidden_field(:membership, :value => "multi") %>
            <%= f.select :people,
              options_for_select(1..20, params[:people].presence || 1),
              {},
              { class: 'select', 'data-action': 'registration-price#update' }
            %>
          <% end %>
        </div>
      </div>

      <div class="h-px w-full bg-gray-tint-2"></div>

      <div class="flex justify-between">
        <span class="font-semibold"><%= t 'views.registrations.your_subscription' %></span>
        <span class="text-right"><span data-target="registration-price.subscription"><%= @subscription_tonnes.to_s(precision: :auto) %></span>/<%= t 'years.one' %></span>
      </div>

      <div class="h-px w-full bg-gray-tint-2"></div>

      <p class="heading-lg text-center py-6">
        <span data-target="registration-price.price"><%= @plan_price.to_s(precision: :auto) %></span>/<%= t 'months.one' %>
      </p>

      <label for="step-one-done" id="continue-to-payment" class="button button-cta w-full"><%= t 'views.registrations.continue_to_payment' %></label>
    </div>
  </div>

  <div class="toggler-not-checked:hidden">
    <p class="text-sm text-center mb-6"><%= t 'views.registrations.step' %> 2/2 &mdash; <%= t 'views.registrations.create_account' %></p>

    <%= form_with url: registration_path(resource_name, format: :json), html: { 'data-target': 'registration-form.form' } do |f| %>
      <%= f.hidden_field(:lifestyle_footprint, :value => @footprint&.key) %>
      <%= f.hidden_field :people, value: (params[:people].presence || 1), 'data-target': 'registration-price.peopleField' %>
      <%= fields_for @user do |user_form| %>
        <%= user_form.hidden_field :region %>

        <label for="email" class="block font-semibold"><%=t 'email' %></label>
        <%= user_form.email_field :email, required: true, id: "email", class: "input w-full" %>

        <label for="password" class="block font-semibold mt-3"><%=t 'password' %></label>
        <%= user_form.password_field :password, required: true, minlength: '6', maxlength: '128', size: 'auto', autocomplete: "off", id: "password", class: "input w-full" %>

        <div class="mt-3" data-controller="stripe-card-element" data-target="registration-form.stripeCardElement">
          <label for="card" class=" font-semibold"><%=t 'credit_or_debit_card' %></label>
          <div class="">
            <div id="card" class="input mb-1" data-target="stripe-card-element.container"></div>
            <div class="text-orange-shade-1" data-target="stripe-card-element.errors"></div>
            <i class="fa fa-lock" aria-hidden="true"></i> <span class="ml-1">Secured by Stripe</span>
            <%= f.hidden_field :payment_method_id, 'data-target': 'stripe-card-element.paymentMethodField' %>
          </div>
        </div>

        <div class="mt-3">
          <label>
            <%= f.check_box :privacy_policy, 'data-target': 'registration-form.privacyPolicyAgreement', 'data-action': 'change->registration-form#updateSubmitButton' %>
            <span>
              <%=t 'i_accept' %>
              <%= link_to I18n.t('our_privacy_policy'), privacy_policy_path, target: '_blank', class: 'link' %>
            </span>
          </label>
        </div>
      <% end %>
    <% end %>

    <p class="heading-lg text-center py-6">
      <span data-target="registration-price.price"><%= @plan_price.to_s(precision: :auto) %></span>/<%= t 'months.one' %>
    </p>

    <button class="button button-cta w-full" data-target="registration-form.submitButton" data-action="registration-form#submitWithCardDetails">
      <i class="fa fa-spinner fa-spin hidden" data-target="registration-form.loadingIndicator"></i>
      <%= t 'views.registrations.start_subscription' %>
    </button>
    <p class="text-orange-shade-1 ml-4" data-target="registration-form.errorMessage"></p>
    <div class="mt-3">
      <label for="step-one-done" class="link-ui text-sm"><- <%= t 'views.registrations.back' %></label>
    </div>
  </div>
</div>
