<%= render "shared/header" %>

<div class="bg-blue-pastel">

  <section class="section-padding">
    <h1 class="heading-xl mb-6"><%= t 'settings' %></h1>

    <div class="text-center mb-6">
      <ul class="inline-flex overflow-hidden rounded shadow">
        <li class="px-2 py-1 bg-primary text-white hover:bg-green-shade-1 transition ease-in-out duration-200"><%= link_to t('account_settings'), edit_user_registration_path %></li>
        <li class="px-2 py-1 bg-white hover:bg-green-shade-1 hover:text-white transition ease-in-out duration-200"><%= link_to t('payment_settings'), user_subscription_path %></li>
      </ul>
    </div>
    <div class="callout max-w-xl mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "space-y-3" }) do |f| %>
      <%= render "devise/shared/error_messages_old", resource: resource %>
        <div>
          <label for="userName" class="block font-bold"><%=t 'user_name' %></label>
        <%= f.text_field :user_name, autofocus: true, id: "userName", class: "input w-full" %>
        </div>
        <div>
          <label for="country" class="block font-bold"><%=t 'country' %></label>
          <div class="select-wrapper w-full">
            <%= f.country_select :country, {include_blank: true}, {selected: current_user.country_name, autofocus: true, id: "country", class: 'select'} %>
          </div>
        </div>
        <div>
          <label for="email" class="block font-bold"><%=t 'email' %></label>
          <%= f.email_field :email, autofocus: true, id: "email", class: "input w-full" %>
        </div>
        <div>
          <label for="password" class="block font-bold"><%=t 'password' %></label>
          <%= f.password_field :password, autocomplete: "off", id: "password", class: "input w-full" %>
        </div>
        <div>
          <label for="confirmationPassword" class="block font-bold"><%=t 'confirm_password' %></label>
          <%= f.password_field :password_confirmation, autocomplete: "off", id: "confirmationPassword", class: "input w-full" %>
        </div>
        <div>
          <%= f.submit t("update"), class: "button button-cta w-full"  %>
        </div>
      <% end %>
    </div>
  </section>

  <%= render "shared/bottom_landscape" %>
</div>

<%= render "shared/footer", skip_prefooter: true %>
