
      <div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">

        <div class="cover-container">

          
      <%= render "shared/header" %>


      <div class="inner cover">
      <h1 class="cover-heading"><%=t 'sign_up_for_a_climate_neutral_life' %></h1>
      <span class="glyphicon glyphicon glyphicon-hand-down" aria-hidden="true"></span>

      <p class="lead"><%=t 'sign_up_here_to_start_livint_a_climate_neutral_life' %></p>
      
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "payment-form", :class => "form-horizontal"}) do |f| %>
        <%= devise_error_messages! %>

        <%= render "shared/plan" %>

        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="email" class="col-sm-4 control-label padding-top"><%=t 'email' %></label>
          <div class="col-sm-4">
            <%= f.email_field :email, autofocus: true, id: "email", class: "form-control" %>
          </div>
        </div>
   
        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="password" class="col-sm-4 control-label padding-top"><%=t 'password' %></label>
          <div class="col-sm-4">
          <%= f.password_field :password, autocomplete: "off", id: "password", class: "form-control" %>
          </div>
        </div>
 
        <%= hidden_field(:user, :stripe_customer_id, :value => "") %>

        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="card-element" class="col-sm-4 control-label"><%=t 'credit_or_debit_card' %></label>
          <div id="card-element" class="col-sm-4 form-control">
          <!-- a Stripe Element will be inserted here. -->
          </div>
        </div>

        

        <div id="card-errors"></div>

        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-offset-3 col-sm-3">
          <button type="submit" class="btn btn-success"><%=t 'go_climate_neutral' %></button>
          </div>
        </div>

      <% end %>

      </div>

    </div>
    </div>