<%= render "shared/header" %>

<section class="bg-blue-tint-1">
  <div class="section-padding">
    <div class="text-center pb-8 t:pb-16 d:pb-32 lg:px-0 max-w-4xl mx-auto">
      <h1 class="font-semibold text-xl t:text-2xl d-md:text-3xl my-5"><%= t 'views.registrations.well_done' %></h1>
    </div>

    <div class="section-gutter flex flex-col t:flex-row t:justify-between">
      <div class="space-y-6 d:space-y-12 t:w-1/2">
        <% if @active_experiments&.include?(:new_signup) %>
          <%= render "calculator_result_new" %>
        <% else %>
          <%= render "calculator_result" %>
        <% end %>
      </div>

      <div class="t:w-1/2">
        <% if @active_experiments&.include?(:new_signup) %>
          <%= render "sign_up_form_without_subscription" %>
        <% else %>
          <%= render "sign_up_form" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render "footer" %>
