<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <h1 class="cover-heading"><%=t 'sign_up_for_a_climate_neutral_life' %></h1>
    <p class="lead"><%=t 'you_will_offset_for', cost: @current_plan_price.to_s(precision: :auto) %>. <%=t 'sign_up_here_to_start_livint_a_climate_neutral_life' %></p>

    <%= form_with url: registration_path(resource_name, format: :json), html: { id: "payment-form", class: "form-horizontal", data: { controller: 'registration-form', action: 'registration-form#submit' } } do |f| %>
      <%= f.hidden_field(:choices, :value => params[:choices]) %>

      <%= fields_for @user do |user_form| %>
        <%= user_form.hidden_field :region %>

        <div class="form-group">
          <label for="email" class="col-sm-offset-1 col-sm-4 control-label"><%=t 'email' %></label>
          <div class="col-sm-4">
            <%= user_form.email_field :email, required: true, id: "email", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-offset-1 col-sm-4 control-label"><%=t 'password' %></label>
          <div class="col-sm-4">
            <%= user_form.password_field :password, required: true, minlength: '6', maxlength: '128', autocomplete: "off", id: "password", class: "form-control" %>
          </div>
        </div>
      <% end %>

      <div class="form-group" data-controller="stripe-card-element" data-target="registration-form.stripeCardElement">
        <label for="card" class="col-sm-offset-1 col-sm-4 control-label"><%=t 'credit_or_debit_card' %></label>
        <div class="col-sm-4">
          <div id="card" class="form-control" data-target="stripe-card-element.container"></div>
          <div class="help-block text-warning hidden-when-empty" data-target="stripe-card-element.errors"></div>
          <span class="glyphicon glyphicon-large glyphicon glyphicon-lock secured-by-stripe" aria-hidden="true"></span>Secured by Stripe
          <%= f.hidden_field :payment_method_id, 'data-target': 'stripe-card-element.paymentMethodField' %>
        </div>
      </div>

      <div class="form-group form-group-sm-centered">
        <div class="col-sm-offset-5 col-sm-7">
          <div class="checkbox">
            <label>
              <%= f.check_box :privacy_policy, 'data-target': 'registration-form.privacyPolicyAgreement', 'data-action': 'change->registration-form#updateSubmitButton' %>
              <span>
                <%=t 'i_accept' %>
                <%= link_to I18n.t('our_privacy_policy'), privacy_policy_path, target: '_blank', class: 'privacy-policy-link' %>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group form-group-sm-centered">
        <div class="col-sm-offset-5 col-sm-3">
          <p class="text-warning hidden-when-empty" data-target="registration-form.errorMessage"></p>
          <button id="register-button" type="submit" class="btn btn-success" data-target="registration-form.submitButton">
            <i class="fa fa-spinner fa-spin hidden" data-target="registration-form.loadingIndicator"></i>
            <%=t 'go_climate_neutral' %>
          </button>
        </div>
      </div>
    <% end %>

    <p class="last plan-faq"><a href="/faq"><%=t 'faq_questions.questions.q18.question' %> <%=t 'faq_questions.questions.q19.question' %> <%=t 'faq_questions.questions.q20.question' %> <%=t 'read_more_on_frequently_asked_questions' %></a>.</p>
  </div>
  <a href="#second-section" data-controller="scroll-to" data-action="scroll-to#scroll"><span class="glyphicon glyphicon-large glyphicon-chevron-down glyphicon-plan-first" aria-hidden="true"></span></a>
</div>

<div id="second-section" class="site-wrapper-second">
<div class="inner">
    <span class="glyphicon glyphicon-large glyphicon-question-sign" aria-hidden="true"></span>
    <h1><%= title(t('where_will_my_money_be_used')) %></h1>
    <p class="lead"><%= description(t('we_invest_in_un_climate_projects_that_are_gold_standard_certified')) %></p>

    <div id="carousel-with-projects" class="carousel slide" data-ride="carousel" data-interval="8000">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-with-projects" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-with-projects" data-slide-to="1"></li>
        <li data-target="#carousel-with-projects" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <%= image_tag webpack_asset_path("images/carousel/thai_solar.jpg"), class: "small", alt: "" %>
          <%= image_tag webpack_asset_path("images/carousel/thai_solar_2.jpg"), class: "big", alt: "" %>
          <div class="carousel-caption">
            <h3>Thai Solar</h3>
            <p><%=t 'thai_solar_carousel_description' %></p>
          </div>
        </div>

        <div class="item">
          <%= image_tag webpack_asset_path("images/carousel/nanyang.jpg"), class: "small", alt: "" %>
          <%= image_tag webpack_asset_path("images/carousel/nanyang_2.jpg"), class: "big", alt: "" %>
          <div class="carousel-caption">
            <h3>Nanyang Danjiang River Solar Cooker Project</h3>
            <p><%=t 'nanyang_danjiang_carousel_description' %></p>
          </div>
        </div>

        <div class="item">
          <%= image_tag webpack_asset_path("images/carousel/dak_pone.jpg"), class: "small", alt: "" %>
          <%= image_tag webpack_asset_path("images/carousel/dak_pone_2.jpg"), class: "big", alt: "" %>
          <div class="carousel-caption">
            <h3>Dak Pone Hydro Power</h3>
            <p><%=t 'dak_pone_carousel_description' %></p>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-with-projects" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-large glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-with-projects" role="button" data-slide="next">
          <span class="glyphicon glyphicon-large glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
  
  <a href="#third-section" data-controller="scroll-to" data-action="scroll-to#scroll"><span class="glyphicon glyphicon-large glyphicon-chevron-down" aria-hidden="true"></span></a>
</div>

<div id="third-section" class="site-wrapper-third">
<div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-thumbs-up" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'good_to_know' %></h1>

    <div class="trust">
      <ul class="trust lead">
        <li><%=t 'why_trust_1' %></li>
        <li><%=t 'why_trust_2' %></li>
        <li><%=t 'why_trust_4' %></li>
        <li><%=t 'why_trust_5' %></li>
      </ul>
    </div>

  </div>
  
</div>
