      <div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
        
        <div class="cover-container">
          
          <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        
            <%= render "shared/user_menu" %>

            <%= form_for("users", as: resource_name, url: registration_path(resource_name), html: { id: "payment-form",method: :put, :class => "form-horizontal" }) do |f| %>

                <%= render "shared/plan" %>

                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <label for="current-card" class="col-sm-4 control-label padding-top"><%=t 'credit_or_debit_card' %></label>
                  <p id="current-card" class="col-sm-4 control-label"><%= @current_card.nil? ? t('no_card_registered') : @current_card %> (<a id="add-new-card" href="#"><%= @current_card.nil? ? t('add_new_card') : t('edit_card') %></a>)</p>
                </div>

                <%= hidden_field(:user, :stripe_customer_id, :value => "") %>

                <div id="new-card-div" class="form-group hidden">
                  <div class="col-sm-1"></div>
                  <label for="card-element" class="col-sm-4 control-label"><%=t 'add_new_card' %></label>
                  <div id="card-element" class="col-sm-4 form-control">
                  <!-- a Stripe Element will be inserted here. -->
                  </div>
                </div>

                <div id="card-errors"></div>

                <div class="actions">
                  <button id="register-button" type="submit" class="btn btn-success" onclick="this.disabled=true; this.value='Submitting...'; $('#payment-form').submit();">Update</button>
                </div>
              <% end %>


              </div>

        </div>
      </div>

<% content_for :javascript_tags do %>
  <script type="text/javascript">
    var STRIPE_PUBLISHABLE_KEY = "<%= ENV['PUBLISHABLE_KEY'] %>"
  </script>
  <%= javascript_include_tag 'users/registrations' %>
<% end %>
