<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>

    <h1 class="cover-heading"><%= title(t('press')) %></h1>
    <% description(t('press')) %>

    <p class="lead text-left"><%=t 'general_questions_press_html' %></p>
    <p class="lead text-left"><%=t 'press_credits' %></p>

    <h3><%=t 'press_images' %></h3>

    <table class="press">
      <% @press_images.each do |image| %>
        <% image_name = "#{image.split('/').last}" %>
        <tr>
          <td><a href="<%= webpack_asset_path("images/press/" + image_name) %>"><%= image_tag webpack_asset_path("images/press/" + image_name), height: "150", alt: "" %></a></td>
          <td><%= link_to image_name, webpack_asset_path("images/press/" + image_name) %></td>
        </tr>
      <% end %>
    </table>

    <h3><%=t 'press_social_images' %></h3>

    <table class="press">
      <% @press_social_images.each do |image| %>
        <% image_name = "#{image.split('/').last}" %>
        <tr>
          <td><a href="<%= webpack_asset_path("images/press_social/" + image_name) %>"><%= image_tag webpack_asset_path("images/press_social/" + image_name), height: "150", alt: "" %></a></td>
          <td><%= link_to image_name, webpack_asset_path("images/press_social/" + image_name) %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>

<%= render "shared/footer_old" %>
