<p id="notice"><%= notice %></p>

<p>
  <strong>Amount in sek:</strong>
  <%= @invoice.amount_in_sek %>
</p>

<p>
  <strong>Carbon offset:</strong>
  <%= @invoice.carbon_offset %>
</p>

<p>
  <strong>Att:</strong>
  <%= @invoice.att %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @invoice.company_name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @invoice.adress %>
</p>

<p>
  <strong>Org_nr:</strong>
  <%= @invoice.org_nr %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
