<%= render 'admin/shared/notice_banner' %>

<h1>Reported data</h1>
<% if @report %>
  <h3>For report: <%= link_to @report.title, [:admin, @report] %></h3>
<% end %>
<% if @report_area %>
  <h3>For report area: <%= link_to @report_area.title, [:admin, @report_area.report] %></h3>
<% end %>
<% if @report || @report_area %>
  <p>Showing the latest answer for each question.</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Report area</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Unit</th>
      <% unless @report %>
        <th>Report</th>
      <% end %>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reported_datas&.each do |data| %>
      <tr>
        <td><%= data[:report_area].title %></td>
        <td><%= data[:reported_data].calculator_field.label %></td>
        <td><%= data[:reported_data].value %></td>
        <td><%= data[:reported_data].unit %></td>
        <% unless @report %>
          <td><%= link_to data[:report].title, admin_reported_datas_path(report_id: data[:report].id) %></td>
        <% end %>
        <td><%= time_tag(data[:reported_data].created_at, format: '%F %R') %></td>
        <td class="admin-actions">
          <%= link_to 'Show', admin_reported_data_path(data[:reported_data]) %> &nbsp;
          <%= link_to 'Destroy', admin_reported_data_path(data[:reported_data]), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Export data to .csv', export_to_csv_admin_reported_datas_path(params.permit(:report_id, :report_area_id)), class: 'btn btn-default' %>
