<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Reported data', actions: [
    {
      title: 'Export data to .xlsx',
      path: export_to_xlsx_admin_reported_datas_path(params.permit(:report_id, :report_area_id)),
      class: 'button-cta'
    }
  ] %>

  <% if @report %>
    <h3 class="heading">For report: <%= link_to @report.title, [:admin, @report], class: 'link' %></h3>
  <% end %>
  <% if @report_area %>
    <h3 class="heading">For report area: <%= link_to @report_area.title, [:admin, @report_area.report], class: 'link' %></h3>
  <% end %>

  <div data-controller="tabs">
    <% if @report %>
      <ul data-target="tabs.tablist">
        <% @report&.areas&.each do |report_area| %>
          <li>
            <a href="#" data-target="tabs.tab"><%= report_area.title %><%= ' (survey)' if report_area.calculator.survey %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% @report_areas.each do |report_area| %>
      <section data-target="tabs.panel">
        <table class="table">
          <thead>
            <tr>
              <th>Question</th>
              <th>Answer</th>
              <th>Unit</th>
              <th><span class="whitespace-nowrap">Created at</span></th>
              <th>User</th>
              <th><span class="whitespace-nowrap">Answer ID</span></th>
            </tr>
          </thead>
          <tbody>
            <% report_area.fields.each do |calculator_field| %>
              <% answers = calculator_field.answers(report_area) %>

              <% (answers.empty? ? 1 : answers.length).times do |answer_index| %>
                <tr>
                  <td><%= ("#{calculator_field.label}#{' [multiple answers allowed]' if calculator_field.multiple_answers}") if answer_index == 0 %></td>
                  <td><%= answers[answer_index]&.value || '-' %></td>
                  <td><%= answers[answer_index]&.unit unless answers[answer_index]&.unit == 'freeform' %></td>
                  <td><span class="whitespace-nowrap"><%= time_tag(answers[answer_index]&.created_at, format: '%F %R') if answers[answer_index].present? %></span></td>
                  <td><%= link_to(answers[answer_index]&.data_request&.data_reporter&.email, [:admin, answers[answer_index]&.data_request&.data_reporter], class: 'link-ui text-green-shade-2') if answers[answer_index].present? %></td>
                  <td><%= answers[answer_index]&.id %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>
  </div>
</div>
