<%= render "shared/header" %>

<section class="section-padding">
    <h1 class="heading-xl mb-6">Klimatkompensera din flygresa!</h1>
    <p class="d:w-1/2">GoClimate hjälper FlygCitys kunder att klimatkompensera sina flygresor. Välj att du vill klimatkompensera när du bokar din resa på <%= link_to 'flygcity.se', 'https://www.flygcity.se/', class: 'link', target: '_blank', rel: 'noopener' %> så fixar FlygCity och vi resten!</p>
</section>

<section class="section-padding space-y-3">
  <h2 class="heading-lg">Klimatprojekt som FlygCity har stöttat</h2>
  <p class="d:w-1/2">FlygCitys kunder har stöttat följande klimatprojekt när de klimatkompenserat sina flygresor.</p>

  <table class="w-full text-center">
    <tbody class="divider-y">
      <tr>
        <th></th>
        <th class="p-2 align-middle"><%=t 'project_name' %></th>
        <th class="p-2 align-middle"><%=t 'country' %></th>
        <th class="p-2 align-middle"><%=t 'map' %></th>
        <th class="p-2 align-middle"><%=t 'our_investment_certificate' %></th>
        <th class="p-2 align-middle"><%=t 'date_of_our_investment' %></th>
        <th class="p-2 align-middle"><%=t 'more_info_on_blog' %></th>
      </tr>
      <% @projects.each do |project| %>
        <tr>
          <td class="p-2 align-middle"><%= image_tag project.image_url, class: "rounded h-12 inline-block" %></td>
          <td class="p-2 align-middle"><a href ="<%= project.blog_url %>" class="link"><%= project.name %></a></td>
          <td class="p-2 align-middle"><%= project.country %></td>
          <td class="p-2 align-middle"><a href="https://www.google.com/maps?z=15&t=k&q=loc:<%= project.latitude %>+<%= project.longitude %>" target="_blank" rel="noopener noreferrer" class="link">Google Maps</a></td>
          <% if project.certificate_url.nil? || project.certificate_url.empty? %>
            <td class="p-2 align-middle">-</td>
          <% else %>
            <td class="p-2 align-middle"><a href="<%= project.certificate_url %>" class="link"><%=t 'certificate' %></a></td>
          <% end %>
          <td class="p-2 align-middle"><%= project.date_bought.to_date %></td>
          <td class="p-2 align-middle"><a href ="<%= project.blog_url %>" class="link"><%=t 'read_more' %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="section-padding">
  <div class="section-gutter t:flex t:flex-row t:items-center">
    <div class="t:w-1/2 space-y-6">
      <h2 class="heading-lg"><%=t 'we_are_100_transparent' %></h2>
      <p>
        <%=t 'section_3_text' %>
        <%= link_to 'Läs mer om vår transparens här', transparency_path, class: 'link' %>.
      </p>
    </div>
    <div class="t:w-1/2">
      <%= image_tag webpack_asset_path('images/illustrations/transparency.png'), 
        srcset: { 
            webpack_asset_path("images/illustrations/transparency-2x.png") => "2x", 
            webpack_asset_path("images/illustrations/transparency-3x.png") => "3x" 
        }, 
        class: 'w-full max-w-md mx-auto', alt: '' %>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
