<h1>Admin</h1>

<h3>Status CO2eq bought / sold</h3>
<ul>
  <li>Total CO2eq bought: <%= @total_co2_bought %></li>
  <li>Total CO2eq consumed: <%= @total_co2_consumed %></li>
  <li>Result right now: <%= (@total_co2_bought - @total_co2_consumed) %></li>
</ul>

<h3>Status economy</h3>
<ul>
  <li>Not registered invoices: <b><%= @missing_fortnox_ids %></b></li>
  <li>Total recieved: <%= number_with_delimiter(@payouts_in_sek) %> SEK</li>
  <li>Total spent on offsets: <%= number_with_delimiter(@total_sek_spent) %> SEK</li>
</ul>

<h3>Growth</h3>
<table class="table table-striped table-condensed">
  <tr>
    <th style="min-width: 120px;"></th>
    <% (0..30).each do |i| %>
      <% if (Date.today - i).wday == 0 %>
        <th style="background-color: red;">
      <% elsif (Date.today - i).wday == 6 %>
        <th style="background-color: orange;">
      <% else %>
        <th>
      <% end %>
        <%= (Date.today - i).day.to_s + "/" + (Date.today - i).month.to_s %>
      </th>
    <% end %>
  </tr>
  <tr>
    <td>new&nbsp;users</td>
    <% (0..30).each do |i| %>
      <td><%= @new_users[(Date.today - i).to_s].nil? ? 0 : @new_users[(Date.today - i).to_s] %></td>
    <% end %>
  </tr>
  <tr>
    <td>mean&nbsp;14&nbsp;days</td>
    <% (0..30).each do |i| %>
      <td><%= @new_users_mean[(Date.today - i).to_s] %></td>
    <% end %>
  </tr>
</table>

<h3>Churn</h3>
<table class="table table-striped table-condensed">
  <tr>
    <th style="min-width: 120px;"></th>
    <% (0..30).each do |i| %>
      <% if (Date.today - i).wday == 0 %>
        <th style="background-color: red;">
      <% elsif (Date.today - i).wday == 6 %>
        <th style="background-color: orange;">
      <% else %>
        <th>
      <% end %>
        <%= (Date.today - i).day.to_s + "/" + (Date.today - i).month.to_s %>
      </th>
    <% end %>
  </tr>
  <tr>
    <td>churend&nbsp;users</td>
    <% (0..30).each do |i| %>
      <td><%= @churned_users[(Date.today - i).to_s].nil? ? 0 : @churned_users[(Date.today - i).to_s] %></td>
    <% end %>
  </tr>
  <tr>
    <td>mean&nbsp;14&nbsp;days</td>
    <% (0..30).each do |i| %>
      <td><%= @churned_users_mean[(Date.today - i).to_s] %></td>
    <% end %>
  </tr>
</table>

<h3>CO2-credits sold</h3>
<table class="table table-striped table-condensed">
  <tr>
    <th style="min-width: 120px;"></th>
    <% @offsetting_statistics.card_payments_co2e_per_month.each do |key, _| %>
      <th style="white-space: nowrap;">
        <%= key %>
      </th>
    <% end %>
  </tr>
  <tr>
    <td>individuals</td>
    <% @offsetting_statistics.card_payments_co2e_per_month.each do |_, value| %>
      <td><%= number_with_delimiter(value.to_i) %></td>
    <% end %>
  </tr>
  <tr>
    <td>invoices</td>
    <% @offsetting_statistics.card_payments_co2e_per_month.each do |key, _| %>
      <td><%= number_with_delimiter(@offsetting_statistics.invoices_co2e_per_month[key].to_i / 1000) %></td>
    <% end %>
  </tr>
  <tr>
    <td>climate report invoices</td>
    <% @offsetting_statistics.card_payments_co2e_per_month.each do |key, _| %>
      <td><%= number_with_delimiter(@offsetting_statistics.climate_report_invoices_co2e_per_month[key].to_i / 1000) %></td>
    <% end %>
  </tr>
  <tr>
    <td>total</td>
    <% @offsetting_statistics.card_payments_co2e_per_month.each do |key, value| %>
      <td><%= number_with_delimiter((value + @offsetting_statistics.invoices_co2e_per_month[key].to_i / 1000 + @offsetting_statistics.climate_report_invoices_co2e_per_month[key].to_i / 1000).to_i) %></td>
    <% end %>
  </tr>
</table>


