<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner">

    <span class="green-leaf"><%= image_tag 'green.svg', style: 'width: 100px' %></span>
    <h1 class="cover-heading">Klimatkompensera din flygresa</h1>
    <p class="lead">
      Att klimatkompensera är att ta ansvar för ditt klimatavtryck.
      Vi erbjuder möjligheten att klimatkompensera din flygresa i certifierade klimatprojekt.
    </p>
  </div>
  <span class="glyphicon glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

          <h1 class="cover-heading content-section">Din order</h1>

          <table class="content-section flight-offset-details">
            <tbody>
              <tr class="flight-offset-details__key-row">
                <td colspan="2">Flyg i biljettklass <%= @offset_params.cabin_class %></th>
              </tr>
              <tr>
                <td colspan="2">
                  <ul class="flight-offset-details__segments">
                    <% @offset_params.segments.each do |segment| %>
                      <li>
                        <%= Airport.find(segment.origin).name %> -
                        <%= Airport.find(segment.destination).name %>
                      </li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <tr class="flight-offset-details__key-row">
                <td>Klimatavtryck:</td>
                <td>
                  <%= co2e_string(@one_person_footprint) %>/person
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  Total <% if @num_persons > 1 %>(<%= @num_persons %> personer)<% end %>:
                </td>
                <td>
                  <%= co2e_string(@total_footprint) %>
                </td>
              </tr>
              <tr class="flight-offset-details__key-row">
                <td>Summa:</td>
                <td><%= (@price / 100).to_i %> kr</td>
              </tr>
            </tfoot>
          </table>

          <div class="panel panel-default panel-full-width panel-left-align content-section">
            <div class="panel-heading">
              <h4 class="panel-title">Hit går pengarna</h4>
            </div>
            <div class="panel-body">
              <p>
                Vi investerar i tredjepartsgranskade och FN-certifierade
                klimatprojekt med den extra certifieringen Gold Standard.
                Projekten minskar utsläpp motsvarande din flygresas
                klimatavtryck och bidrar till den globala omställningen till
                förnyelsebar energiproduktion. Här är våra två senaste projekt.
              </p> <div class="projects-teaser">
                <div class="projects-teaser__project-container">
                  <% @projects.each do |project| %>
                    <div class="projects-teaser__project">
                      <div class="projects-teaser__project-image" style="background-image: url('<%= project.image_url %>')">
                      </div>
                      <div class="projects-teaser__project-info">
                        <p><strong><%= project.name %></strong></p>
                        <p><%= project.carbon_offset %> ton koldioxid</p>
                      </div>
                    </div>
                  <% end %>
                </div>
                <p class="projects-teaser__all-projects-link"><%= link_to 'Se alla våra projekt', our_projects_path %></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <%= form_tag(flight_offsets_path, id: "payment-form", class: "form-horizontal") do %>
        <%= hidden_field_tag :co2e, @total_footprint %>
        <%= hidden_field_tag :amount, @price %>
        <%= hidden_field_tag :currency, 'sek' %>
        <%= hidden_field_tag :offset_params, params[:offset_params] %>
        <%= hidden_field_tag :num_persons, params[:num_persons] %>

        <div class="form-group">
          <label for="footprint" class="col-sm-5 control-label padding-top">Din order</label>
          <div class="col-sm-7 padding-top">
            <%= co2e_string(@total_footprint) %>
          </div>
        </div>

        <div class="form-group">
          <label for="price" class="col-sm-5 control-label padding-top">Summa</label>
          <div class="col-sm-7 padding-top">
             <%= (@price / 100).to_i %> kr
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-5 control-label padding-top">E-post</label>
          <div class="col-sm-7">
            <%= email_field_tag :email, @offset&.email, class: 'form-control', required: '' %>
          </div>
        </div>

        <div class="form-group">
          <label for="card-element" class="col-sm-5 control-label"><%=t 'credit_or_debit_card' %></label>
          <div class="col-sm-7">
            <div id="card-element" class="form-control">
              <!-- a Stripe Element will be inserted here. -->
            </div>
            <span class="glyphicon glyphicon glyphicon-lock secured-by-stripe" aria-hidden="true"></span>Secured by Stripe
          </div>
        </div>

        <div id="card-errors">
          <%= @checkout.errors.values.join(', ') if @checkout&.errors&.any? %>
        </div>

        <div class="form-group form-group-sm-centered">
          <div class="col-sm-offset-5 col-sm-7">
            <input id="register-button" type="submit" value="Klimatkompensera" class="btn btn-success">
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "shared/footer" %>

<% content_for :javascript_tags do %>
  <script type="text/javascript">
    var STRIPE_PUBLISHABLE_KEY = "<%= ENV['PUBLISHABLE_KEY'] %>"

    window.addEventListener('DOMContentLoaded', function() {
      new OffsetPaymentForm(
        document.getElementById('payment-form'),
        document.getElementById('card-errors'),
        document.getElementById('register-button')
      );
    })
  </script>
<% end %>
