<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner">

    <span class="green-leaf"><%= image_tag webpack_asset_path('images/green.svg'), style: 'width: 100px' %></span>
    <h1 class="cover-heading"><%=t 'views.flight_offsets.new.header' %></h1>
    <p class="lead"><%=t 'views.flight_offsets.new.header_description' %></p>
  </div>
  <span class="glyphicon glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

          <h1 class="cover-heading content-section"><%=t 'views.flight_offsets.new.your_order' %></h1>

          <table class="content-section flight-offset-details">
            <tbody>
              <tr class="flight-offset-details__key-row">
                <td colspan="2"><%=t 'views.flight_offsets.new.flight_in_cabin_class' %> <%= @offset_params.cabin_class %></th>
              </tr>
              <tr>
                <td colspan="2">
                  <ul class="flight-offset-details__segments">
                    <% @offset_params.segments.each do |segment| %>
                      <li>
                        <%= FootprintCalculation::Airport.find(segment.origin).name %> -
                        <%= FootprintCalculation::Airport.find(segment.destination).name %>
                      </li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <tr class="flight-offset-details__key-row">
                <td><%=t 'views.flight_offsets.new.carbon_footprint' %>:</td>
                <td>
                  <%= co2e_string(@footprint_per_person) %>/<%=t 'views.flight_offsets.new.person' %>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <%=t 'views.flight_offsets.new.total' %> <% if @num_persons > 1 %>(<%= @num_persons %> <%=t 'views.flight_offsets.new.people' %>)<% end %>:
                </td>
                <td>
                  <%= co2e_string(@total_footprint) %>
                </td>
              </tr>
              <tr class="flight-offset-details__key-row">
                <td><%=t 'views.flight_offsets.new.sum' %>:</td>
                <td><%= (@price / 100).to_i %> kr</td>
              </tr>
            </tfoot>
          </table>

          <%= render 'shared/projects' %>

        </div>
      </div>

      <%= form_tag(flight_offsets_path, id: "payment-form", class: "form-horizontal") do %>
        <%= hidden_field_tag :co2e, @total_footprint %>
        <%= hidden_field_tag :amount, @price %>
        <%= hidden_field_tag :currency, 'sek' %>
        <%= hidden_field_tag :offset_params, params[:offset_params] %>
        <%= hidden_field_tag :num_persons, params[:num_persons] %>

        <div class="form-group">
          <label for="footprint" class="col-sm-5 control-label padding-top"><%=t 'views.flight_offsets.new.your_order' %></label>
          <div class="col-sm-7 padding-top">
            <%= co2e_string(@total_footprint) %>
          </div>
        </div>

        <div class="form-group">
          <label for="price" class="col-sm-5 control-label padding-top"><%=t 'views.flight_offsets.new.sum' %></label>
          <div class="col-sm-7 padding-top">
             <%= (@price / 100).to_i %> kr
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-5 control-label padding-top"><%=t 'email' %></label>
          <div class="col-sm-7">
            <%= email_field_tag :email, @offset&.email, class: 'form-control', required: '' %>
          </div>
        </div>

        <div class="form-group">
          <label for="card-element" class="col-sm-5 control-label"><%=t 'credit_or_debit_card' %></label>
          <div class="col-sm-7">
            <div id="card-element" class="form-control">
              <!-- a Stripe Element will be inserted here. -->
            </div>
            <span class="glyphicon glyphicon glyphicon-lock secured-by-stripe" aria-hidden="true"></span>Secured by Stripe
          </div>
        </div>

        <div id="card-errors">
          <%= @checkout.errors.values.join(', ') if @checkout&.errors&.any? %>
        </div>

        <div class="form-group form-group-sm-centered">
          <div class="col-sm-offset-5 col-sm-7">
            <input id="register-button" type="submit" value="Klimatkompensera" class="btn btn-success">
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "shared/footer" %>

<% content_for :javascript_tags do %>
  <script type="text/javascript">
    var STRIPE_PUBLISHABLE_KEY = "<%= ENV['PUBLISHABLE_KEY'] %>"

    window.addEventListener('DOMContentLoaded', function() {
      new OffsetPaymentForm(
        document.getElementById('payment-form'),
        document.getElementById('card-errors'),
        document.getElementById('register-button')
      );
    })
  </script>
<% end %>
