<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="green-leaf"><%= image_tag webpack_asset_path('images/green.svg'), style: 'width: 100px' %></span>
    <h1 class="cover-heading"><%= title(t('views.flight_offsets.new.header')) %></h1>
    <p class="lead"><%= description(t('views.flight_offsets.new.header_description')) %></p>
  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<div class="site-wrapper-second">
  <div class="inner inner--with-grid">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

          <h1 class="cover-heading content-section"><%=t 'views.flight_offsets.new.your_order' %></h1>

          <table class="content-section flight-offset-details">
            <tbody>
              <tr class="flight-offset-details__key-row">
                <td colspan="2"><%=t 'views.flight_offsets.new.flight_in_cabin_class' %> <%= @flight_footprint.cabin_class %></th>
              </tr>
              <tr>
                <td colspan="2">
                  <ul class="flight-offset-details__segments">
                    <% @flight_footprint.segments.each do |segment| %>
                      <li>
                        <%= FootprintCalculation::Airport.find(segment.origin).name %> -
                        <%= FootprintCalculation::Airport.find(segment.destination).name %>
                      </li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <tr class="flight-offset-details__key-row">
                <td><%=t 'views.flight_offsets.new.carbon_footprint' %>:</td>
                <td>
                  <%= @footprint_per_person.to_s(precision: :auto) %>/<%=t 'views.flight_offsets.new.person' %>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <%=t 'views.flight_offsets.new.total' %> <% if @num_persons > 1 %>(<%= @num_persons %> <%=t 'views.flight_offsets.new.people' %>)<% end %>:
                </td>
                <td>
                  <%= @offset.co2e.to_s(precision: :auto) %>
                </td>
              </tr>
              <tr class="flight-offset-details__key-row">
                <td><%=t 'views.flight_offsets.new.sum' %>:</td>
                <td><%= @offset.price.to_s(precision: :auto) %></td>
              </tr>
            </tfoot>
          </table>

          <%= render 'shared/projects' %>

        </div>
      </div>

      <%= form_with model: @offset, format: :json, class: 'form-horizontal', html: { 'data-controller': 'checkout-form', 'data-action': 'checkout-form#submit' } do |f| %>
        <%= f.hidden_field :co2e, value: @offset.co2e.co2e %>
        <%= f.hidden_field :currency %>

        <div class="form-group">
          <label for="footprint" class="col-sm-5 control-label"><%=t 'views.flight_offsets.new.your_order' %></label>
          <div class="col-sm-7 form-control-static">
            <%= @offset.co2e.to_s(precision: :auto) %>
          </div>
        </div>

        <div class="form-group">
          <label for="price" class="col-sm-5 control-label padding-top"><%=t 'views.flight_offsets.new.sum' %></label>
          <div class="col-sm-7 form-control-static">
             <%= @offset.price.to_s(precision: :auto) %>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-5 control-label padding-top"><%=t 'email' %></label>
          <div class="col-sm-7">
            <%= f.email_field :email, class: 'form-control', required: '' %>
          </div>
        </div>

        <div class="form-group" data-controller="stripe-card-element" data-target="checkout-form.stripeCardElement">
          <label class="col-sm-5 control-label">
            <%=t 'credit_or_debit_card' %>
          </label>
          <div class="col-sm-7">
            <div class="form-control" data-target="stripe-card-element.container"></div>
            <div class="help-block text-warning hidden-when-empty" data-target="stripe-card-element.errors"></div>
            <span class="glyphicon glyphicon-large glyphicon-lock secured-by-stripe" aria-hidden="true"></span>Secured by Stripe
          </div>
        </div>

        <p class="text-warning hidden-when-empty" data-target="checkout-form.errorMessage"></p>

        <div class="form-group form-group-sm-centered">
          <div class="col-sm-offset-5 col-sm-7">
            <button type="submit" data-target="checkout-form.submitButton" class="btn btn-success">
              <i class="fa fa-spinner fa-spin hidden" data-target="checkout-form.loadingIndicator"></i>
              <%=t 'views.flight_offsets.new.submit' %>
            </input>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "shared/footer_old" %>
