<%= render "shared/header" %>

<div class="section-padding pb-0">
  <h1 class="heading border-b-4 inline-block"><%= title(t('views.flight_offsets.heading')) %></h1>
</div>

<section class="section-padding">
  <div class="section-gutter flex flex-col d:flex-row">
    <div class="d:w-1/2">
      <h1 class="heading-xl mb-6">
        <%= t('views.flight_offsets.thank_you.header') %>
      </h1>
      <p>
        <%= t('views.flight_offsets.thank_you.lead') %>
        <%=t 'views.flight_offsets.thank_you.we_have_sent_an_email' %>
      </p>
      <p class="space-x-3 mt-3">
        <%= link_to t('views.flight_offsets.thank_you.download_certificate'), flight_offset_certificates_path(@offset, format: :pdf), class: 'link' %>
        <%= link_to t('views.flight_offsets.thank_you.download_receipt'), flight_offset_receipts_path(@offset, format: :pdf), class: 'link' %>
      </p>


      
</section>

<%= render "shared/footer" %>
