<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner inner--bottom-padding">

    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>

    <div class="content-section">
      <h1 class="cover-heading">Tack!</h1>
      <p class="lead">
        Genom att klimatkompensera har du tagit ansvar för din flygresas klimatavtryck.
      </p>
      <p class="lead">
        <%= link_to 'Ladda ner ditt certifikat', flight_offset_certificates_path(@offset, format: :pdf), class: 'btn btn-success' %>
        <%= link_to 'Ladda ner kvitto', flight_offset_receipts_path(@offset, format: :pdf), class: 'btn btn-link' %>
      </p>
      <p>
        Vi har skickat ditt certifikat till e-postadressen som du angav.
      </p>
    </div>
    <div class="content-section">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            Du vet väl att du kan klimatkompensera för hela din livsstil via oss?
          </p>
          <p>
            <strong><%= link_to 'Läs mer och bli medlem', '/' %></strong>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>

<script type="text/javascript">
ga('send', 'event', 'Flight Offsets', 'Purchased');
</script>
