<%= render 'admin/shared/notice_banner' %>

<h1>Data Requests</h1>
<% if @report %>
  <h3>For report: <%= link_to @report.title, [:admin, @report] %></h3>
<% end %>
<% if @report_area %>
  <h3>For report area: <%= link_to @report_area.title, [:admin, @report_area.report] %></h3>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Recipient</th>
      <th>Report</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_requests.each do |data_request| %>
      <% report = ClimateReports::ReportArea.find(data_request.report_area_id).report %>
      <tr>
        <td>
          <% reporter = DataReporter.find(data_request.recipient_id) %>
          <%= link_to reporter.email, [:admin, reporter] %>
        </td>
        <td><%= link_to report.title, [:admin, report] %></td>
        <td><%= time_tag(data_request.created_at, format: '%F %R') %></td>
        <td class="admin-actions">
          <%= link_to 'Show', [:admin, data_request] %> &nbsp;
          <%= link_to 'Edit', edit_admin_data_request_path(data_request) %> &nbsp;
          <%= link_to 'Destroy', [:admin, data_request], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
