<%= render "shared/header" %>

<h1 class="heading-xl text-center">I am blog</h1>

<div class="section-padding">
    <div class="my-12">
      <h2 class="heading-lg mb-6">
        <%= raw(@post.title_html) %>
      </h2>
      <p>
        <%= raw(@post.content_html) %>
      </p>
      <div>
      </div>
    </div>
    <%= form_with url: blog_post_blog_comments_path(@post.id), method: :post do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'input' %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'input' %>
      </div>
        <%= f.label :comment %>
        <%= f.text_area :comment, class: 'input' %>
      </div>
      <div>
        <%= f.submit 'Publish', class: 'button' %>
      </div>
    <% end %>
  <% @comments.each do |comment| %>
    <div class="my-12">
      <%= raw(comment.content_html) %>
    </div>
  <% end %>

  
</div>

<%= render "shared/footer" %>
