<%= form_with(model: action_category, local: true) do |form| %>
  <% if action_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_category.errors.count, "error") %> prohibited this action_category from being saved:</h2>

      <ul>
        <% action_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
