<div class = "container" style = "margin-bottom: 10px;display: inline-block;float:left;width:45%;margin-left:10px">
<h3 class="heading">Action of the month:</h3>
  <div class = "card" style = "outline: 2px dashed grey">
      <% if @action_of_the_month.nil?%>
      <h6 style="text-align:center"><b>No action of the month is chosen, please choose one.</b></h6> 
      <%else%>
      <h4 style="text-align:center"><b><%= @action_of_the_month.name %></b></h4> 
      <% if !@action_of_the_month.image_url.eql? nil%>
      <%= image_tag image_url(@action_of_the_month.image_url), style: 'height:auto%;width:15%;display:block;margin-left:auto;margin-right:auto;' %>
      <% end%>
      <table class = "table">
        <tr>
          <th>Description:</th>
          <td><%= @action_of_the_month.description%></td>
        </tr>
        <tr>
          <th>Points:</th>
          <td><%= @action_of_the_month.points%> CO2</td>
        </tr>
        <tr>
          <th>Category:</th>
          <td><%= ClimateActionCategory.find_by(id: @action_of_the_month.climate_action_category_id).name%></td>
        </tr>
        <tr>
          <th>Times performed:</th>
          <% if @action_of_the_month_number_of_times_performed.nil? %>
          <td> No one have performed this action</td>
          <% else %>
          <td><%= @action_of_the_month_number_of_times_performed %></td>
          <% end%>
        </tr>
      </table> 
      <%end%>
  </div>
<%= link_to "Change Action Of The Month", admin_climate_actions_show_climate_actions_path, remote: true, class: 'button button-cta mt-5' %>
</div>