<%= form_with(model: [:admin, climate_action], local: true) do |form| %>
  <% if climate_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(climate_action.errors.count, "error") %> prohibited this climate_action from being saved:</h2>

      <ul>
        <% climate_action.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :maxlength => 25, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, :maxlength => 40, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :points %>
    <%= form.number_field :points, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :repeatable %>
    <%= form.check_box :repeatable %>
  </div>

  <div class="form-group">
    <%= form.label :action_of_the_month %>
    <%= form.check_box :action_of_the_month%>
  </div>

<div class="form-group">
    <%= form.label :climate_action_category_id %>
    <%= form.collection_select :climate_action_category_id, ClimateActionCategory.all , :id, :name, class: 'form-control'%>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
