<%= form_with(model: [:admin, climate_action], local: true) do |form| %>
  <% if climate_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(climate_action.errors.count, "error") %> prohibited this climate_action from being saved:</h2>

      <ul>
        <% climate_action.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= form.label :name, class: 'font-bold' %>
    <%= form.text_field :name, :maxlength => 40, class: 'input'  %>
  </div>

  <div class="flex flex-col">
    <%= form.label :description, class: 'font-bold'  %>
    <%= form.text_field :description, :maxlength => 200, class: 'input' %>
  </div>

  <div class="flex flex-col">
    <%= form.label :points, class: 'font-bold'  %>
    <%= form.number_field :points, class: 'input'  %>
  </div>

  <div class="flex flex-col">
    <%= form.label :image_url, class: 'font-bold'  %>
    <%= form.text_field :image_url, class: 'input'%>
  </div>

  <div class="flex flex-col">
    <%= form.label :repeatable, class: 'font-bold'  %>
    <%= form.check_box :repeatable %>
  </div>

  <div class="flex flex-col">
    <%= form.label :action_of_the_month, class: 'font-bold'  %>
    <%= form.check_box :action_of_the_month%>
  </div>

<div class="flex flex-col">
    <%= form.label :climate_action_category_id, class: 'font-bold'  %>
    <%= form.collection_select :climate_action_category_id, ClimateActionCategory.all , :id, :name%>
  </div>

  <%= form.submit class: 'button button-cta mt-10' %>
<% end %>
