<p id="notice"><%= notice %></p>
<h1>Climate Actions</h1>
<h3>Action of the month:</h3>
<div class = "actionofthemonth-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table"> 
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Points</th>
          <th>Repeatable</th>
          <th>Category</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @action_of_the_month.each do |action_of_the_month| %>
          <tr>
            <td><%= action_of_the_month.id %></td>
            <td><%= action_of_the_month.name %></td>
            <td><%= action_of_the_month.description %></td>
            <td><%= action_of_the_month.points %></td>
            <td><%= action_of_the_month.repeatable %></td>
            <td><%= ClimateActionCategory.find_by(id: action_of_the_month.climate_action_category_id).name %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
<h3>All Climate Actions</h3>
<div class="filter-container">
  <%= form_tag(admin_climate_actions_filter_path, remote: true) do %>
  <div class="field">
    <%= label_tag :category, "Filter actions: "%>
  </div>
  <%= select_tag :category, options_from_collection_for_select(ClimateActionCategory.all, :id, :name), options ={:prompt => "All Categories", :class => "btn btn-default", :style=>"height:34px"}%>
  <%= select_tag :points, options_from_collection_for_select(ClimateAction.select(:points).distinct, :points, :points), options ={:prompt => "Climate Impact Points", :class => "btn btn-default", :style=>"height:34px"}%>
  <%= submit_tag "Filter", class: 'btn btn-default'%>
  <% end%>
</div>

<br>

<div id="climate_actions_filtered">
    <%= render 'climate_actions' %>
</div>