<p id="notice"><%= notice %></p>
<h1>Climate Actions</h1>
<div class="filter-container">
  <%= form_tag(admin_climate_actions_filter_path, remote: true) do %>
  <div class="field">
    <%= label_tag :category, "Filter actions according to category: "%>
  </div>
  <%= select_tag :category, options_from_collection_for_select(ClimateActionCategory.all, :id, :name), options ={:prompt => "All", :class => "btn btn-default", :style=>"height:34px"}%>
  <%= submit_tag "Filter", class: 'btn btn-default'%>
  <% end%>
</div>

<br>

<div id="climate_actions_filtered">
    <%= render 'climate_actions' %>
</div>