<p id="notice"><%= notice %></p>
<h1>Climate Actions</h1>
<h3>Action of the month:</h3>
<div class = "actionofthemonth-container">
  <div class = "card" style = "margin-bottom: 10px">
    <div class="container" style="outline: 2px dashed grey; max-width: 300px;display: inline-block;">
          <h4 style="text-align:center"><b><%= @action_of_the_month.name %></b></h4> 
          <table class = "table">
            <tr>
              <th>Description:</th>
              <td><%= @action_of_the_month.description%></td>
            </tr>
            <tr>
              <th>Climate impact points:</th>
              <td><%= @action_of_the_month.points%></td>
            </tr>
            <tr>
              <th>Category:</th>
              <td><%= ClimateActionCategory.find_by(id: @action_of_the_month.climate_action_category_id).name%></td>
            </tr>
            <tr>
              <th>Number of times completed:</th>
              <td><%= @action_of_the_month_number_of_times_completed %></td>
            </tr>
          </table> 
    </div>
  </div>
  <button type="button" class= "btn btn-default" data-toggle = "modal" data-target = "#myModal">
  Change Action Of The Month</button>
</div>
<div id="myModal" class="modal">
<!-- Modal content -->
<div class="modal-content">
  <span class="close">&times;</span>
  <p>Some text in the Modal..</p>
</div>
</div>
<h3>All Climate Actions</h3>
<div class="filter-container">
  <%= form_tag(admin_climate_actions_filter_path, remote: true) do %>
  <div class="field">
    <%= label_tag :category, "Filter actions: "%>
  </div>
  <%= select_tag :category, options_from_collection_for_select(ClimateActionCategory.all, :id, :name), options ={:prompt => "All Categories", :class => "btn btn-default", :style=>"height:34px"}%>
  <%= select_tag :points, options_from_collection_for_select(ClimateAction.select(:points).distinct, :points, :points), options ={:prompt => "Climate Impact Points", :class => "btn btn-default", :style=>"height:34px"}%>
  <%= submit_tag "Filter", class: 'btn btn-default'%>
  <% end%>
</div>

<br>

<div id="climate_actions_filtered">
    <%= render 'climate_actions' %>
</div>