<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Id:</dt>
  <dd><%= @climate_action.id %></dd>

  <dt>Name:</dt>
  <dd><%= @climate_action.name %></dd>

  <dt>Description:</dt>
  <dd><%= @climate_action.description %></dd>

  <dt>Points:</dt>
  <dd><%= @climate_action.points %></dd>

  <dt>Repeatable:</dt>
  <dd><%= @climate_action.repeatable %></dd>

  <dt>Action of the month:</dt>
  <dd><%= @climate_action.action_of_the_month %></dd>

  <dt>Category:</dt>
  <dd><%= @climate_action.climate_action_category_id %></dd>

</dl>

<hr>

<%= link_to 'Edit', edit_admin_climate_action_path(@climate_action), class: 'btn btn-default'  %>
<%= link_to 'Back', admin_climate_actions_path, class: 'btn btn-default'  %>
