<%= form_with(model: [:admin, referral_code], local: true) do |form| %>
  <div class="space-y-3">
    <% if referral_code.errors.any? %>
      <div>
        <h2><%= pluralize(referral_code.errors.count, "error") %> prohibited this referral code from being saved:</h2>

        <ul>
          <% referral_code.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-col">
      <%= form.label :code, class: 'font-bold' %>
      <%= form.text_field :code, class: 'input' %>
      <span class="block text-sm text-gray-shade-2">Can only contain letters, digits and dashes (-).</span>
    </div>

    <div class="flex flex-col">
      <%= form.label :destination_path, class: 'font-bold' %>
      <%= form.text_field :destination_path, class: 'input' %>
      <span class="block text-sm text-gray-shade-2">Must be a relative link to somewhere on our site, i.e. the part starting with a "/". Example: "/know-your-footprint".</span>
    </div>

    <div class="text-right">
      <%= form.submit 'Update referral code', class: 'button button-cta' %>
    </div>
  </div>
<% end %>
