<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Referral Codes', actions: [
      {
        title: 'New',
        path: new_admin_referral_code_path,
        class: 'button-cta'
      }
    ] %>

  <table class="table">
    <thead>
      <tr>
        <th>Created</th>
        <th>Code</th>
        <th>Destination</th>
        <th>Times used</th>
        <th>Amount offsetting</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @referral_codes.each do |referral_code| %>
        <tr>
          <td><%= time_tag(referral_code.created_at, format: '%F %R') %></td>
          <td><code><%= referral_code.code %></code></td>
          <td><%= link_to(referral_code.destination_path, referral_code.destination_path) %></td>
          <td><%= referral_code.referred_users_count %></td>
          <td><%= referral_code.subscription_months_total_co2e %></td>
          <td class="whitespace-nowrap">
            <%= link_to 'Show', [:admin, referral_code], class: 'link-ui text-green-shade-2' %> &nbsp;
            <%= link_to 'Edit', edit_admin_referral_code_path(referral_code), class: 'link-ui text-green-shade-2' %> &nbsp;
            <%= link_to 'Destroy', [:admin, referral_code], method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-ui text-green-shade-2' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
