<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Referral Code', actions: [
      {
        title: 'Edit',
        path: edit_admin_referral_code_path(@referral_code),
        class: 'button-cta'
      }
    ] %>

  <dl class="dl-horizontal">
    <dt>Created:</dt>
    <dd><%= time_tag(@referral_code.created_at) %></dd>

    <dt>Code:</dt>
    <dd><code><%= @referral_code.code %></code></dd>

    <dt>Destination:</dt>
    <dd><%= link_to(@referral_code.destination_path, @referral_code.destination_path, class: 'link') %></dd>

    <dt>Times used:</dt>
    <dd><%= @referral_code.referred_users_count %></dd>

    <dt>Amount offsetting:</dt>
    <dd><%= @referral_code.subscription_months_total_co2e %></dd>
  </dl>
</div>
