<% content_for :opengraph_url do %><%=t 'goclimateneutral_url' %>users/<%= @user.id %><% end %>
<% content_for :opengraph_title do %><%= social_quote_for(@user.user_name, @neutral_months) %><% end %>

<%= render "shared/facebook_script" %>
<%= render "shared/twitter_script" %>
<%= javascript_tag do %>
  window.facebookQuote = '<%= social_quote_for(@user.user_name, @neutral_months) %>';
  window.urlToShare = '<%=t 'goclimateneutral_url' %>users/<%= @user.id %>'
<% end %>

<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <a id="show-video" href=""><span class="glyphicon glyphicon-large" aria-hidden="true"><%= image_tag webpack_asset_path("images/play.png") %></span></a>
    <h3 class="cover-heading"><%= social_quote_for(@user.user_name, @neutral_months) %></h3>

    <% if @sharing %>
      <p><%=t 'climate_change_is_best_faced_together' %></p>
      <div>
        <div class="row share-buttons last">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <a class="btn btn-social btn-lg btn-facebook" id="share-facebook-bottom"><span class="fa fa-facebook"></span> <%=t 'share_on_facebook' %></a>
            </div>
            <div class="col-sm-5">
              <a class="btn btn-social btn-lg btn-twitter" href="https://twitter.com/intent/tweet?text=<%= encoded_social_quote_for(@user.user_name, @neutral_months) %>" data-size="large"><span class="fa fa-twitter"></span> <%=t 'share_on_twitter' %></a>
            </div>
            <div class="col-sm-1"></div>
        </div>
      </div>
    <% else %>
      <p class="welcome"><%=t 'climate_change_is_the_greatest_challange' %></p>
      <p class="lead lead-btn">
        <a href="/#choose-plan" class="btn btn-lg btn-success"><%=t 'i_want_to_know_more' %></a>
      </p>
    <% end %>

  </div>
</div>

<%= render "shared/video_modal" %>

<% content_for :javascript_tags do %>
  <script>
    $(document).ready(function() {
      initializeUsers();
    });
  </script>
<% end %>
