<%= render "shared/header" %>

<div class="section-padding">

  <div class="callout max-w-lg mx-auto space-y-4">
    <h1 class="heading-lg"><%=t 'change_your_password' %></h1>
    <p><%=t 'change_your_password_by_entering_your_new_password_below' %></p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'space-y-4' }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <label class="block">
        <strong class="block"><%=t 'password' %></strong>
        <%= f.password_field :password, autocomplete: "off", autofocus: true, required: true, class: "input w-full" %>
      </label>

      <label class="block">
        <strong class="block"><%=t 'confirm_password' %></strong>
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: "input w-full" %>
      </label>

      <%= render "devise/shared/error_messages", resource: resource %>

      <button type="submit" class="button button-cta w-full">
        <%=t 'change_password' %>
      </button>
    <% end %>
  </div>

</div>

<%= render "shared/bottom_landscape" %>
<%= render "shared/footer", skip_prefooter: true %>
