<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'reportLoadError(event)' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>

    <%= render "shared/user_menu" %>

    <%= form_tag({ action: :update }, id: "payment-form", method: :put, class: "form-horizontal") do %>

      <% if flash[:error].present? %>
        <div id="error_explanation" data-controller="scroll-here">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <p id="error-content"></p>

      <%= hidden_field(:setup_intent, :client_secret) %>

      <%=
        render partial: "shared/plan",
        locals: { available_plans: @available_plans, current_plan_price: @current_plan_price } 
      %>

      <div id="current-card-group" class="form-group">
        <label for="current-card" class="col-sm-offset-1 col-sm-4 control-label">
          <%=t 'credit_or_debit_card' %>
        </label>
        <div id="current-card" class="col-sm-4 control-label">
          <% if @customer_payment_method.nil? %>
            t('no_card_registered')
          <% else %>
            <%= render "shared/existing-card" %>
          <% end %>
          (<a id="add-new-card" href="#">
            <%= @customer_payment_method.nil? ? t('add_new_card') : t('edit_card') %>
          </a>)
        </div>
      </div>

      <div id="new-card-div" class="form-group hidden">
        <label for="card-element" class="col-sm-offset-1 col-sm-4 control-label"><%=t 'add_new_card' %></label>
        <div class="col-sm-4">
          <div id="card-element" class="form-control">
            <!-- a Stripe Element will be inserted here. -->
          </div>
        </div>
      </div>

      <div id="card-errors"></div>

      <div class="actions">
        <button id="register-button" type="submit" class="btn btn-success">
          <i class="fa fa-spinner fa-spin hidden" id="button-spinner"></i>
          <%=t 'update' %>
        </button>
      </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer_old" %>

<% content_for :javascript_tags do %>
  <script type="text/javascript">
    $(document).ready(function() {
      initializeEditCard();
    });
  </script>
<% end %>
