<%= form_for([:admin, invoice]) do |f| %>
  <div class="space-y-3">
    <% if invoice.errors.any? %>
      <div>
        <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

        <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-col">
      <%= f.label :fortnox_id, class: 'font-bold' %>
      <%= f.text_field :fortnox_id, class: 'input' %>
    </div>

    <div class="flex flex-col">
      <%= f.label :project_id, 'Project', class: 'font-bold' %>
      <div class="select-wrapper">
        <%= f.select :project_id, project_id_options_for_select(@available_projects, 1, invoice.project_id), {include_blank: true}, class: 'select', required: false %>
      </div>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :invoice_date, 'Invoice date', class: 'font-bold' %></p>
      <%= f.date_field :invoice_date, class: 'input', value: f.object.invoice_date %>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :amount_in_sek, 'Total amount', class: 'font-bold' %> (in SEK, <u>excluding</u> VAT)</p>
      <%= f.number_field :amount_in_sek, class: 'input', value: f.object.amount_in_sek&.amount %>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :offsetting_subtotal, 'Offsetting amount, of total', class: 'font-bold' %> (in SEK)</p>
      <%= f.number_field :offsetting_subtotal, class: 'input', value: f.object.offsetting_subtotal&.amount %>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :consulting_subtotal, 'Consulting amount, of total', class: 'font-bold' %> (in SEK)</p>
      <%= f.number_field :consulting_subtotal, class: 'input', value: f.object.consulting_subtotal&.amount %>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :products_subtotal, 'Products amount, of total', class: 'font-bold' %> (in SEK)</p>
      <%= f.number_field :products_subtotal, class: 'input', value: f.object.products_subtotal&.amount %>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :co2e, 'Offsetting', class: 'font-bold' %> (in kg CO2e)</p>
      <%= f.number_field :co2e, class: 'input' %>
    </div>

    <div class="flex flex-col">
      <%= f.label :receiver, class: 'font-bold' %>
      <%= f.text_field :receiver, class: 'input' %>
    </div>

    <div class="flex flex-col">
      <%= f.label :comment, class: 'font-bold' %>
      <%= f.text_field :comment, class: 'input' %>
    </div>

    <div class="flex flex-col">
      <%= f.label :certificate_sent_at, class: 'font-bold' %>
      <%= f.text_field :certificate_sent_at, class: 'input' %>
      <label><input type="checkbox" value="now" name="invoice[certificate_sent_at]"> Now</label>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :certificate_reciever_email, class: 'font-bold' %> (leave empty if you don't want system to send certificate)</p>
      <%= f.text_field :certificate_reciever_email, class: 'input' %>
    </div>

    <div class="text-right">
      <%= f.submit class: 'button button-cta' %>
    </div>
  </div>
<% end %>
