<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Project Id</th>
      <th>Project Name</th>
      <th>Amount in sek</th>
      <th>Carbon offset</th>
      <th>Att</th>
      <th>Company name</th>
      <th>Adress</th>
      <th>Org_nr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.project.id if !invoice.project.nil? %></td>
        <td><%= invoice.project.name if !invoice.project.nil? %></td>
        <td><%= invoice.amount_in_sek %></td>
        <td><%= invoice.carbon_offset %></td>
        <td><%= invoice.att %></td>
        <td><%= invoice.company_name %></td>
        <td><%= invoice.adress %></td>
        <td><%= invoice.org_nr %></td>
        <td><%= link_to 'Show', [:admin, invoice] %></td>
        <td><%= link_to 'Edit', edit_admin_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', [:admin, invoice], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_admin_invoice_path %>
