<p id="notice"><%= notice %></p>

<h1>Invoice</h1>

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd><%= @invoice.id %></dd>

  <dt>Fortnox invoice:</dt>
  <dd><%= @invoice.fortnox_id %></dd>

  <dt>Created:</dt>
  <dd><%= time_tag(@invoice.created_at) %></dd>

  <dt>Receiver:</dt>
  <dd><%= @invoice.receiver %></dd>

  <dt>Amount</dt>
  <dd><%= @invoice.amount_in_sek %> SEK</dd>

  <dt>Carbon offset:</dt>
  <dd><%= @invoice.carbon_offset %></dd>

  <dt>Project:</dt>
  <dd><%= link_to(@invoice.project.name, [:admin, @invoice.project]) if @invoice.project.present? %></dd>

  <dt>Comment (used when generating certificate):</dt>
  <dd><%= @invoice.comment %></dd>
</dl>

<hr>
<%= link_to 'Edit', edit_admin_invoice_path(@invoice), class: 'btn btn-default' %>
<%= link_to 'Certificate', admin_invoice_certificates_url(id: @invoice.id, format: :pdf), class: 'btn btn-link' %>
<%= link_to 'Back', admin_invoices_path, class: 'btn btn-link' %>
