<div class="relative overflow-x-hidden w-full h-48 t:h-64">
  <%= image_tag webpack_asset_path('images/illustrations/prefooter/behind_left.png'), class: 'absolute right-1/2 d:right-auto d:left-0 h-full max-w-none', alt: '' %>
  <%= image_tag webpack_asset_path('images/illustrations/prefooter/behind_right.png'), class: 'absolute left-1/2 d:left-auto d:right-0 h-full max-w-none', alt: '' %>
  <div class="absolute h-full w-full">
    <%= image_tag webpack_asset_path('images/illustrations/prefooter/ground.svg'), class: 'w-full h-full', alt: '' %>
  </div>
  <%= image_tag webpack_asset_path('images/illustrations/prefooter/left-1x.png'),
    srcset: { 
      webpack_asset_path('images/illustrations/prefooter/left-2x.png') => "2x"
    },
    class: 'absolute right-1/2 d:right-auto d:left-0 h-full max-w-none', alt: '' %>
  <%= image_tag webpack_asset_path('images/illustrations/prefooter/right-1x.png'),
    srcset: { 
      webpack_asset_path('images/illustrations/prefooter/right-2x.png') => "2x"
    },
    class: 'absolute left-1/2 d:left-auto d:right-0 h-full max-w-none', alt: '' %>
</div>
