<div class="relative pb-1">
  <div class="space-y-6">
    <% max_value_categories = [@footprint.housing.tonnes.round(1), @footprint.food.tonnes.round(1), @footprint.car.tonnes.round(1), @footprint.flights.tonnes.round(1), (@footprint.public.tonnes.round(1) + @footprint.consumption.tonnes.round(1))].max %>
    <% [
        {
          amount: @footprint.housing,
          icon: 'fa-home',
          title: t('dashboard.footprint.category.housing'),
          'bg-color': 'bg-green-accent'
        },
        {
          amount: @footprint.food,
          icon: 'fa-cutlery',
          title: t('dashboard.footprint.category.food'),
          'bg-color': 'bg-yellow-accent'
        },
        {
          amount: @footprint.car,
          icon: 'fa-car',

          title: t('dashboard.footprint.category.car'),
          'bg-color': 'bg-orange-accent'
        },
        {
          amount: @footprint.flights,
          icon: 'fa-plane',
          title: t('dashboard.footprint.category.flights'),
          'bg-color': 'bg-blue-accent'
        },
        {
          key: 'public',
          amount: @footprint.public + @footprint.consumption,
          icon: 'fa-university',
          title: t('dashboard.footprint.category.public'),
          'bg-color': 'bg-pink-accent'
        },
      ].each do |footprint| %>
      <div class="space-y-2">
        <div>
          <i class="fa fa-lg mr-1 m-lg:inline <%= footprint[:icon] %>" aria-hidden="true"></i>
          <span class="m-lg:text-sm"><%= footprint[:title] %></span>
        </div>
        <div class="flex-1 pr-24">
          <div class="relative h-6 <%= footprint[:amount].tonnes.round(1) > 0 ? 'pr-2 box-content' : '' %>" style="width: <%= footprint[:amount].tonnes.round(1) / max_value_categories * 100 %>%">
            <div class="w-full h-full rounded-r <%= footprint[:'bg-color'] %>"></div>
            <span class="absolute left-100 top-1/2 w-24 transform -translate-y-1/2 leading-none">
              <span class="font-bold"><%= footprint[:amount].tonnes.round(1) > 0 ? footprint[:amount].tonnes.round(1) : 0 %> <%= t 'tonnes' %></span>
              <% if footprint[:key] == 'public' && !local_assigns[:skip_public_explanation] %>
                <div>
                  <a href="https://www.goclimate.com/blog/methodology-behind-the-carbon-footprint-calculator/" target="_blank" class="link text-sm">
                    <%= t 'dashboard.footprint.more_about_public_category' %>
                  </a>
                </div>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
