  <div class="mastfoot">
    <div class="inner">
      <p>---</p>
      <p>
	      <%= link_to t('about_us'), '/about' %> |
	      <%= link_to t('contact_us'), '/contact' %> |
        <%= link_to t('press'), '/press' %> |
        <%= link_to t('faq'), '/faq' %> |
        <%= link_to t('our_projects'), '/our_projects' %> |
        <%= link_to t('100_percent_transparency'), '/100_percent_transparency' %>
        
      </p>
      <p><%= link_to 'Twitter', 'https://twitter.com/goclimateneutrl', target: "_blank" %> |
        <%= link_to 'Instagram', 'https://www.instagram.com/goclimateneutral/', target: "_blank" %> |
        <%= link_to 'Facebook', 'https://www.facebook.com/GoClimateNeutral', target: "_blank" %> |
        <%= link_to t('blog'), "https://www.goclimateneutral.org/blog/" %>
      <p>---</p>
      <p>© <%= Time.current.year %> GoClimateNeutral</p>
    </div>
  </div>
