  <div class="mastfoot">
    <div class="inner">
      <p>
	      <%= link_to t('about_us'), '/about' %> | 
	      <%= link_to t('contact_us'), '/contact' %> |
        <%= link_to t('faq'), '/faq' %> |
	      <a href="https://www.goclimateneutral.org/blog/"><%=t 'blog' %></a> |
	      <%= link_to t('other_language'), t('other_language_site') %>
      </p>
    </div>
  </div>