  <div class="mastfoot">
    <div class="inner">
      <p>---</p>
      <p>
        <%= link_to t('about_us'), about_path %> |
        <%= link_to t('100_percent_transparency'), transparency_path %> |
        <%= link_to t('faq'), faq_path %> |
        <%= link_to t('press'), press_path %> |
        <%= link_to t('views.shared.footer.jobs'), 'https://jobs.goclimateneutral.org/' %> |
        <%= link_to t('contact_us'), contact_path %>
        
      </p>
      <p><%= link_to 'Twitter', 'https://twitter.com/goclimateneutrl', target: "_blank" %> |
        <%= link_to 'Instagram', 'https://www.instagram.com/goclimateneutral/', target: "_blank" %> |
        <%= link_to 'Facebook', 'https://www.facebook.com/GoClimateNeutral', target: "_blank" %> |
        <%= link_to t('blog'), "https://www.goclimateneutral.org/blog/" %>
      <div class="dropup" style="display: inline-block;">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= image_tag webpack_asset_path("images/regions/#{current_region.icon}.png") %>
          <%= current_region.name %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% Region.all.filter { |r| r != current_region }.each do |region| %>
            <li><a href="<%= url_for_region(region) %>"><%= image_tag webpack_asset_path("images/regions/#{region.icon}.png") %> <%= region.name %></a></li>
          <% end %>
          <li><a href="<%= url_for_region(Region::Europe) %>"><%= image_tag webpack_asset_path("images/regions/world.png") %> Rest of the World</a></li>
        </ul>
      </div>
      <p>---</p>
      <p>© <%= Time.current.year %> GoClimateNeutral</p>
    </div>
  </div>
