<!-- Navigation container -->
<div class="w-full fixed z-40">
  <input type="checkbox" id="nav-toggler" class="toggler">
  <!-- Background box with height transition in mobile layout-->
  <div class="relative z-0 overflow-hidden d:overflow-visible h-20 toggler-checked:h-screen d:max-h-20 transition-size duration-500 ease-in-out bg-white">
    <nav class="p-4 t:px-8 h-20 flex items-center space-x-4 bg-white">
      <div class="flex-grow d:flex items-center d:space-x-8">
        <a href="<%= root_path %>">
          <%= image_tag webpack_asset_path('images/logo.svg'), alt: 'GoClimate', class: 'h-12 inline-block' %>
        </a>

        <!-- Spacer for mobile layout / Container for larger screens -->
        <div class="flex-grow"> 
          <!-- Frame for full screen menu in mobile layout -->
          <div class="d:h-full absolute -z-10 top-0 left-0 right-0 bottom-0 overflow-y-auto d:overflow-y-visible pt-20 d:static d:z-0 d:pt-0">
            <!-- Collapsible menu w/ transitions in mobile layout -->
            <div class="d:h-full d:flex justify-between items-center px-4 pb-8 t:px-8 d:p-0 text-center space-y-8 d:space-y-0 transform origin-top scale-y-90 d:scale-y-100 toggler-checked:scale-y-100 opacity-0 d:opacity-100 d:transform-0 toggler-checked:opacity-100 transition d:transition-none duration-500 ease-in-out">
              <ul class="space-y-4 d:flex d:space-x-4 d:space-y-0">
                <li><%= link_to t('navigation.gift_cards'), gift_cards_path, class: 'link-ui' %></li>
                <li><%= link_to t('our_projects'), projects_path, class: 'link-ui' %></li>
                <li><%= link_to t('for_business'), business_path, class: 'link-ui' %>
                <li><%= link_to t('about_us'), about_path, class: 'link-ui' %></li>
              </ul>

              <% if user_signed_in? %> 
                <div class="d:dropdown"> 
                  <input type="checkbox" id="user-menu" class="dropdown-toggler">
                  <label for="user-menu" class="button hidden d:block" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.user_name.nil? || current_user.user_name.empty? ? current_user.email : current_user.user_name %>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </label> 
                  <ul class="d:dropdown-menu d:dropdown-menu-right space-y-4 d:space-y-0" aria-labelledby="user-menu"> 
                    <li><%= link_to 'Dashboard', dashboard_path, class: 'link-ui' %></li>
                    <li><%= link_to t('views.shared.header.navigation.offset_flight'), new_flight_footprint_path , class: 'link-ui'%></li>
                    <li><%= link_to t('settings'), edit_user_registration_path , class: 'link-ui'%></li>
                    <hr class="hidden d:block d:dropdown-separator">
                    <li class="pt-4 d:pt-0"><%= link_to I18n.t('log_out'), destroy_user_session_path, method: :delete, class: 'button text-left' %></li> 
                  </ul> 
                </div>
              <% else %>
                <%= link_to(I18n.t('log_in'), new_user_session_url, class: 'button') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% unless user_signed_in? %>
        <%= link_to(I18n.t('views.shared.header.sign_up'), root_url, class: 'button button-cta')%>
      <% end %>

      <label for="nav-toggler" class="button d:hidden">
        <i class="fa fa-bars"></i>
      </label>
    </nav>
  </div>
</div>
<div class="h-20"></div>

<% if (region = Region.recommended_for_ip_country(request.headers['CF-IPCountry'])) && region != current_region && !cookies[:region_recommendation_dismissed].present? %>
  <% I18n.with_locale(region.locale) do %>
    <div id="region-recommendation" class="flex justify-between items-center p-4 t:px-8 bg-black text-white">
      <div class="t:flex items-center space-y-4 t:space-y-0 t:space-x-4">
        <p><%=t 'views.shared.header.region_recommendation.select_country' %></p>
        <%= link_to url_for_region(region), class: 'button button-inverted' do %>
          <%= image_tag webpack_asset_path("images/regions/#{region.id}.png"), class: 'inline-block max-w-none' %>
          <%=t 'views.shared.header.region_recommendation.continue_button', region: region.name %>
        <% end %>
      </div>
      <button id="region-recommendation-dismiss" class="pl-4">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </button>
    </div>
    <script>
      (function() {
        var regionRecommendationElement = document.querySelector('#region-recommendation');
        var dismissElement = document.querySelector('#region-recommendation-dismiss');

        dismissElement.addEventListener('click', function(event) {
          document.cookie = 'region_recommendation_dismissed=true';
          regionRecommendationElement.parentNode.removeChild(regionRecommendationElement);
        });
      })();
    </script>
  <% end %>
<% end %>

<% if notice || alert %>
  <div id="alert" class="p-4 t:px-8 text-center bg-primary text-white" role="alert">
    <% if notice %>
      <p><span class="fa fa-exclamation-circle"></span> <%= notice %></p>
    <% elsif alert %>
      <p><span class="fa fa-exclamation-triangle"></span> <%= alert %></p>
    <% end %>
  </div>
  <% content_for :javascript_tags do %>
    <script>
      $(document).ready(function() {
        setTimeout(function() {
          $("#alert").slideUp(1000);
        }, 5000);
      });
    </script>
  <% end %>
<% end %>
