<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if controller_name == "welcome" && action_name == "index" %>
          <li><a href="/#why_goclimateneutral"><%=t 'why_goclimateneutral_head' %></a></li>
          <li><a href="/#this_is_how_it_works"><%=t 'how_it_works_head' %></a></li>
        <% else %> 
          <li><a href="/">GOCLIMATENEUTRAL.ORG</a></li>
        <% end %>
      </ul>

      <!-- Menu for big screens -->
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <% if user_signed_in? %> 
            <li class="dropdown fat-menu"> 
              <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.user_name.nil? || current_user.user_name.empty? ? current_user.email : current_user.user_name %><span class="caret"></span> </a> 
              <ul class="dropdown-menu" aria-labelledby="drop3"> 
                <li><a href="<%= dashboard_index_path %>">Dashboard</a></li>
                <li><a href="<%= edit_user_registration_path %>"><%=t 'settings' %></a></li>
                <li role="separator" class="divider"></li> 
                <li><%= link_to(I18n.t('log_out'), destroy_user_session_path, :method => :delete) %></li> 
              </ul> 
            </li>
        <% else %>
          <li><%= link_to(I18n.t('log_in'), new_user_session_url)%></li>
          <li class="dropdown languages">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.locale == :sv ? image_tag('SE.png') : image_tag('US.png') %><span class="caret"></span></a>
              <ul class="dropdown-menu languages">
                <li><a href="https://sv.goclimateneutral.org/"><%= image_tag 'SE.png' %> SV</a></li>
                <li><a href="https://en.goclimateneutral.org/"><%= image_tag 'US.png' %> EN</a></li>
              </ul>
          </li>
        <% end %>
      </ul>

      <!-- Menu for small screens -->
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
        <% if user_signed_in? %> 
          <li role="separator" class="divider"></li>
          <li><a href="<%= dashboard_index_path %>">DASHBOARD</a></li>
          <li><a href="<%= edit_user_registration_path %>"><%= t('settings').upcase %></a></li>
          <li role="separator" class="divider"></li> 
          <li><%= link_to(I18n.t('log_out'), destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to(I18n.t('log_in'), new_user_session_url)%></li>
          <li role="separator" class="divider"></li>
          <li><a href="https://sv.goclimateneutral.org/"><%= image_tag 'SE.png' %> SVENSKA</a></li>
          <li><a href="https://en.goclimateneutral.org/"><%= image_tag 'US.png' %> ENGLISH</a></li>
        <% end %>
      </ul>

    </div>

  </div>
</nav>