          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">GoClimateNeutral.org</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <% if user_signed_in? %> 
                      <li id="fat-menu" class="dropdown"> 
                        <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.user_name.nil? ? current_user.email : current_user.user_name %><span class="caret"></span> </a> 
                        <ul class="dropdown-menu" aria-labelledby="drop3"> 
                          <li><a href="<%= dashboard_index_path %>">Dashboard</a></li>
                          <li><a href="<%= edit_user_registration_path %>">Settings</a></li>
                          <li role="separator" class="divider"></li> 
                          <li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li> 
                        </ul> 
                      </li> 

                  <% else %>
                    <li><%= link_to('Log in', new_user_session_url)%></li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>