
        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="plan" class="col-sm-4 control-label padding-top"><%=t 'climate_plan' %></label>
          <div class="col-sm-4">
            <select id="plan" name="user[plan]" class="form-control input-sm">
              <% if action_name == "edit" %>
                <% if @plan == "canceled" %>
                  <option value="" selected=1>-</option>
                <% else %>
                  <option value="cancel">cancel climate plan</option>
                <% end %>
              <% end %>
              <% if @currency == "sek" %>

                <% (10..@plan+100).step(5).each do |i| %>
                  <% if i == @plan.to_i %>
                    <option value="<%= i %>" selected=1><%= i %> kr/mån</option>
                  <% else %>
                    <option value="<%= i %>"><%= i %> kr/mån</option>
                  <% end %>
                <% end %>

              <% elsif @currency == "usd" %>

                <% (2...30).each do |i| %>
                  <% if i == @plan.to_i %>
                    <option value="<%= i %>" selected=1>$<%= i %>/month</option>
                  <% else %>
                    <option value="<%= i %>">$<%= i %>/month</option>
                  <% end %>
                <% end %>

              <% end %>
            </select>
          </div>
        </div>