
        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="plan" class="col-sm-4 control-label padding-top"><%=t 'climate_plan' %></label>
          <div class="col-sm-4">
            <select id="plan" name="user[plan]" class="form-control input-sm">
              <% if action_name == "edit" %>
                <% if @plan == "canceled" %>
                  <option value="" selected=1>-</option>
                <% else %>
                  <option value="cancel">cancel climate plan</option>
                <% end %>
              <% end %>
              <% range = I18n.locale == :sv ? (10..300).step(5) : (2...30) %>
              <% range.each do |i| %>
                <% if i == @plan.to_i %>
                  <option value="<%= i %>" selected=1><%=t 'cost_per_month_html', cost: i %></option>
                <% else %>
                  <option value="<%= i %>"><%=t 'cost_per_month_html', cost: i %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>