<section class="mt-10">
  <div class="">
    <%= image_tag webpack_asset_path('images/illustrations/wave_top-blue-tint-1.png') %>
  </div>
  <div class="bg-blue-tint-1">
    <div class="relative max-w-3xl mx-auto py-10 px-10 d:px-0 text-center space-y-3 z-10">
      <h3 class="heading-lg"><%= t('views.shared.prefooter.heading') %></h3>
      <p><%= t('views.shared.prefooter.body_text') %> </p>
      <p><a href="/" class="button"><%= t('views.shared.prefooter.button') %></a></p>
    </div>
    <div class="-mt-8 m-lg:-mt-12 d:-mt-20 d-md:-mt-32">
      <%= image_tag webpack_asset_path('images/illustrations/prefooter_full.png') %>
    </div>
  </div>
</section>
