<div class="panel panel-default panel-full-width panel-left-align content-section">
  <div class="panel-heading">
    <h4 class="panel-title"><%=t 'this_is_how_the_money_is_used_header' %></h4>
  </div>
  <div class="panel-body">
    <p><%=t 'this_is_how_the_money_is_used_text' %></p>
    <div class="projects-teaser">
      <div class="projects-teaser__project-container">
        <% @projects.each do |project| %>
          <div class="projects-teaser__project">
            <div class="projects-teaser__project-image" style="background-image: url('<%= project.image_url %>')">
            </div>
            <div class="projects-teaser__project-info">
              <p><strong><%= project.name %></strong></p>
              <p><%= project.carbon_offset %> <%=t 'tonnes_carbon_dioxide' %></p>
            </div>
          </div>
        <% end %>
      </div>
      <p class="projects-teaser__all-projects-link"><%= link_to I18n.t('see_all_our_projects'), our_projects_path %></p>
    </div>
  </div>
</div>
