<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="shareModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">
          <%=t 'tell_your_friends' %>
        </h4>
      </div>
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      <h3 class="cover-heading">
        <% if @my_neutral_months == 1 %>
          <%=t 'you_have_lived_climate_neutral_for_one_month', months: @my_neutral_months %>
        <% else %>
          <%=t 'you_have_lived_climate_neutral_for_more_months', months: @my_neutral_months %>
        <% end %>
        <%=t 'good_job' %>
      </h3>
      <p><%=t 'climate_change_is_best_faced_together' %></p>
      <p> </p>
      <div>
      <div class="row share-buttons">
          <div class="col-sm-1 col-md-3"></div>
          <div class="col-sm-5 col-md-3">
            <a class="btn btn-social btn-lg btn-facebook" id="share-facebook-popup"><span class="fa fa-facebook"></span> <%=t 'share_on_facebook' %></a>
          </div>
          <div class="col-sm-5 col-md-3">
            <a class="btn btn-social btn-lg btn-twitter" href="https://twitter.com/intent/tweet?text=<%= @encoded_social_quote %>" data-size="large"><span class="fa fa-twitter"></span> <%=t 'share_on_twitter' %></a>
          </div>
          <div class="col-sm-1 col-md-3"></div>
      </div>
      </div>
    </div>
  </div>
</div>