<!--
  This is the actual gift card. It can be rendered as both html and PDF, thanks
  to the magic of https://github.com/mileszs/wicked_pdf
-->
<div>
  <!--
    Best to embed the css here because PDF generating is done by a separate tool (wkhtmltopdf)
    and it's tricky to figure how that tool will find our separate css files.
   -->
  <style scoped>
      .text {
        color: #444444;
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
      }

      .content {
        position: absolute;
        top: 10px;
        width: 1024px;
        text-align: center;
      }

      .logo {
        margin-top: 20px;
      }

      .congrats {
        font-size: 40px;
      }

      .you-have-received {
        font-size: 40px;
      }

      .message {
        font-size: 30px;
        white-space: pre-wrap;
        background: lightgrey;
        margin-left: 200px;
        margin-right: 200px;
        border-radius: 25px;
        padding: 50px;
      }

      .thanks {
        margin-top: 80px;
        font-size: 30px;
      }

      .link {
        font-size: 30px;
      }
  </style>

  <div class="background">
    <%= image_tag wicked_pdf_asset_base64('background-illustrated.png'), size: "1025x700"%>
  </div>

  <div class="content">
    <div class="logo">
      <%= image_tag wicked_pdf_asset_base64('goclimateneutral_logo.svg'), size: "174x100" %>
    </div>

    <!-- TODO localize the texts below -->

    <div class="text congrats">
      Congratulations <%= @recipient %>
    </div>

    <div class="text you-have-received">
      You have received <%= @number_of_months %> climate neutral months<br>
      via Go Climate Neutral
    </div>

    <div class="text message"><%= @message %></div>

    <div class="text thanks">
      Thank you for helping to save our planet!
    </div>

    <div class="text link">
      <a href="http://localhost:3000">GoClimateNeutral.org</a>
    </div>
  </div>
</div>
