<%= render "shared/header" %>

<div class="section-padding pb-0">
  <h1 class="heading border-b-4 inline-block"><%=t 'views.gift_cards.heading' %></h1>
</div>

<section class="section-padding">
  <h2 class="heading-xl"><%= t('views.gift_cards.index.header') %></h2>
  <p class="mt-6 t:w-2/3 d:w-1/2">
    <%= t('views.gift_cards.index.intro') %>
    <%= link_to t('views.gift_cards.new.click_here_for_an_example'), 
      example_certificate_gift_cards_path(format: :pdf), 
      class: 'link' %>.
  </p>

  <div class="section-gutter mt-12 flex flex-col t:flex-row flex-wrap">
    <% [1, 3, 6, 12].each do |month| %>
      <div class="t:w-1/2 d:w-1/4">
        <div class="callout w-full text-center">
          <p class="heading"><%= t("views.gift_cards.index.#{month}_months_description") %></p>
          <p class="heading-lg my-6"><%= @gift_cards[month].price.to_s(precision: 0) %></p>
          <div>
            <%= link_to t('views.gift_cards.index.cta'),
                  new_gift_card_path(subscription_months_to_gift: month),
                  class: 'button button-cta w-full whitespace-normal',
                  id: "choose-#{month}-months" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="mt-6 text-center text-sm"><%= t('views.gift_cards.index.details_html') %></p>
</section>

<%= render "shared/footer" %>
