<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <h1><%= title(t('views.gift_cards.new.your_gift_card_order')) %></h1>
    <p class="lead"><%= description(t('views.gift_cards.new.intro')) %></p>
  </div>
</div>
<div class="site-wrapper-second">
  <div class="inner">
    <%= form_with model: @gift_card, format: :json, html: { 'data-controller': 'checkout-form', 'data-action': 'checkout-form#submit' } do |f| %>
      <p><%=t 'views.gift_cards.new.we_will_send_you_pdf' %></p>

      <p><%= link_to t('views.gift_cards.new.click_here_for_an_example'), example_certificate_gift_cards_path(subscription_months_to_gift: params[:subscription_months_to_gift], format: :pdf), class: 'example-gift-card' %></p>

      <div class="gift-card-details form-horizontal">
        <div class="form-group gift-card-details-row">
          <label class="text-left col-xs-4">
            <%=t 'type' %>:
          </label>
          <div class="text-right col-xs-8">
            <%=t 'x_months', count: @gift_card.number_of_months %>
          </div>
        </div>
        <div class="form-group gift-card-details-row">
          <label class="text-left col-xs-4">
            <%=t 'price' %>:
          </label>
          <div class="text-right col-xs-8">
            <%= @gift_card.price.to_s(precision: 0) %>
          </div>
        </div>
      </div>
      <div class="gift-card-payment">
        <div class="form-group">
          <%= f.label :message, t('views.gift_cards.new.write_a_message'), class: 'gift-card-message' %>
          <%= f.text_area :message, rows: 4, cols: 40, class: 'form-control', placeholder: t('views.gift_cards.new.sample_message_html') %>
        </div>

        <div class="form-group">
          <%= label_tag :email, t('email') %>
          <%= f.email_field :customer_email, required: '', class: "form-control" %>
        </div>

        <div class="form-group" data-controller="stripe-card-element" data-target="checkout-form.stripeCardElement">
          <label for="card">
            <%=t 'credit_or_debit_card' %>
          </label>
          <div class="form-control" data-target="stripe-card-element.container"></div>
          <div class="help-block text-warning hidden-when-empty" data-target="stripe-card-element.errors"></div>
        </div>

        <p class="text-warning hidden-when-empty" data-target="checkout-form.errorMessage"></p>

        <%= f.hidden_field :number_of_months %>

        <%= button_tag type: 'submit', 'data-target': 'checkout-form.submitButton', class: 'btn btn-success btn-block' do %>
          <i class="fa fa-spinner fa-spin hidden" data-target="checkout-form.loadingIndicator"></i>
          <%= t('views.gift_cards.new.pay') %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<%= render "shared/footer_old" %>
