<div class="site-wrapper-inner site-wrapper-first">

  <div class="cover-container">
    <%= render "shared/header" %>

    <div class="inner cover">
      <h1>Gift card for <%= @gift_card.number_of_months %> months</h1>
      <p><%= @gift_card.price / 100 %> kr</p>
      <%= form_for :gift_card, url: {action: :create} do |f| %>
        <%= hidden_field_tag :subscription_months_to_gift, @gift_card.number_of_months %>
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
          data-amount="<%= @gift_card.price %>"
          data-currency="sek"
          data-name="GoClimateNeutral"
          data-description="Gift card for <%= @gift_card.number_of_months %> months"
          data-locale="<%= I18n.locale %>"
          data-label="Purchase Gift Card">
        </script>
      <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
