<div class="site-wrapper-inner site-wrapper-first">

  <div class="cover-container">
    <%= render "shared/header" %>

    <div class="inner cover">
      <h1><%=t 'views.gift_cards.new.your_gift_card_order' %></h1>

      <p><%=t 'views.gift_cards.new.we_will_send_you_pdf' %></p>

      <table class="table checkout-table">
        <tr>
          <td><%=t 'type' %>:</td>
          <td><%= @gift_card.number_of_months %> <%=t 'months' %></td>
        </tr>
        <tr>
          <td><%=t 'price' %>:</td>
          <td><%= price_string(@gift_card.price, @currency) %></td>
        </tr>
      </table>

      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
          <p>We are currently not supporting 3dsecure-cards, but we're working on it! Check back soon!</p>
        </div>
      <% end %>

      <%= form_for :gift_card, url: {action: :create} do |f| %>
        <%= hidden_field_tag :subscription_months_to_gift, @gift_card.number_of_months %>
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
          data-amount="<%= @gift_card.price * 100 %>"
          data-currency=<%= @currency %>
          data-name="GoClimateNeutral"
          data-description="<%=t 'views.gift_cards.new.gift_card_for_x_months', months: @gift_card.number_of_months %>"
          data-locale="<%= I18n.locale %>"
          data-label="<%=t 'proceed_to_checkout' %>">
        </script>
      <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
