<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-heart" aria-hidden="true"></span>

    <h1 class="cover-heading"><%=t 'views.gift_card_mailer.thank_you_for_buying_gift_card' %></h1>

    <p class="lead"><%=t 'views.gift_cards.thank_you.you_have_purchased_a_gift_card_with_x_climate_neutral_months', count: @gift_card.number_of_months %></p>

    <p class="lead"><%= link_to t('views.gift_cards.thank_you.download_the_gift_card_here'), gift_card_certificates_path(@gift_card, format: :pdf) %></a></p>

    <p class="lead"><%=t 'we_have_sent_you_an_email_with_the_gift_card' %>: <%= @gift_card.customer_email %></p>

    <p class="lead"><%=t 'thank_you_for_helping_us_trying_to_stop_climate_change' %>: <%= link_to('GoClimateNeutral.org', '/') %></p>

    <p class="lead last"><%= link_to t('views.gift_cards.thank_you.download_receipt_here'), gift_card_receipts_path(@gift_card, format: :pdf) %></a></p>

  </div>
</div>

<%= render "shared/footer_old" %>

<script type="text/javascript">
  ga('send', 'event', 'Gift Cards', 'Purchased', 'Gift Card <%= @number_of_months %> months');
</script>
