<nav class="bg-brand">
  <%= render "shared/header" %>
</nav>

<section class="bg-brand bg-brand-image bg-bottom bg-no-repeat bg-cover">
  <div class="text-center pt-16 pb-48 px-10 lg:px-0 max-w-2xl mx-auto">
    <i class="fa fa-2x fa-globe text-big-icon text-icon" aria-hidden="true"></i>
    <h1 class="text-3xl md:text-5xl my-5"><%= title(t('about_us')) %></h1>
    <p class="text-normal md:text-2xl leading-normal mb-5"><%= description(t('about_us_intro')) %></p>
    <p class="text-normal md:text-2xl leading-normal mb-5"><%= description(t('about_us_intro_2')) %></p>
  </div>
</section>
 
<section>
  <div class="max-w-6xl mx-auto py-20 px-10 lg:px-0">
    <h2 class="text-4xl mb-4 text-center"><%=t 'about_us_who_are_we' %></h2>
    <div class="flex flex-wrap justify-center">
      <% [
        {
          key: 'kalle',
          full_name: 'Kalle Nilvér',
          twitter_handle: 'kallenilver',
          phone_number: '+46706084374',
        },
        {
          key: 'cissi',
          full_name: 'Cissi Lindén',
          twitter_handle: 'cissilinden',
          phone_number: '+46705476300',
        },
        {
          key: 'henrik',
          full_name: 'Henrik Kniberg',
          twitter_handle: 'henrikkniberg',
        },
        {
          key: 'stefan',
          full_name: 'Stefan Lindbohm',
          twitter_handle: 'stefanlindbohm',
        },
        {
          key: 'alexandra',
          full_name: 'Alexandra Palmquist',
        },
        {
          key: 'tove',
          full_name: 'Tove Westling',
        },
        {
          key: 'emma',
          full_name: 'Emma Bäckström',
        },
        {
          key: 'evelina',
          full_name: 'Evelina Utterdahl',
          twitter_handle: 'earthwanderess',
          instagram_handle: 'earthwanderess',
        },
      ].each do |person| %>
        <div class="w-full md:w-1/2 lg:w-1/3 p-6 flex flex-col items-center">
          <%= image_tag webpack_asset_path('images/about/' + person[:key] + '.jpg'), class: 'rounded-full', alt: person[:key] %>
          <h3 class="text-2xl mt-3"><%= person[:full_name] %></h3>
          <p class="text-center my-2 leading-normal">
            <%=t 'about_us_who_are_we_' + person[:key] + '_html' %>
          </p>
          <% if person[:phone_number] %>
            <p><b>Phone:</b> <%= link_to person[:phone_number], 'tel:' + person[:phone_number], class: 'link' %></p>
          <% end %>
          <div class="flex flex-row m-1">
            <% if person[:twitter_handle] %>
              <div class="mx-2"><%= link_to raw('<i class="fa fa-2x fa-twitter" aria-hidden="true"></i>'), 'https://twitter.com/' + person[:twitter_handle], target: "_blank", rel: "noopener" %></div>
            <% end %>
            <% if person[:instagram_handle] %>
              <div class="mx-2"><%= link_to raw('<i class="fa fa-2x fa-instagram" aria-hidden="true"></i>'), 'https://www.instagram.com/' + person[:instagram_handle], target: "_blank", rel: "noopener" %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="max-w-2xl mx-auto pt-16 pb-20 px-10 lg:px-0 text-center">
    <i class="fa fa-2x fa-question-circle text-big-icon text-icon" aria-hidden="true"></i>
    <h2 class="text-4xl my-5"><%=t 'about_us_why_do_we_exist' %></h2>
    <p class="text-xl leading-normal mb-5"><%=t 'about_us_why_do_we_exist_text' %></p>
  </div>
</section>

<section class="bg-bg">
  <div class="max-w-2xl mx-auto pt-16 pb-20 px-10 lg:px-0 text-center">
    <i class="fa fa-2x fa-leaf text-big-icon text-icon" aria-hidden="true"></i>
    <h2 class="text-4xl my-5"><%=t 'about_us_how_do_we_stop_climate_change' %></h2>
    <p class="text-xl leading-normal mb-5"><%=t 'about_us_how_do_we_stop_climate_change_text' %></p>
    <p class="text-xl leading-normal mb-5"><%=t 'about_us_how_do_we_stop_climate_change_text_2' %></p>
  </div>
</section>

<%= render "shared/footer" %>
