<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t('for_companies') %></h1>
    <p class="lead"><%=t 'for_companies_text_html' %></p>

  </div>
</div>

<%= render "shared/footer_old" %>
