<div class="site-wrapper-inner site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

    <div class="inner cover">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      <h1 class="cover-heading"><%=t 'contact_us' %></h1>
      <p class="lead text-left"><%=t 'general_questions_html' %></p>
      <p class="lead text-left"><%=t 'general_questions_press_html' %></p>
      <p class="lead text-left"><%=t 'general_questions_facebook_html' %></p>
      <p class="lead text-left last"><%=t 'general_questions_twitter_html' %></p>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
