<div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            

            <div class="row stats">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <h1 class="cover-heading"><%=t 'contact_us' %></h1>
                <p class="lead text-left"><%=t 'about_us_intro' %></p>
                <p class="text-left"><%=t 'if_you_want_to_get_involved' %>: <a href="mailto:getinvolved@goclimateneutral.org">getinvolved@goclimateneutral.org</a></p>
                <p class="text-left"><%=t 'general_questions' %>: <a href="mailto:info@goclimateneutral.org">info@goclimateneutral.org</a></p>
                <p class="text-left"><%=t 'if_you_want_to_talk' %>: +46 70 608 43 74</p>
                <p class="text-left"><%=t 'or_talk_to_us_on_twitter' %>: <a href="https://twitter.com/kallenilver">kallenilver</a>, <a href="https://twitter.com/cissilinden">cissilinden</a>
                <p class="text-left"><%=t 'or_come_visit_us' %>:</p>
                <address class="text-left">
                  <strong>GoClimateNeutral.org</strong><br>
                  c/o nilver/linden<br>
                  Garagevägen 9<br>
                  121 48 Johanneshov<br>
                  Sweden<br>
                </address>
                <iframe
                  width="100%"
                  height="400"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAk8vPBQammcPOrkqqrCSn_0tPA91fNDW4
                    &q=Garagevägen+9,+121+48+Johanneshov" allowfullscreen>
                </iframe>

              </div>
              <div class="col-md-3"></div>
            </div>

            
            <p class="lead lead-btn">
              <a href="/step_1_choose_plan" class="btn btn-lg btn-success"><%=t 'go_climate_neutral' %></a>
            </p>
           </div>


  </div>
  
  <%= render "shared/footer" %>

</div>



