<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%= title(t('contact_us')) %></h1>
    <p class="lead text-left"><%= description(t('general_questions_html')) %></p>
    <p class="lead text-left"><%=t 'general_questions_press_html' %></p>
    <p class="lead text-left"><%=t 'general_questions_facebook_html' %></p>
    <p class="lead text-left last"><%=t 'general_questions_twitter_html' %></p>

  </div>
</div>

<%= render "shared/footer_old" %>
