<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner faq">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>

    <h1 class="cover-heading"><%= title(t('faq')) %></h1>
    <% description(t('faq')) %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default questions-list">
        <ol>
          <% t('questions', scope: 'faq_questions').each do |question| %>
            <li>
              <a href="#collapse<%= question[0] %>id">
                <%= question[1][:question] %>
              </a>
            </li>
          <% end %>
        </ol>
      </div>

      <% t('questions', scope: 'faq_questions').each.with_index(1) do |question, count| %>
        <div id="collapse<%= question[0] %>id" ></div>

         <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="<%= question[0] %>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" href="#collapse<%= question[0] %>" aria-expanded="true" aria-controls="collapse<%= question[0] %>">
                <%= count %>. <%= question[1][:question] %>
              </a>
             </h4>
          </div>

          <div id="collapse<%= question[0] %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="<%= question[0] %>">
            <div class="panel-body"><%= raw question[1][:answer] %></div>
          </div>
        </div>

        <br>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/footer_old" %>
