<div class="site-wrapper-inner site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover faq">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            
                <h1 class="cover-heading"><%=t 'faq' %></h1>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <% questions = t('questions', scope: 'faq_questions') %>
                <% count = 0 %>

                <% questions.each do |question| %>
                <% count = count + 1 %>

                	  <div id="collapse<%= question[0] %>id" ></div>

					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="<%= question[0] %>">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" href="#collapse<%= question[0] %>" aria-expanded="false" aria-controls="collapse<%= question[0] %>">
					          <%= count %>. <%= question[1][:question] %>
					        </a>
					      </h4>
					    </div>
					    <div id="collapse<%= question[0] %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= question[0] %>">
					      <div class="panel-body">
					        
							<%= raw question[1][:answer] %>

					      </div>
					    </div>
					  </div>
					  <br>
				<% end %>



			
			</div>
            
          </div>


  </div>
  
  <%= render "shared/footer" %>

</div>