      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

          <div class="inner cover">
            <a id="show-video" href=""><span class="glyphicon" aria-hidden="true"><%= image_tag "play.png" %></span></a>
            <h1 class="cover-heading"><%=t('welcome_to_a_climate_neutral_life') %></h1>
            <p class="lead"><%=t 'climate_change_is_the_greatest_challange' %></p>
            <p class="lead lead-btn">
              <a href="/step_1_choose_plan" class="btn btn-lg btn-success"><%=t 'i_want_to_know_more' %></a>
            </p>
          </div>
        </div>
      </div>

      <%= render "shared/video_modal" %>

      <%= render "shared/footer" %>
        
  
