<% description(t('climate_change_is_the_greatest_challange')) %>
<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="container">

    <div class="row">
      <div class="inner">
        <div class="col-xs-12 col-md-8">
          <h1 class="cover-heading top">
            <%=t 'welcome.caption_line_1' %><br>
            <%=t 'welcome.caption_line_2' %>
          </h1>
        </div>

        <div class="col-xs-12 col-md-4">
          <div id="choose-plan" class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%=t 'welcome.calculator.title' %></h3>
            </div>

            <div class="panel-body custom-plan-price">
              <div class="impact-calculator-fields">
                <label class="sr-only" for="people"><%= t('welcome.form.label.people') %></label>

                <select id="people" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                  <% LifestyleChoice.where(category: :people).where("version != 0").order(:co2).each do |people| %>
                    <% if people.co2.to_i == 1 %>
                      <option value="<%= people.id %>"><%=t people.name %></option>
                    <% else %>
                      <option value="<%= people.id %>"><%= I18n.t('x_people', number: people.co2.to_i) %></option>
                    <% end %>
                  <% end %>
                </select>

                <label class="sr-only" for="food"><%= t('welcome.form.label.food') %></label>
                <select id="food" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                  <% LifestyleChoice.where(category: :food).where("version != 0").order(:co2).each do |choice| %>
                    <option value="<%= choice.id %>"><%=t choice.name %></option>
                  <% end %>
                </select>

                <label class="sr-only" for="car"><%= t('welcome.form.label.car') %></label>
                <select id="car" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                  <% LifestyleChoice.where(category: :car).each do |choice| %>
                    <option value="<%= choice.id %>"><%=t choice.name %></option>
                  <% end %>
                </select>

                <label class="sr-only" for="flying"><%= t('welcome.form.label.flying') %></label>
                <select id="flying" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                  <% LifestyleChoice.where(category: :flying).each do |choice| %>
                    <option value="<%= choice.id %>"><%=t choice.name %></option>
                  <% end %>
                </select>

                <div class="impact-calculator-fields--price">
                  <%= current_region.currency.prefix %><span id="sum" class="impact-calculator-fields--price-sum">x</span><%= current_region.currency.suffix %><%=t 'welcome.calculator.per_month' %>

                  <a id="price-info-helper"
                      data-html="true"
                      aria-hidden="true"
                      tabindex="0"
                      data-trigger="focus"
                      data-toggle="popover"
                      data-container="body"
                      title="<%=t 'cost_calculation' %>"
                      data-placement="auto down"
                      role="button"
                      data-content="<%=t 'price_info_popup_content', footprint: "x", footprint_x2: "x", price_per_tonne: "x", price_per_month: "x"  %>">
                    <span class="glyphicon glyphicon-large glyphicon-question-sign">
                  </a>
                </div>
              </div>

              <input type="hidden" id="base_cost" value="<%= LifestyleChoice.where(category: :base).first.id %>">
            </div>

            <div class="panel-footer">
              <a id="custom-plan" href="<%= new_registration_path(:user) %>?choices=25,1,6,14,29" class="btn btn-success" role="button"><%=t 'welcome.calculator.submit' %></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner">

    <h1 class="cover-heading"><%=t 'welcome.statistics_header' %></h1>

    <div class="row stats">
      <div class="col-md-2"></div>

      <div class="col-md-4">
        <p style="margin-bottom: 20px;">
          <%=t 'welcome.users_prefix' %>
          <br>
          <span id="total-users" class="big-number" data-target-number="<%= @unique_climate_neutral_users %>"><%= number_with_delimiter(@unique_climate_neutral_users) %></span>
          <br>
          <%=t 'welcome.users_suffix' %>
        </p>
      </div>

      <div class="col-md-4">
        <p style="margin-bottom: 20px;">
          <%=t 'welcome.tonnes_prefix' %>
          <br>
          <span id="total-carbon-offset" class="big-number" data-target-number="<%= @total_carbon_offset %>"><%= number_with_delimiter(@total_carbon_offset) %></span>
          <br>
          <%=t 'welcome.tonnes_suffix' %>
        </p>
      </div>

      <% content_for :javascript_tags do %>
        <script>
          new CountingNumber(document.querySelector('#total-carbon-offset'));
          new CountingNumber(document.querySelector('#total-users'));
        </script>
      <% end %>

      <div class="col-md-2"></div>
    </div>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%=t 'this_is_how_it_works' %></h1>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <span class="glyphicon glyphicon-large glyphicon-dashboard steps" aria-hidden="true"></span>
        <h2><%=t '1_describe_your_lifestyle' %></h2>
        <p><%=t 'welcome.how_it_works.describe_your_lifestyle_text' %></p>
      </div>

      <div class="col-xs-12 col-md-4">
        <span class="glyphicon glyphicon-large glyphicon-check steps" aria-hidden="true"></span>
        <h2><%=t '2_sign_up' %></h2>
        <p><%=t 'welcome.how_it_works.sign_up_text' %></p>
      </div>

      <div class="col-xs-12 col-md-4">
        <span class="glyphicon glyphicon-large glyphicon-globe steps" aria-hidden="true"></span>
          <h2><%=t 'welcome.how_it_works.save_our_planet_header' %></h2>
          <p><%=t 'welcome.how_it_works.save_our_planet_text' %></p>
      </div>
    </div>

    <p class="lead"></p>
    <p class="lead"></p>
    <p class="lead lead-btn more-info last-text">
      <a href="#choose-plan" class="btn btn-lg btn-success" data-controller="scroll-to" data-action="scroll-to#scroll" data-scroll-block="center"><%=t 'im_in' %></a>
    </p>

  </div>
</div>

<div class="site-wrapper-first site-wrapper-first--no-trees">
  <div class="inner text-center">
    <h1 class="cover-heading"><%=t 'views.welcome.index.our_projects_header' %></h1>
    <p class="lead" style="margin-bottom: 60px;"><%=t 'views.welcome.index.our_projects_lead' %></p>

    <span class="section-label"><%=t 'views.projects.index.latest_project' %></span>
    <h1 class="cover-heading">
      <%= @latest_project.name %>
      <span class="tonnes-label">
        <span class="tonnes-label--number"><%= number_with_delimiter(@latest_project.co2e.tonnes.to_i) %></span>
        <span class="tonnes-label--unit"><%=t 'views.shared.tonnes_co2e', count: @latest_project.co2e.tonnes.to_i %></span>
      </span>
    </h1>
    <div class="container text-left no-max-width">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-1 col-md-push-7">
          <div class="img-circle-cropped" style="background-image: url('<%= @latest_project.image_url %>'); max-width: 300px; margin: 0 auto 15px;">
          </div>
        </div>
        <div class="col-xs-12 col-md-7 col-md-pull-3">
          <%=
            simple_format(@latest_project.short_description, class: 'lead')
              .sub(/<\/p>\z/, " &nbsp; #{link_to t('views.projects.index.read_more_link'), @latest_project.blog_url, class: 'text-size-normal'}</p>").html_safe
            %>
          <div class="margin-1-line">
            <%=l @latest_project.date_bought.to_date %> &bull;
            <%= @latest_project.country %> &bull;
            <%=t "models.project.offset_type.#{@latest_project.offset_type}" %>
          </div>
        </div>
      </div>
    </div>
    <p class="lead last-text"><%= link_to t('views.welcome.index.our_projects_link'), projects_path, class: 'btn btn-default' %></p>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%=t 'what_is_goclimateneutral' %></h1>
    <p class="lead"><%=t 'welcome.what_is_gcn_text' %></p>

    <div class='embed-container-wrapper'>
      <div class='embed-container'>
        <% if I18n.locale == :sv %>
          <iframe src='https://player.vimeo.com/video/241825913' align='top' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <% else %>
          <iframe src='https://player.vimeo.com/video/246406263' align='top' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <% end %>
      </div>
    </div>

    <p class="lead lead-btn more-info last-text">
      <a href="#choose-plan" class="btn btn-lg btn-success" data-controller="scroll-to" data-action="scroll-to#scroll" data-scroll-block="center"><%=t 'welcome.call_to_actions.im_ready_to_sign_up' %></a>
    </p>

  </div>
</div>

<%= render "shared/footer_old" %>

<% content_for :javascript_tags do %>
  <script>
    $(document).ready(function() {
      initializeWelcome();
    });
  </script>
<% end %>
