<div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover">
    				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    				<h1 class="cover-heading"><%=t('welcome_to_a_climate_neutral_life') %></h1>
    				<p class="lead"><%=t 'climate_change_is_the_greatest_challange' %></p>
    				<p class="lead lead-btn">
    					<a href="/step_1_choose_plan" class="btn btn-lg btn-success"><%=t 'go_climate_neutral_now' %></a>
    				</p>
		       </div>


  </div>
  
  <%= render "shared/footer" %>

</div>