<div class="site-wrapper-inner site-wrapper-first">
  <div class="cover-container">
    <%= render "shared/header" %>

    <div class="container">
      <div class="row">
        <div class="inner cover">
          <div class="col-xs-12 col-md-8">

            <h1 class="cover-heading top">
              <%=t 'welcome.caption_line_1' %><br>
              <%=t 'welcome.caption_line_2' %>
            </h1>

          </div>
          <div class="col-xs-12 col-md-4">

            <div id="choose-plan" class="panel panel-success">
              <div class="panel-heading">

                <h3 class="panel-title">
                  <%=t 'welcome.calculator.title' %>
                </h3>

              </div>
              <div class="panel-body custom-plan-price">

                <div class="impact-calculator-fields">
                  <select id="people" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                    <% LifestyleChoice.where(category: :people).where("version != 0").order(:co2).each do |people| %>
                      <% if people.co2.to_i == 1 %>
                        <option value="<%= people.id %>"><%=t people.name %></option>
                      <% else %>
                        <option value="<%= people.id %>"><%= I18n.t('x_people', number: people.co2.to_i) %></option>
                      <% end %>
                    <% end %>
                  </select>
                  <select id="food" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                    <% LifestyleChoice.where(category: :food).where("version != 0").order(:co2).each do |choice| %>
                      <option value="<%= choice.id %>"><%=t choice.name %></option>
                    <% end %>
                  </select>
                  <select id="car" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                    <% LifestyleChoice.where(category: :car).each do |choice| %>
                      <option value="<%= choice.id %>"><%=t choice.name %></option>
                    <% end %>
                  </select>
                  <select id="flying" class="form-control input-sm impact-calculator-fields--lifestyle-choice">
                    <% LifestyleChoice.where(category: :flying).each do |choice| %>
                      <option value="<%= choice.id %>"><%=t choice.name %></option>
                    <% end %>
                  </select>

                  <div class="impact-calculator-fields--price">
                    <% if locale == :en %>$<% end %><span id="sum" class="impact-calculator-fields--price-sum">x</span>
                    <% if locale == :sv %>kr<% elsif locale == :de %>€<% end %><%=t 'welcome.calculator.per_month' %>

                    <a id="price-info-helper"
                        data-html="true" 
                        aria-hidden="true" 
                        tabindex="0"
                        data-trigger="focus"
                        data-toggle="popover" 
                        data-container="body" 
                        title="<%=t 'cost_calculation' %>" 
                        data-placement="auto down" 
                        role="button"
                        data-content="<%=t 'price_info_popup_content', footprint: "x", footprint_x2: "x", price_per_tonne: "x", price_per_month: "x"  %>">
                      <span class="glyphicon glyphicon-question-sign">
                    </a>
                    </span>
                  </div>
                </div>

                <input type="hidden" id="base_cost" value="<%= LifestyleChoice.where(category: :base).first.id %>">


              </div>
              <div class="panel-footer">

                <a id="custom-plan" href="<%= new_registration_path(:user) %>?choices=25,1,6,14,29" class="btn btn-success" role="button"><%=t 'welcome.calculator.submit' %></a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="i-want-to-know-more" class="site-wrapper-second">

  <div class="cover-container">
    <div class="inner cover">
      <h1 class="cover-heading"><%=t 'what_is_goclimateneutral' %></h1>
      <p class="lead"><%=t 'welcome.what_is_gcn_text' %></p>
      <div class='embed-container-wrapper'>
        <div class='embed-container'>
          <% if I18n.locale == :sv %>
            <iframe src='https://player.vimeo.com/video/241825913' align='top' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <% else %>
            <iframe src='https://player.vimeo.com/video/246406263' align='top' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <% end %>
        </div>
      </div>

      <p class="lead lead-btn more-info last-text">
      <a class="im-in-button btn btn-lg btn-success"><%=t 'welcome.call_to_actions.im_ready_to_sign_up' %></a>
      </p>

    </div>
  </div>

</div>

      <div class="site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading"><%=t 'this_is_how_it_works' %></h1>
            <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <span class="glyphicon glyphicon-dashboard steps" aria-hidden="true"></span>
                    
                    <h2><%=t '1_describe_your_lifestyle' %></h2>
                    <p><%=t 'welcome.how_it_works.describe_your_lifestyle_text' %></p>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <span class="glyphicon glyphicon-check steps" aria-hidden="true"></span>
                    <h2><%=t '2_sign_up' %></h2>
                    <p><%=t 'welcome.how_it_works.sign_up_text' %></p>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <span class="glyphicon glyphicon-globe steps" aria-hidden="true"></span>
                      <h2><%=t 'welcome.how_it_works.save_our_planet_header' %></h2>
                      <p><%=t 'welcome.how_it_works.save_our_planet_text' %></p>
                  </div>
            </div>
            <p class="lead"></p>
            <p class="lead"></p>
            <p class="lead lead-btn more-info last-text">
              <a class="im-in-button btn btn-lg btn-success"><%=t 'im_in' %></a>
            </p>
          </div>
        </div>
      </div>

      <div id="second-section" class="site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'welcome.lets_save_our_planet_header' %></h1>
            <p class="lead"><%=t 'welcome.lets_save_our_planet_text' %></p>
            <div class="row stats">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <h1 id="total-carbon-offset" class="big-number" data="<%= @total_carbon_offset %>">0</h1>
                <p><%=t 'ton_co2_less_in_atmosphere' %></p>
              </div>
              <div class="col-md-2"></div>
            </div>
            <p class="lead lead-btn more-info last-text">
              <a class="im-in-button btn btn-lg btn-success"><%=t 'welcome.call_to_actions.i_want_to_contribute' %></a>
            </p>
          </div>
        </div>
      </div>

      <%= render "shared/footer" %>

<% content_for :javascript_tags do %>
  <%= javascript_include_tag 'welcome' %>
<% end %>
