
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'go_climate_neutral' %></h1>
            <p class="lead"><%=t 'section_1_text' %></p>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'its_fun_to_do_it_together' %></h1>
            <p class="lead"><%=t 'section_2_text' %></p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'we_are_100_transparent' %></h1>
            <p class="lead"><%=t 'section_3_text' %></p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'we_are_975_effective' %></h1>
            <p class="lead"><%=t 'section_4_text' %></p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-fifth">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'start_by_choosing_plan' %></h1>
            <p class="lead"><%=t 'section_5_text' %></p>

            <div class="plan container">
              <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%=t 'mini_impact_plan' %></h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $3<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          <%=t 'vegan' %> 
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          <%=t 'no_car' %>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'hardly_ever_flies' %>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=4" class="btn btn-success" role="button"><%=t 'this_is_me' %></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%=t 'small_impact_plan' %></h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $5<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          <%=t 'mostly_vegetarian' %>
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          <%=t 'one_fuel_efficient_car' %>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'flies_sometimes' %>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=7" class="btn btn-success" role="button"><%=t 'yep_me' %></a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%=t 'custom_impact_plan' %></h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $<span id="sum">x</span><span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td class="form select">
                                          <select id="food" class="form-control input-sm">
                                            <option value="1"><%=t 'vegan' %></option>
                                            <option value="1.5"><%=t 'vegetarian' %></option>
                                            <option value="2"><%=t 'mostly_vegetarian' %></option>
                                            <option value="3"><%=t 'sometimes_vegetarian' %></option>
                                            <option value="4"><%=t 'meat_eater' %></option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td class="form select">
                                          <select id="car" class="form-control input-sm">
                                            <option value="0"><%=t 'no_car' %></option>
                                            <option value="2"><%=t 'fuel_efficient_seldom_drives' %></option>
                                            <option value="3"><%=t 'fuel_efficient_car_drives_often' %></option>
                                            <option value="3"><%=t 'normal_car_seldom_drives' %></option>
                                            <option value="5"><%=t 'normal_car_drives_often' %></option>
                                            <option value="4"><%=t 'suv_seldom_drives' %></option>
                                            <option value="6"><%=t 'suv_drives_often' %></option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="form select">
                                          <select id="flight" class="form-control input-sm">
                                            <option value="0"><%=t 'never_flies' %></option>
                                            <option value="1"><%=t 'flies_short_distance_time_year', times: 1 %></option>
                                            <option value="2"><%=t 'flies_short_distance_time_year', times: 2 %></option>
                                            <option value="3"><%=t 'flies_short_distance_time_year', times: 3 %></option>
                                            <option value="6"><%=t 'flies_short_distance_time_year', times: 6 %></option>
                                            <option value="12"><%=t 'flies_short_distance_time_year', times: 12 %></option>
                                            <option value="2"><%=t 'flies_long_distance_time_year', times: 1 %></option>
                                            <option value="4"><%=t 'flies_long_distance_time_year', times: 2 %></option>
                                            <option value="6"><%=t 'flies_long_distance_time_year', times: 3 %></option>
                                            <option value="12"><%=t 'flies_long_distance_time_year', times: 6 %></option>
                                            <option value="24"><%=t 'flies_long_distance_time_year', times: 12 %></option>
                                          </select>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a id="custom-plan" href="<%= new_registration_path(:user) %>?plan=5" class="btn btn-success" role="button"><%=t 'thats_it' %></a></div>
                      </div>
                  </div>
              </div>
          </div>
          <p class="lead"></p>
          <p class="lead last"><%=t 'read_more_how_we_calculate_offset_plans_html', href: link_to(t('here'), 'https://www.goclimateneutral.org/blog/how-calculate-the-offset-plans/') %> <%=t 'read_more_about_how_we_choose_climet_projects_html', href: link_to(t('here'), 'https://www.goclimateneutral.org/blog/what-climate-projects-we-invest-in/') %></p>

          </div>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'but_i_want_to_enter_more_details' %></h1>
            <p class="lead"><%=t 'calculating_your_exact_footprint_html', href: link_to(t('lots_of_advanced_calculators_out_there'), 'https://www.google.se/?gfe_rd=cr&ei=IVb0WOOHLIfEYOmlqNAI#q=climate+calculator') %>:</p>
            <form class="form-inline form-tonnes" method="GET" action="<%= new_registration_path(:user) %>">
              <div class="form-group">
                <input type="text" class="form-control small_number" id="plan" name="tonnes_co2" placeholder="15" value="15">
              </div>
              <button type="submit" class="btn btn-success"><%=t 'tonnes_co2_per_year' %></button>
            </form>

          </div>
        </div>
      </div>


<%= render "shared/footer" %>
