
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h1 class="cover-heading">Go Climate Neutral!</h1>
            <p class="lead">By each month investing in the certified climate offset projects that has the most positive impact for the environment for you - with a sum that corresponds to your lifestyle - we can help you offset your climate footprint. This way you can live an as climate neutural life as possible over time.</p>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <h1 class="cover-heading">It's fun to do it together!</h1>
            <p class="lead">By offseting your climate impact with us, you inspire others to do the same. Climate change is a challange we face together, so we should fight it together as well. And it's fun seeing the impact we can make together and follow the process over time.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h1 class="cover-heading">We are 100% transparent</h1>
            <p class="lead">We are 100% transparent in which climate offset projects we invest in, and why. We are also 100% transparent with the amount corbon we manage to offset with your help, and how much carbon we manage to offset with the help of all of our users.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <h1 class="cover-heading">We are 97.5% effective</h1>
            <p class="lead">97.5% of what you offset for goes directly to the most effective climate reducing projects we can find. The other 2.5% goes to covering our costs and for marketing to get even more people to live a more climate neutral life. This is excluding any credit card fees that may apply depending on which country you live in.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-fifth">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <h1 class="cover-heading">Start by choosing a climate offset plan</h1>
            <p class="lead">Whats your climate impact? Let us help you offset your climate impact by choosing a climate offset plan that corresponds most to your lifestyle below.</p>

            <div class="plan container">
              <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Hero</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $3<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Vegan
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          No car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Hardly ever flies
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=4" class="btn btn-success" role="button">This is me!</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Caring</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $5<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Mostly Vegetarian
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          One fuel efficient car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Flies sometimes
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=7" class="btn btn-success" role="button">Yep, me!</a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Custom Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $<span id="sum">x</span><span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td class="form">
                                          <select id="food" class="form-control input-sm">
                                            <option value="1">Vegan</option>
                                            <option value="1.5">Vegetarian</option>
                                            <option value="2">Mostly Vegetarian</option>
                                            <option value="3">Sometimes Vegetarian</option>
                                            <option value="4">Meat Eater</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td class="form">
                                          <select id="car" class="form-control input-sm">
                                            <option value="0">No Car</option>
                                            <option value="2">Fuel efficient car, seldom drives</option>
                                            <option value="2.5">Fuel efficient car, drives often</option>
                                            <option value="3">Normal car, seldom drives</option>
                                            <option value="5">Normal car, drives often</option>
                                            <option value="4">SUV, seldom drives</option>
                                            <option value="6">SUV, drives often</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="form">
                                          <select id="flight" class="form-control input-sm">
                                            <option value="0">Never flies</option>
                                            <option value="1">Flies short distance once a year</option>
                                            <option value="4">Flies short distance once a month</option>
                                            <option value="3">Flies long distance once a year</option>
                                            <option value="9">Flies long distance once a month</option>
                                          </select>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a id="custom-plan" href="<%= new_registration_path(:user) %>?plan=5" class="btn btn-success" role="button">That's it!</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <p class="lead"></p>
          <p class="lead">Read more on how we calculate the offset plans <b><a href="https://www.goclimateneutral.org/blog/how-calculate-the-offset-plans/">here</a></b>. Read more about how we choose what climate projects to invest in <b><a href="https://www.goclimateneutral.org/blog/what-climate-projects-we-invest-in/">here</a></b>.</p>

          </div>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            <h1 class="cover-heading">But.. I want to enter more details?</h1>
            <p class="lead">Calculating your exact climate footprint is a lot more complicated than by just choosing one of the plans above. You need tons of data, about what you eat, where you go and how you live. But the above plans are a good estimate and you don't have to worry that they are not covering for your climate footprint. But if you want to be more detailed, there's actually <b><a href="https://www.google.se/?gfe_rd=cr&ei=IVb0WOOHLIfEYOmlqNAI#q=climate+calculator">lots of advanced calculators out there</a></b>, so if you want to, you can try one and then enter your yearly carbon footprint here:</p>
            <form class="form-inline" method="GET" action="<%= new_registration_path(:user) %>">
              <div class="form-group">
                <input type="text" class="form-control small_number" id="plan" name="tonnes_co2" placeholder="15">
              </div>
              <button type="submit" class="btn btn-success">tonnes CO2/year</button>
            </form>

          </div>
        </div>
      </div>


<%= render "shared/footer" %>
