
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'section_1_go_climate_neutral' %></h1>
            <p class="lead"><%=t 'section_1_text' %></p>
            <p class="lead lead-btn more-info">
              <a id="im-in-button" class="btn btn-lg btn-success"><%=t 'im_in' %></a>
            </p>
          </div>
          <a id="scroll-to-second-section"><span class="glyphicon glyphicon-chevron-down glyphicon-plan-first" aria-hidden="true"></span></a>
        </div>
      </div>

      <div id="second-section" class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'we_are_100_transparent' %></h1>
            <p class="lead"><%=t 'section_3_text' %></p>
          </div>
        </div>
        <a id="scroll-to-third-section"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      </div>

      <div id="third-section" class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'we_are_975_effective' %></h1>
            <p class="lead"><%=t 'section_4_text' %></p>
          </div>
        </div>
        <a id="scroll-to-fourth-section"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      </div>

      <div id="fourth-section" class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'its_fun_to_do_it_together' %></h1>
            <p class="lead"><%=t 'section_2_text' %></p>
            <div class="row stats">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <h1 class="big-number"><%= @unique_climate_neutral_users %></h1>
                <p><%=t 'climate_neutral_users_right_now' %></p> 
              </div>
              <div class="col-md-4">
                <h1 class="big-number"><%= @total_carbon_offset %></h1>
                <p><%=t 'ton_co2_we_have_offset_together' %>:</p>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
        <a id="scroll-to-choose-plan"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      </div>


      <div id="choose-plan" class="site-wrapper-inner site-wrapper-fifth">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <h1 class="cover-heading"><%=t 'start_by_choosing_plan' %></h1>
            <p class="lead"><%=t 'section_5_text' %></p>

            <div class="plan container">
              <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%=t 'mini_impact_plan' %></h3>
                          </div>
                          <div class="panel-body">
                            <%= render 'shared/price', choices: [25, 1, 6, 26] %>
                              <table class="table">
                                  <tr>
                                      <td>
                                          1 person
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'vegan' %> 
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'no_car' %>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'hardly_ever_flies' %>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) + "?choices=25,1,6,26,29" %>" class="btn btn-success" role="button"><%=t 'this_is_me' %></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%=t 'small_impact_plan' %></h3>
                          </div>
                          <div class="panel-body">
                              <%= render 'shared/price', choices: [25, 4, 9, 27] %>
                              <table class="table">
                                  <tr>
                                      <td>
                                          1 person
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'sometimes_vegetarian' %>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'one_fuel_efficient_car' %>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <%=t 'flies_sometimes' %>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) + "?choices=25,4,9,27,29"  %>" class="btn btn-success" role="button"><%=t 'yep_me' %></a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%=t 'custom_impact_plan' %></h3>
                          </div>
                          <div class="panel-body custom-plan-price">
                            <%= render 'shared/price', choices: [] %>
                            <table class="table">
                              <tr>
                                  <td class="form select">
                                    <select id="people" class="form-control input-sm">
                                      <% LifestyleChoice.where(category: :people).where("version != 0").order(:co2).each do |people| %>
                                        <% if people.co2.to_i == 1 %>
                                          <option value="<%= people.id %>"><%=t people.name %></option>
                                        <% else %>
                                          <option value="<%= people.id %>"><%= I18n.t('x_people', number: people.co2.to_i) %></option>
                                        <% end %>
                                      <% end %>
                                    </select>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="form select">
                                      <select id="food" class="form-control input-sm">
                                        <% LifestyleChoice.where(category: :food).where("version != 0").order(:co2).each do |choice| %>
                                          <option value="<%= choice.id %>"><%=t choice.name %></option>
                                        <% end %>
                                      </select>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="form select">
                                      <select id="car" class="form-control input-sm">
                                        <% LifestyleChoice.where(category: :car).each do |choice| %>
                                          <option value="<%= choice.id %>"><%=t choice.name %></option>
                                        <% end %>
                                      </select>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="form select">
                                      <select id="flying" class="form-control input-sm">
                                        <% LifestyleChoice.where(category: :flying).each do |choice| %>
                                          <option value="<%= choice.id %>"><%=t choice.name %></option>
                                        <% end %>
                                      </select>
                                  </td>
                              </tr>
                            </table>
                            <input type="hidden" id="base_cost" value="<%= LifestyleChoice.where(category: :base).first.id %>">


                          </div>
                          <div class="panel-footer">
                              <a id="custom-plan" href="<%= new_registration_path(:user) %>?choices=25,1,6,14,29" class="btn btn-success" role="button"><%=t 'thats_it' %></a></div>
                      </div>
                  </div>
              </div>
          </div>

          <p class="last plan-faq"><a href="/faq"><%=t 'faq_questions.questions.q17.question' %> <%=t 'faq_questions.questions.q18.question' %> <%=t 'faq_questions.questions.q1.question' %> <%=t 'read_more_on_frequently_asked_questions' %></a>.</p>
          </div>
        </div>
      </div>

