<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner cover">

    <h1 class="cover-heading"><%= title(t('100_percent_transparency')) %></h1>
    <p class="lead"><%= description(t('100_percent_transparency_intro')) %></p>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%=t 'what_we_do_with_your_money' %></h1>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <span class="glyphicon glyphicon-large glyphicon-bullhorn steps" aria-hidden="true"></span>
        <h2>1. <%=t 'system_change' %></h2>
        <p><%=t 'system_change_description' %></p>
      </div>

      <div class="col-xs-12 col-md-4">
        <span class="glyphicon glyphicon-large glyphicon-globe steps" aria-hidden="true"></span>
        <h2>2. <%=t 'climate_projects' %></h2>
        <p><%=t 'climate_projects_description' %></p>
      </div>

      <div class="col-xs-12 col-md-4">
        <span class="glyphicon glyphicon-large glyphicon-user steps" aria-hidden="true"></span>
          <h2>3. <%=t 'behavioral_change' %></h2>
          <p><%=t 'behavioral_change_description' %></p>
      </div>
    </div>

  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner cover">

    <span class="glyphicon glyphicon-large glyphicon-home" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'basic_facts' %></h1>
    <p class="lead text-left"><%=t 'employees' %>: <b>6</b> <%=t 'full_time' %></p>
    <p class="lead text-left"><%=t 'Main_KPI' %>: <b>264 300</b> <%=t 'tonnes_avoided_CO2e-emissions' %></p>
    <p class="lead text-left"><%=t 'latest_fiscal_year_turnover' %>: <b><%= number_with_delimiter(5_550_300) %></b> SEK</p>
    <p class="lead text-left"><%=t 'total_accumulated_dividend_to_shareholders' %>: <b>0</b> SEK (<%=t 'everything_is_invested_for_maximum_climate_impact' %>)</p>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner cover">
    <h1 class="cover-heading"><%=t 'amount_of_avoided_emissions' %></h1>
    <%= image_tag webpack_asset_path('images/transparency/co2-avoided.png'), class: 'img-responsive center-block' %>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner cover">
    <h1 class="cover-heading"><%=t 'project_distribution_by_continent' %></h1>
    <%= image_tag webpack_asset_path('images/transparency/project-continent.png'), class: 'img-responsive center-block'  %>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner cover">
    <h1 class="cover-heading"><%=t 'project_distribution_by_technology' %></h1>
    <%= image_tag webpack_asset_path('images/transparency/project-technology.png'), class: 'img-responsive center-block'  %>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner cover">
    <h1 class="cover-heading"><%=t 'CO2e_avoided_per_coworker' %></h1>
    <%= image_tag webpack_asset_path('images/transparency/co2-per-coworker.png'), class: 'img-responsive center-block'  %>
  </div>
</div>

<a name="this_is_how_it_works"></a>
<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-search" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t '100_percent_transparency_financial_info' %></h1>
    <p class="lead"><%=t '100_percent_transparency_financial_info_intro' %></p>
    <div class="financial-info">
      <h2><%=t 'fiscal_year_2020_ongoing' %></h2>
      <h3><%=t 'revenue' %></h3>
      <table class="table table-condensed">
        <tr>
          <td><%=t 'climate_offset_from_users' %></td>
          <td class="text-right"><%= number_with_delimiter(@payouts_from_users2020) %> SEK</td>
        </tr>
        <tr>
          <td><%=t 'revenue_from_companies' %></td>
          <td class="text-right"><%= number_with_delimiter(@invoiced2020) %> SEK</td>
        </tr>
        <tr>
          <td><%=t 'total' %></td>
          <td class="text-right"><%= number_with_delimiter(@total_revenue) %> SEK</td>
        </tr>
      </table>

      <h3><%=t 'cost' %></h3>
      <table class="table table-condensed">
        <tr>
          <td><%=t 'investments_in_climate_projects' %></td>
          <td class="text-right"><%= number_with_delimiter(@project_cost_in_sek2020) %> SEK</td>
        </tr>
        <tr>
          <td><%=t 'salary_costs' %></td>
          <td class="text-right"><%= number_with_delimiter(@salaries_cost_in_sek2020) %> SEK</td>
        </tr>
        <tr>
          <td><%=t 'other_operating_expenses' %></td>
          <td class="text-right"><%= number_with_delimiter(@other_operating_expenses2020) %> SEK</td>
        </tr>
        <tr>
          <td><%=t 'total' %></td>
          <td class="text-right"><%= number_with_delimiter(@total_cost) %> SEK</td>
        </tr>
      </table>

      <h3><%=t 'result' %></h3>
      <table class="table table-condensed">
        <tr>
          <td><%=t 'result' %></td>
          <td class="text-right"><%= number_with_delimiter(@total_revenue + @total_cost) %> SEK</td>
        </tr>
      </table>

      <%= link_to I18n.t('you_can_read_more_details_about_our_costs_here'), 'https://docs.google.com/spreadsheets/d/1RzUCaVqTTxJYjfUMeh3KlTxBpiATy2ViPO3m0LHGpG8/', target: "_blank" %>.
    </div>

    <div class="financial-info">
      <h2><%=t 'fiscal_years' %> 2017-2019</h2>


      <h3><%= t('auditor') %></h3>
      <p>Alexander Lyckow, PwC</p>

      <h3><%= t('financials') %> (in SEK)</h3>

      <h4><%=t 'revenue' %></h4>
      <table class="table table-condensed text-nowrap">
        <tr>
          <th><%=t 'year' %></th>
          <th class="text-right text-nowrap">2017-2018</th>
          <th class="text-right">2019(prel)</th>
        </tr>
        <tr>
          <td><%=t 'climate_offset_from_users' %></td>
          <td class="text-right text-nowrap"><%= number_with_delimiter(974_155) %></td>
          <td class="text-right text-nowrap"><%= number_with_delimiter(3_639_000) %></td>
        </tr>
        <tr>
          <td><%=t 'revenue_from_companies' %></td>
          <td class="text-right"><%= number_with_delimiter(1_198_984) %></td>
          <td class="text-right"><%= number_with_delimiter(1_911_300) %></td>
        </tr>
        <tr>
          <td><%=t 'total' %></td>
          <td class="text-right"><%= number_with_delimiter(2_173_138) %></td>
          <td class="text-right"><%= number_with_delimiter(5_550_300) %></td>
        </tr>
      </table>

      <h4><%=t 'cost' %></h4>
      <table class="table table-condensed text-nowrap">
        <tr>
          <td><%=t 'investments_in_climate_projects' %></td>
          <td class="text-right"><%= number_with_delimiter(-1_830_670) %></td>
          <td class="text-right"><%= number_with_delimiter(-3_153_900) %></td>
        </tr>
        <tr>
          <td><%=t 'salary_costs' %></td>
          <td class="text-right">0</td>
          <td class="text-right"><%= number_with_delimiter(-1_290_600) %></td>
        </tr>
        <tr>
          <td><%=t 'other_operating_expenses' %></td>
          <td class="text-right"><%= number_with_delimiter(-256_844) %></td>
          <td class="text-right"><%= number_with_delimiter(-949_600) %></td>
        </tr>
        <tr>
          <td><%=t 'total' %></td>
          <td class="text-right"><%= number_with_delimiter(-2_087_514) %></td>
          <td class="text-right"><%= number_with_delimiter(-5_394_100) %></td>
        </tr>
        <tr>
          <td colspan="3">
            <%= link_to I18n.t('you_can_read_more_details_about_our_costs_here'), 'https://docs.google.com/spreadsheets/d/1RzUCaVqTTxJYjfUMeh3KlTxBpiATy2ViPO3m0LHGpG8/edit#gid=0', target: "_blank" %>
          </td>
        </tr>
      </table>


      <h4><%=t 'result' %></h4>
      <table class="table table-condensed text-nowrap">
        <tr>
          <td style="width:345px"><%=t 'result' %></td>
          <td class="text-right"><%= number_with_delimiter(48_018) %></td>
          <td class="text-right"><%= number_with_delimiter(157_700) %></td>
        </tr>
      </table>

      <p><%= t('all_of_the_result_were_carried_forward') %></p>

    </div>
    <p class="lead"><%=t 'questions_or_comments_contact_us' %>: <a href="mailto:info@goclimateneutral.org">info@goclimateneutral.org</a></p>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <div class="row stats offset-projects">
        <div class="col-md-12">
            <h1 class="cover-heading"><%=t '100_percent_transparency_climate_projects' %></h1>
            <div class="table-responsive">
            <p class="lead"><%=t 'for_more_information_about_climate_projects' %> <%= link_to t('our_projects').downcase, projects_path %>.</p>
          </div>
        </div>
    </div>

  </div>
</div>

<%= render "shared/footer_old" %>
