<h1 class="heading-lg">Preview of data collection for <%= Organization.find(@report.organization_id).name %></h1>

<% @report.areas.each do |area| %>
  <h3><%= area.title %></h3>
  <% BusinessCalculators::Calculator.find(area.calculator_id).categories.each do |category| %>
    <h4><%= category.name %></h4>
    <% category.fields.each do |field| %>
      <div class="row">
        <div class="col-sm-3">
          <%= label_tag field.label %>
          <input type="text" class="input">
        </div>
        <div class="col-sm-3">
          <%= label_tag 'Unit' %>
          <select class="input" size="<%= field.units&.length + 1 %>">
            <% field.units&.each_key do |key| %>
              <% unit = BusinessCalculators::Unit.find_by(key: key) %>
              <!-- maybe value should be unit.id instead? -->
              <option value="<%= key %>"><%= unit.name %></option>
            <% end %>
            <option value="freeform">Free form</option>
          </select>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div style="margin-top: 3em">
  <%= link_to 'Edit', edit_admin_climate_report_path(@report), class: 'button' %>
  <%= link_to 'Back', admin_climate_reports_path, class: 'link' %>
</div>
