<p id="notice"><%= notice %></p>

<h1>Climate Report</h1>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @report.title %></dd>
  
  <dt>Updated:</dt>
  <dd><%= time_tag(@report.updated_at) %></dd>

  <dt>Organization:</dt>
  <dd><%= @report.organization.name %></dd>

  <dt>Reporting period:</dt>
  <dd><%= @report.reporting_period %></dd>

  <dt>Report areas:</dt>
  <% @report.areas.each do |area| %>
    <dd><%= area.title %> (connected to calculator <%= BusinessCalculators::Calculator.find(area.calculator_id).name %>)</dd>
  <% end %>
</dl>

<hr>

<%= link_to 'Edit', edit_admin_climate_report_path(@report), class: 'btn btn-default' %>
<%= link_to 'Back', admin_climate_reports_path, class: 'btn btn-link' %>
