<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<dl>
  <dt>Total CO2</dt><dd><%= @total_co2 %> tonnes</dd>
  <dt>Total spent</dt><dd><%= @total_sek_spent %> SEK</dd>
</dl>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Carbon offset</th>
      <th>Carbon offset available</th>
      <th>Cost</th>
      <th>Date bought</th>
      <th>Country</th>
      <th>Offset type</th>
      <th>Start block</th>
      <th>End block</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= number_with_delimiter(project.carbon_offset, delimiter: ' ') %> t CO2e</td>
        <td><%= number_with_delimiter(project.co2e_available, delimiter: ' ') %> kg CO2e</td>
        <td><%= project.cost_in_sek %> SEK</td>
        <td><%= project.date_bought.to_date %></td>
        <td><%= project.country %></td>
        <td><%= project.offset_type %></td>
        <td><%= project.start_block %></td>
        <td><%= project.end_block %></td>
        <td class="admin-actions">
          <%= link_to 'Show', [:admin, project] %> &nbsp;
          <%= link_to 'Edit', edit_admin_project_path(project) %> &nbsp;
          <%= link_to 'Destroy', [:admin, project], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Project', new_admin_project_path, class: 'btn btn-default' %>
