<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>CDM url:</strong>
  <%= @project.cdm_url %>
</p>

<p>
  <strong>Gold Standard url:</strong>
  <%= @project.gold_standard_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @project.image_url %>
</p>

<p>
  <strong>Blog url:</strong>
  <%= @project.blog_url %>
</p>
<p>
  <strong>Certificate url:</strong>
  <%= @project.certificate_url %>
</p>
<p>
  <strong>Invoice url:</strong>
  <%= @project.invoice_url %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @project.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @project.latitude %>
</p>

<p>
  <strong>Carbon offset:</strong>
  <%= @project.carbon_offset %>
</p>

<p>
  <strong>Cost in SEK (including VAT):</strong>
  <%= @project.cost_in_sek %>
</p>

<p>
  <strong>Date bought:</strong>
  <%= @project.date_bought %>
</p>

<p>
  <strong>Country:</strong>
  <%= @project.country %>
</p>

<p>
  <strong>Offset type:</strong>
  <%= @project.offset_type %>
</p>

<p>
  <strong>Gold Standard Id:</strong>
  <%= @project.gold_standard_id %>
</p>

<p>
  <strong>CDM Id:</strong>
  <%= @project.cdm_id %>
</p>

<p>
  <strong>Start block:</strong>
  <%= @project.start_block %>
</p>

<p>
  <strong>End block:</strong>
  <%= @project.end_block %>
</p>

<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', admin_projects_path %>
