<div class="site-wrapper-first site-wrapper-first--no-trees">
  <%= render "shared/header" %>
  <div class="inner">
    <span class="section-label"><%=t 'views.projects.index.latest_project' %></span>
    <h1 class="cover-heading">
      <%= @latest_project.name %>
      <span class="tonnes-label">
        <span class="tonnes-label--number"><%= number_with_delimiter(@latest_project.co2e.tonnes.to_i) %></span>
        <span class="tonnes-label--unit"><%=t 'views.shared.tonnes_co2e', count: @latest_project.co2e.tonnes.to_i %></span>
      </span>
    </h1>
    <div class="container text-left no-max-width">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-1 col-md-push-7">
          <div class="img-circle-cropped" style="background-image: url('<%= @latest_project.image_url %>'); max-width: 300px; margin: 0 auto 15px;">
          </div>
        </div>
        <div class="col-xs-12 col-md-7 col-md-pull-3">
          <%=
            simple_format(@latest_project.short_description, class: 'lead')
              .sub(/<\/p>\z/, " &nbsp; #{link_to t('views.projects.index.read_more_link'), @latest_project.blog_url, class: 'text-size-normal'}</p>").html_safe
            %>
          <div class="margin-1-line">
            <%=l @latest_project.date_bought.to_date %> &bull;
            <%= @latest_project.country %> &bull;
            <%=t "models.project.offset_type.#{@latest_project.offset_type}" %> &bull;
            <%= link_to t('views.projects.index.map_link'), @latest_project.map_url, target: '_blank' %> &bull;
            <%= link_to t('views.projects.index.certificate_link'), @latest_project.certificate_url, target: '_blank' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%= title(t('views.projects.index.map_header')) %></h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="projects-map">
            <%= image_tag webpack_asset_path('images/world_epsg_32663.png'), class: 'map' %>
            <% @projects.drop(1).each do |project| %>
              <div class="projects-map__marker" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>" title="<%= "#{project.name}, #{project.country}" %>"></div>
            <% end %>
            <div class="projects-map__marker projects-map__marker--callout" data-latitude="<%= @projects.first.latitude %>" data-longitude="<%= @projects.first.longitude %>" style="background-image: url('<%= @projects.first.image_url %>')" title="<%= "#{@projects.first.name}, #{@projects.first.country}" %>"></div>
          </div>
        </div>
      </div>
    </div>
    <% content_for :javascript_tags do %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var markers = document.querySelectorAll('.projects-map__marker');
          for (var i = 0; i < markers.length; i++) {
            new ProjectsMapMarker(markers[i]);
          }
        });
      </script>
    <% end %>

  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-ok" aria-hidden="true"></span>
    <div class="row stats offset-projects">
        <div class="col-md-12">
            <h1 class="cover-heading"><%=t 'climate_project_we_have_invested_in' %></h1>
            <div class="table-responsive">
              <table class="table our-projects">
                <thead>
                  <tr>
                    <th></th>
                    <th><%=t 'project_name' %></th>
                    <th><%=t 'country' %></th>
                    <th><%=t 'map' %></th>
                    <th><%=t 'our_investment_certificate' %></th>
                    <th><%=t 'date_of_our_investment' %></th>
                    <th><%=t 'project_certification' %></th>
                    <th><%= t('tonnes_CO2').upcase_first %></th>
                    <th><%=t 'more_info_on_blog' %></th>
                  </tr>
                </thead>
                <tbody>
                <% @projects.each do |project| %>
                  <tr>
                    <td><%= image_tag project.image_url, height: "50", alt: "" %></td>
                    <td><a href ="<%= project.blog_url %>"><%= project.name %></a></td>
                    <td><%= project.country %></td>
                    <td><%= link_to 'Google Maps', project.map_url, target: '_blank' %></td>
                    <% if project.certificate_url.nil? || project.certificate_url.empty? %>
                      <td>-</td>
                    <% else %>
                      <td><a href="<%= project.certificate_url %>"><%=t 'certificate' %></a></td>
                    <% end %>
                    <td><%= project.date_bought.to_date %></td>
                    <td><%= project.offset_type %><span class="glyphicon glyphicon-large glyphicon-question-sign certification-info-helper" data-html="true" aria-hidden="true" data-toggle="popover" data-container="body" title="<%=t 'project_certification' %>" data-placement="auto down" data-content="<%=t 'project_certification_info_html' %>"></span></td>
                    <td><%= project.co2e.tonnes.to_i %></td>
                    <td><a href ="<%= project.blog_url %>"><%=t 'read_more' %></a></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>

  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%= title(t('our_investments_in_climate_projects')) %></h1>
    <%= simple_format(description(t('views.projects.index.about_our_projects')), class: 'lead') %>

  </div>
</div>

<div id="second-section" class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-search" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'we_are_100_transparent' %></h1>
    <p class="lead"><%=t 'section_3_text' %></p>
    <p class="lead lead-btn">
      <a href="/#choose-plan" class="btn btn-lg btn-success"><%=t 'i_want_to_contribute' %></a>
    </p>

  </div>
</div>

<%= render "shared/footer" %>

<% content_for :javascript_tags do %>
  <script>
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
  </script>
<% end %>
