<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first site-wrapper-first--no-trees">
  <%= render "shared/header_old" %>
  <div class="inner">
    <span class="section-label"><%=t 'views.projects.index.latest_project' %></span>
    <h1 class="cover-heading">
      <%= @latest_project.name %>
      <span class="tonnes-label">
        <span class="tonnes-label--number"><%= number_with_delimiter(@latest_project.co2e.tonnes.to_i) %></span>
        <span class="tonnes-label--unit"><%=t 'views.shared.tonnes_co2e', count: @latest_project.co2e.tonnes.to_i %></span>
      </span>
    </h1>
    <div class="container text-left no-max-width">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-1 col-md-push-7">
          <div class="img-circle-cropped" style="background-image: url('<%= @latest_project.image_url %>'); max-width: 300px; margin: 0 auto 15px;">
          </div>
        </div>
        <div class="col-xs-12 col-md-7 col-md-pull-3">
          <%=
            simple_format(@latest_project.short_description, class: 'lead')
              .sub(/<\/p>\z/, " &nbsp; #{link_to t('views.projects.index.read_more_link'), @latest_project.blog_url, class: 'text-size-normal'}</p>").html_safe
            %>
          <div class="margin-1-line">
            <%=l @latest_project.date_bought.to_date %> &bull;
            <%= @latest_project.country %> &bull;
            <%=t "models.project.offset_type.#{@latest_project.offset_type}" %> &bull;
            <%= link_to t('views.projects.index.map_link'), @latest_project.map_url, target: '_blank' %>
            <% if @latest_project.certificate_url.present? %>
              &bull; <%= link_to t('views.projects.index.certificate_link'), @latest_project.certificate_url, target: '_blank' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%= title(t('views.projects.index.map_header')) %></h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="projects-map">
            <%= image_tag webpack_asset_path('images/world_epsg_32663.png'), class: 'map' %>
            <% @projects.drop(1).each do |project| %>
              <div class="projects-map__marker" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>" title="<%= "#{project.name}, #{project.country}" %>"></div>
            <% end %>
            <div class="projects-map__marker projects-map__marker--callout" data-latitude="<%= @projects.first.latitude %>" data-longitude="<%= @projects.first.longitude %>" style="background-image: url('<%= @projects.first.image_url %>')" title="<%= "#{@projects.first.name}, #{@projects.first.country}" %>"></div>
          </div>
        </div>
      </div>
    </div>
    <% content_for :javascript_tags do %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var markers = document.querySelectorAll('.projects-map__marker');
          for (var i = 0; i < markers.length; i++) {
            new ProjectsMapMarker(markers[i]);
          }
        });
      </script>
    <% end %>

    <div class="container margin-1-line">
      <div class="row stats offset-projects">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <% @projects.each do |project| %>
            <div class="panel panel-default panel-full-width panel-left-align">
              <div id="project-<%= project.id %>" class="list-group projects-list-item">
                <div class="list-group-item projects-list-item--heading" onclick="document.querySelector('#project-<%= project.id %>').classList.toggle('projects-list-item__expanded');">
                  <div class="img-circle-cropped projects-list-item--image" style="background-image: url('<%= project.image_url %>');"></div>
                  <h2>
                    <%= project.name %>
                    <span class="tonnes-label">
                      <span class="tonnes-label--number"><%= number_with_delimiter(project.co2e.tonnes.to_i) %></span>
                      <span class="tonnes-label--unit"><%=t 'views.shared.tonnes_co2e', count: project.co2e.tonnes.to_i %></span>
                    </span>
                  </h2>
                  <div class="projects-list-item--chevron">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </div>
                </div>
                <div class="list-group-item projects-list-item--details">
                  <%=
                    simple_format(project.short_description, class: 'lead')
                      .sub(/<\/p>\z/, " &nbsp; #{link_to t('views.projects.index.read_more_link'), project.blog_url, class: 'text-size-normal'}</p>").html_safe
                    %>

                  <div class="margin-1-line">
                    <%=l project.date_bought.to_date %> &bull;
                    <%= project.country %> &bull;
                    <%=t "models.project.offset_type.#{project.offset_type}" %> &bull;
                    <% if project.certificate_url.present? %>
                      <%= link_to t('views.projects.index.invoice'), project.invoice_url, target: '_blank' %> &bull;
                    <% end %>
                    <%= link_to t('views.projects.index.map_link'), project.map_url, target: '_blank' %>
                    <% if project.certificate_url.present? %>
                      &bull; <%= link_to t('views.projects.index.certificate_link'), project.certificate_url, target: '_blank' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%= title(t('our_investments_in_climate_projects')) %></h1>
    <%= simple_format(description(t('views.projects.index.about_our_projects')), class: 'lead') %>

  </div>
</div>

<div id="second-section" class="site-wrapper-second">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-search" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'we_are_100_transparent' %></h1>
    <p class="lead"><%=t 'section_3_text' %></p>
    <p class="lead lead-btn">
      <a href="/#choose-plan" class="btn btn-lg btn-success"><%=t 'i_want_to_contribute' %></a>
    </p>

  </div>
</div>

<%= render "shared/footer_old" %>

<% content_for :javascript_tags do %>
  <script>
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
  </script>
<% end %>
