<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div>
<h1>Total CO2: <%= @total_co2 %> tonnes</h1>
<h1>Total spent: <%= @total_sek_spent %> SEK</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Link</th>
      <th>Image url</th>
      <th>Blog url</th>
      <th>Certificate url</th>
      <th>Invoice url</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Carbon offset</th>
      <th>Cost in SEK</th>
      <th>Date bought</th>
      <th>Country</th>
      <th>Offset type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.link %></td>
        <td><%= project.image_url %></td>
        <td><%= project.blog_url %></td>
        <td><%= project.certificate_url %></td>
        <td><%= project.invoice_url %></td>
        <td><%= project.longitude %></td>
        <td><%= project.latitude %></td>
        <td><%= project.carbon_offset %></td>
        <td><%= project.cost_in_sek %></td>
        <td><%= project.date_bought %></td>
        <td><%= project.country %></td>
        <td><%= project.offset_type %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
