<%= form_with url: reported_datas_path, class: 'space-y-12' do |form| %>
  <% field_index = 0 %>
  <% @category_fields_reported_datas.each_with_index do |(category, field, reported_datas), category_index| %>
    <div class="space-y-4">
      <div class="space-y-1">
        <h4 class="heading"><%= category_index + 1 %>. <%= category.name %></h4>
        <p><%= category.description %></p>
      </div>
      <% field.each_with_index do |field, field_each_index| %>
        <div class="space-y-3 callout" data-controller="add-nested-fields">
          <div class="flex flex-col t:flex-row t:space-x-2">
            <div class="flex flex-row items-end t:w-2/3">
              <label class="font-semibold">
                <%= category_index + 1 %>.<%= field_each_index + 1 %>.
                <%= field.label %>
              </label>
            </div>
            <div class="hidden t:flex flex-row items-end w-1/3">
              <% if field.open_ended_type? %>
                <%= label_tag t('reported_datas.units'), nil, class: 'font-semibold' %>
              <% end %>
            </div>
          </div>

          <% reported_datas[field_each_index].each_with_index do |reported_data, reported_data_index| %>
            <%= render 'field',
              field_index: field_index,
              field: field,
              reported_data: reported_data,
              reported_data_index: reported_data_index,
              data_request_id: @data_request.id
            %>
          <% end %>

          <% if field.multiple_answers %>
            <%= render 'field', 
              class: 'hidden',
              data_target: 'add-nested-fields.template',
              field: field,
              field_index: field_index,
              reported_data: ReportedData.new(data_request_id: reported_datas.first.first.data_request_id),
              reported_data_index: reported_datas[field_each_index].length,
              data_request_id: @data_request.id,
              removable: true
            %>
            <div class="space-y-2" data-target="add-nested-fields.destination"></div>
            <button type="button" class="button button-sm" data-action="add-nested-fields#cloneToDestinationWithSecondNumberIncremented">
              <i class="fas fa-plus"></i> Add answer
            </button>
          <% end %>
        </div>

        
        <% field_index += 1 %>
      <% end %>
    </div>
  <% end %>
  <%= form.submit t('reported_datas.submit'), class: 'button button-cta mt-3', disabled: local_assigns[:disable_submit] %>
<% end %>
