<%= form_with url: reported_datas_path, class: 'space-y-6' do |form| %>
  <% field_index = 0 %>
  <% @reported_datas.each_with_index do |(category, reported_datas), category_index| %>
    <div class="space-y-4">
      <div class="space-y-1">
        <h4 class="heading"><%= category_index + 1 %>. <%= category.name %></h4>
        <p><%= category.description %></p>
      </div>
      <% reported_datas.each_with_index do |reported_data, reported_data_index| %>
        <%= fields_for 'reported_datas[]', reported_data do |reported_data_fields| %>
          <input type="hidden" name="<%= "reported_datas[#{field_index}][calculator_field_id]" %>" value="<%= reported_data.calculator_field_id %>">
          <input type="hidden" name="<%= "reported_datas[#{field_index}][data_request_id]" %>" value="<%= reported_data.data_request_id %>">
          <input type="hidden" name="<%= "reported_datas[#{field_index}][id]" %>" value="<%= reported_data.id %>">
          <div class="space-y-1">
            <div class="flex flex-col t:flex-row">
              <div class="flex flex-row items-end t:w-1/2 t:mr-2">
                <label class="font-semibold">
                  <%= category_index + 1 %>.<%= reported_data_index + 1 %>.
                  <%= reported_data.calculator_field.label %>
                </label>
              </div>
              <div class="hidden t:flex flex-row items-end max-w-md w-1/2 mr-2">
                <% if reported_data.calculator_field.open_ended_type? %>
                  <%= label_tag t('reported_datas.units'), nil, class: 'font-semibold' %>
                <% end %>
              </div>
            </div>
            <div class="flex flex-col t:flex-row">
              <% if reported_data.calculator_field.open_ended_type? %>
                <div class="flex flex-col t:w-1/2 t:mr-2">
                  <input type="text" name="<%= "reported_datas[#{field_index}][value]" %>" class="input" value="<%= reported_data.value %>">
                </div>
              <% else %>
                <!-- graceful migration to new architecture -->
                <% if reported_data.calculator_field.units.present? &&  reported_data.calculator_field.alternatives.blank? %>
                  <input type="hidden" name="<%= "reported_datas[#{field_index}][value]" %>" value="1">
                <% else %>
                  <div class="flex flex-col">
                    <% reported_data.calculator_field.alternatives&.reject(&:blank?)&.each do |alternative| %>
                      <label class="radio">
                        <input type="radio" name="<%= "reported_datas[#{field_index}][value]" %>" value="<%= alternative %>" <%= alternative == reported_data.value ? 'checked' : '' %>>
                        <span class="radio-input"></span>
                        <%= alternative %>
                      </label>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <div class="flex flex-col">
                <% if reported_data.calculator_field.open_ended_type? %>
                  <div class="t:hidden">
                    <%= label_tag t('reported_datas.units'), nil, class: 'font-semibold' %>
                  </div>
                <% end %>
                <% if !reported_data.calculator_field.open_ended_type? && reported_data.calculator_field.alternatives.blank? %>
                  <% BusinessCalculators::Unit.where(key: reported_data.calculator_field.units&.keys).order(updated_at: :asc).each_with_index do |unit, index| %>
                    <label class="radio">
                      <input type="radio" name="<%= "reported_datas[#{field_index}][unit]" %>" value="<%= unit.key %>" <%= unit.key == reported_data.unit || reported_data.unit.nil? && index == 0 && reported_data.calculator_field.open_ended_type? ? 'checked' : '' %>>
                      <span class="radio-input"></span>
                      <%= unit.name %>
                    </label>
                  <% end %>
                <% end %>
                <% if reported_data.calculator_field.open_ended_type? %>
                  <label class="radio">
                    <input type="radio" name="<%= "reported_datas[#{field_index}][unit]" %>" value="freeform" <%= reported_data.unit == "freeform" || reported_data.calculator_field.units.blank? && reported_data.calculator_field.open_ended_type? ? 'checked' : '' %>>
                    <span class="radio-input"></span>
                    Other
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% field_index += 1 %>
      <% end %>
    </div>
  <% end %>
  <%= form.submit t('reported_datas.submit'), class: 'button button-cta mt-3', disabled: local_assigns[:disable_submit] %>
<% end %>
