<%= render 'shared/header' %>

<section class="section-padding space-y-6">
    <h3 class="heading-lg"><%= t 'reported_datas.heading', report_area: @report_area.title %></h3>
    <h4>
      <%=
        sanitize(t(
          'reported_datas.time_period_html',
          time_period: "#{sanitize(@report.reporting_period.first.to_s)} - #{sanitize(@report.reporting_period.last.to_s)}"
        ).gsub('<span', '<span class="font-bold"').html_safe)
      %>
    </h4>
    <%= form_with url: @data_request.survey ? multi_update_reported_datas_path : reported_datas_path do |form| %>
      <% @reported_datas.each do |(category, reported_datas)| %>
        <div class="space-y-3">
          <div class="space-y-1">
            <h4 class="heading"><%= category.name %></h4>
            <p><%= category.description %></p>
          </div>
          <% reported_datas.each do |reported_data| %>
            <%= fields_for 'reported_datas[]', reported_data do |reported_data_fields| %>
              <%= reported_data_fields.hidden_field :calculator_field_id %>
              <%= reported_data_fields.hidden_field :data_request_id %>
              <%= (reported_data_fields.hidden_field :id) if @data_request.survey %>
              <div class="flex flex-row">
                <div class="flex flex-col max-w-md w-1/2 mr-2">
                  <%= label_tag reported_data.calculator_field.label, nil, class: 'font-semibold' %>
                </div>
                <div class="flex flex-col max-w-md w-1/2 mr-2">
                  <% if reported_data.calculator_field.open_ended_type? %>
                    <%= label_tag t('reported_datas.units'), nil, class: 'font-semibold' %>
                  <% end %>
                </div>
              </div>
              <div class="flex flex-row">
                <% if reported_data.calculator_field.open_ended_type? %>
                  <div class="flex flex-col max-w-md w-1/2 mr-2">
                    <%= reported_data_fields.text_field :value, value: reported_data.value, class: 'input' %>
                  </div>
                <% else %>
                  <%= reported_data_fields.hidden_field :value, value: 1 %>
                <% end %>
                <div class="flex flex-col">
                    <select
                      name="<%= "reported_datas[#{reported_data.id || ''}][unit]" %>"
                      class="input"
                      size="<%= reported_data.calculator_field.open_ended_type? ? reported_data.calculator_field.units&.length + 1 : reported_data.calculator_field.units&.length %>"
                    >
                      <% reported_data.calculator_field.units&.each_with_index do |(key, _value), index| %>
                        <% unit = BusinessCalculators::Unit.find_by(key: key) %>
                        <option
                          value="<%= key %>"
                          <%= key == reported_data.unit || reported_data.unit.nil? && index == 0 ? 'selected' : '' %>
                        >
                          <%= unit.name %>
                        </option>
                      <% end %>
                      <% if reported_data.calculator_field.open_ended_type? %>
                        <option value="freeform" <%= reported_data.unit == "freeform" || reported_data.calculator_field.units.nil? ? 'selected' : '' %>>Other</option>
                      <% end %>
                    </select>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= form.submit t('reported_datas.submit'), class: 'button button-cta mt-3' %>
    <% end %>
</section>

<%= render 'shared/footer', skip_prefooter: true %>
