<%= render 'shared/header' %>

<section class="section-padding space-y-6">
  <h1 class="heading-lg"><%= t('reported_datas.thank_you.heading') %></h1>
  <p><%= t('reported_datas.thank_you.text', report_area: @report_area.title) %></p>
  <p><%= link_to t('reported_datas.thank_you.cta'), data_reporter_path(@data_reporter.key), class: 'link' %></p>
</section>

<%= render 'shared/bottom_landscape' %>
<%= render 'shared/footer', skip_prefooter: true %>
