<%= form_for([:admin, stripe_event]) do |f| %>
  <% if stripe_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stripe_event.errors.count, "error") %> prohibited this stripe_event from being saved:</h2>

      <ul>
      <% stripe_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stripe_event_id %>
    <%= f.text_field :stripe_event_id %>
  </div>

  <div class="field">
    <%= f.label :stripe_customer_id %>
    <%= f.text_field :stripe_customer_id %>
  </div>

  <div class="field">
    <%= f.label :stripe_object %>
    <%= f.text_field :stripe_object %>
  </div>

  <div class="field">
    <%= f.label :stripe_status %>
    <%= f.text_field :stripe_status %>
  </div>

  <div class="field">
    <%= f.label :stripe_amount %>
    <%= f.text_field :stripe_amount %>
  </div>

  <div class="field">
    <%= f.label :stripe_created %>
    <%= f.datetime_select :stripe_created %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
