<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner faq">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>

    <h1 class="cover-heading"><%= title(t('faq')) %></h1>
    <% description(t('faq')) %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default questions-list">
          <% t('faq_questions').each do |category_key, category| %>
              <p><b><%= category[:heading] %></b></p>
              <ul>
              <% category[:questions].each do |question_key, question| %>
                <li>
                  <a href="#collapse-<%= "#{category_key}-#{question_key}" %>-id">
                    <%= question[:question] %>
                  </a>
                </li>
              <% end %>
              </ul>
          <% end %>
      </div>

      <% t('faq_questions').each do |category_key, category| %>
        <h3 style="margin: 24px 0 16px"><%= category[:heading] %></h3>
        <% category[:questions].each do |question_key, question| %>
          <div id="collapse-<%= "#{category_key}-#{question_key}" %>-id" ></div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="<%= "#{category_key}-#{question_key}" %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapse-<%= "#{category_key}-#{question_key}" %>" aria-expanded="true" aria-controls="collapse-<%= "#{category_key}-#{question_key}" %>">
                  <%= question[:question] %>
                </a>
              </h4>
            </div>

            <div id="collapse-<%= "#{category_key}-#{question_key}" %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="<%= "#{category_key}-#{question_key}" %>">
              <div class="panel-body"><%= raw question[:answer] %></div>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer_old" %>
