<h1 class="heading-lg"><%= @calculator.new_record? ? 'New' : 'Editing' %> lifestyle calculator draft</h1>

<%= form_with model: [:admin, @calculator], method: :post, url: admin_lifestyle_calculators_path, class: 'space-y-6' do |f| %>
  <% @calculator.countries&.each do |country| %>
    <%= f.hidden_field :countries, value: country.alpha2.downcase, multiple: true %>
  <% end %>

  <% if @calculator.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@calculator.errors.count, "error") %> prohibited this calculator from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @calculator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= f.label :countries, 'Countries', class: 'font-bold' %>
    <p class="input-static">
      <% if @calculator.countries.present? %>
        <%= @calculator.countries.join(', ') %>
      <% else %>
        <i>All countries not matched by other calculators</i>
      <% end %>
    </p>
  </div>

  <div class="flex flex-col">
    <%= f.label :car_distance_unit, 'Unit for distance traveled by car', class: 'font-bold' %>
    <div class="select-wrapper">
      <%= f.select :car_distance_unit, ['km', 'miles'], {}, { class: 'select' } %>
    </div>
  </div>

  <div class="callout space-y-3">
    <h3 class="heading">Values available in formulas</h3>
      <p>Values for all options are formulas, as well as category formulas below. In all of these fields, the following values are available to use.</p>
      <ul class="list-bullet">
        <li><code>region</code> = value associated with option that the user selected</li>
        <li><code>home</code> = value associated with option that the user selected</li>
        <li><code>home_area</code> = value associated with option that the user selected</li>
        <li><code>heating</code> = value associated with option that the user selected</li>
        <li><code>green_electricity</code> = value associated with option that the user selected</li>
        <li><code>food</code> = value associated with option that the user selected</li>
        <li><code>shopping</code> = value associated with option that the user selected</li>
        <li><code>car_type</code> = value associated with option that the user selected</li>
        <li><code>region_answer</code> = name of the option that the user selected
        <li><code>home_answer</code> = name of the option that the user selected
        <li><code>home_area_answer</code> = name of the option that the user selected
        <li><code>heating_answer</code> = name of the option that the user selected
        <li><code>green_electricity_answer</code> = name of the option that the user selected
        <li><code>food_answer</code> = name of the option that the user selected
        <li><code>shopping_answer</code> = name of the option that the user selected
        <li><code>car_type_answer</code> = name of the option that the user selected
        <li><code>car_distance</code> = value entered by user
        <li><code>flight_hours</code> = value entered by user
      </ul>
  </div>

  <%= render 'options_field', field: 'region' %>

  <%= render 'options_field', field: 'home' %>

  <%= render 'options_field', field: 'home_area' %>

  <%= render 'options_field', field: 'heating' %>

  <%= render 'options_field', field: 'green_electricity' %>

  <%= render 'options_field', field: 'food' %>

  <%= render 'options_field', field: 'shopping' %>

  <%= render 'options_field', field: 'car_type' %>

  <div class="flex flex-col">
    <%= f.label :housing_formula, class: 'font-bold' %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :housing_formula, class: 'input' %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :food_formula, class: 'font-bold' %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :food_formula, class: 'input' %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :car_formula, class: 'font-bold' %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :car_formula, class: 'input' %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :flights_formula, class: 'font-bold' %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :flights_formula, class: 'input' %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :consumption_formula, class: 'font-bold' %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :consumption_formula, class: 'input' %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :public_formula, class: 'font-bold' %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :public_formula, class: 'input' %>
    </div>
  </div>

  <div class="text-right">
    <%= f.submit 'Update draft', class: 'button button-cta' %>
  </div>
<% end %>

