<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <h1>An error occurred on our side</h1>
    <p>
    We're sorry, but an error occured on our side. We have been notified about it and will look into it as soon as possible. Please try again in a few moments.<br>
    <br>
    If you have any questions, please don't hesitate to get in touch with us at <%= link_to 'info@goclimateneutral.org', 'mailto:info@goclimateneutral.org' %>.
    </p>

  </div>
</div>

<%= render "shared/footer_old" %>
