<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <h1>There was an error processing your request</h1>
    <p>
    We're sorry, but something your computer sent to us was not in the format we expected it to be. Please try again.<br>
    <br>
    If you have any questions, please don't hesitate to get in touch with us at <%= link_to 'info@goclimateneutral.org', 'mailto:info@goclimateneutral.org' %>.
    </p>

  </div>
</div>

<%= render "shared/footer_old" %>
