<%= render 'admin/shared/notice_banner' %>

<h1>Data reporter</h1>

<dl class="dl-horizontal">
  <dt>Id:</dt>
  <dd><%= @data_reporter.id %></dd>

  <dt>Email:</dt>
  <dd><%= @data_reporter.email %></dd>

  <dt>Link:</dt>
  <dd><%= link_to data_reporter_url(id: @data_reporter.key), data_reporter_url(id: @data_reporter.key) %></dd>

  <dt>Report:</dt>
  <dd><%= link_to @report.title, [:admin, @report] %></dd>
  
  <dt>Created:</dt>
  <dd><%= time_tag(@data_reporter.created_at) %></dd>

  <dt>Data requests:</dt>
  <% DataRequest.where(recipient_id: @data_reporter.id).each do |request| %>
    <dd>
      - <%= ClimateReports::ReportArea.find(request.report_area_id).title %>, <%= time_tag(request.created_at) %>
    </dd>
  <% end %>
</dl>

<hr>

<%= link_to 'Edit', edit_admin_data_reporter_path(@data_reporter), class: 'btn btn-default' %>
<%= link_to 'Back', admin_data_reporters_path, class: 'btn btn-link' %>
