
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Live Climate Neutral</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

		  <div class="inner cover">
			<span class="glyphicon glyphicon glyphicon-hand-down" aria-hidden="true"></span>
			<h1 class="cover-heading">Sign up for a Climate Neutral Life</h1>
			
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
			

      <p>Your plan will cost $<%= @plan %>/month.
			<%= form_tag subscriptions_path do %>
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_a1OlA12lwmhYeYTK77LvdqIe"
			    data-image="<%= image_url("lcn-logo.png") %>"
			    data-name="LiveClimateNeutral.org"
			    data-description="Monthly $<%= @plan %> climate offset plan"
			    data-amount="<%= @plan %>00"
			    data-label="Go Climate Neutral Now">
			  </script>
			<% end %>
		  </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Read more about us <a href="#">here</a>.</p>
        </div>
      </div>