<%= render "shared/header" %>

<div class="section-padding">

  <div class="callout max-w-lg mx-auto space-y-4">
    <h1 class="heading-lg"><%= title(t('log_in')) %></h1>
    <p><%= description(t('log_in_to_see_how_we_are_doing')) %></p>

    <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-4' } do |f| %>
      <label class="block">
        <strong class="block"><%=t 'email' %></strong>
        <%= f.email_field :email, autofocus: true, required: true, class: "input w-full" %>
      </label>

      <label class="block">
        <strong class="block"><%=t 'password' %></strong>
        <%= f.password_field :password, required: true, class: "input w-full" %>
      </label>

      <% if devise_mapping.rememberable? -%>
        <label class="block">
          <%= f.check_box :remember_me, checked: true %>
          <%= t 'activerecord.attributes.user.remember_me' %>
        </label>
      <% end -%>

      <button type="submit" class="button button-cta w-full">
        <%=t 'log_in' %>
      </button>

    <% end %>
  </div>

  <div class="text-center mt-6">
    <%= link_to t('forgot_your_password'), new_user_password_path, class: 'link' %>
  </div>
</div>

<%= render "shared/bottom_landscape" %>
<%= render "shared/footer", skip_prefooter: true %>
