
<div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
  <div class="cover-container">
    <%= render "shared/header" %>
    <div class="inner cover">

      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      <h1 class="cover-heading">Log in</h1>
      <p class="lead">Climate Change is the biggest challenge of our time. Log in to see how we are doing in our fight against it.</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="email" class="col-sm-4 control-label padding-top">Email</label>
          <div class="col-sm-4">
            <%= f.email_field :email, autofocus: true, id: "email", class: "form-control" %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-1"></div>
          <label for="password" class="col-sm-4 control-label padding-top">Password</label>
          <div class="col-sm-4">
            <%= f.password_field :password, autofocus: true, id: "password", class: "form-control" %>
          </div>
        </div>


        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-4">
              <div class="checkbox">
                  <%= f.check_box :remember_me %><%= f.label :remember_me %>
              </div>
            </div>
          </div>
        <% end -%>

        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-4">
            <button type="submit" class="btn btn-success sign-in">Log in</button>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>