<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%= title(t('log_in')) %></h1>
    <p class="lead"><%= description(t('log_in_to_see_how_we_are_doing')) %></p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

      <div class="form-group">
        <div class="col-sm-1"></div>
        <label for="email" class="col-sm-4 control-label"><%=t 'email' %></label>
        <div class="col-sm-4">
          <%= f.email_field :email, autofocus: true, id: "email", class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-1"></div>
        <label for="password" class="col-sm-4 control-label"><%=t 'password' %></label>
        <div class="col-sm-4">
          <%= f.password_field :password, autofocus: true, id: "password", class: "form-control" %>
        </div>
      </div>


      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-4">
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me, checked: true %><%= t 'activerecord.attributes.user.remember_me' %>
              </label>
            </div>
          </div>
        </div>
      <% end -%>

      <div class="form-group form-group-sm-centered">
        <div class="col-sm-offset-5 col-sm-4">
          <button type="submit" class="btn btn-success sign-in"><%=t 'log_in' %></button>
        </div>
      </div>

      <div class="form-group form-group-sm-centered">
        <div class="col-sm-offset-5 col-sm-4">
          <%= link_to t('forgot_your_password'), new_user_password_path %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer_old" %>
