<%= render 'admin/shared/notice_banner' %>

<%= render 'admin/shared/content_header', heading: 'Organization', actions: [
        {
          title: 'Edit',
          path: edit_admin_organization_path(@organization),
          class: 'button-cta'
        }
      ] %>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @organization.name %></dd>
  
  <dt>Updated:</dt>
  <dd><%= time_tag(@organization.updated_at) %></dd>

  <dt>Reports:</dt>
  <dd>
    <ul class="list-bullet pl-3">
      <% @organization.reports&.each do |report| %>
        <li><%= link_to report.title, [:admin, report], class: 'link' %></li>
      <% end %>
    </ul>
  </dd>
</dl>
