<!doctype html>
<!--
  This is the actual gift card. It can be rendered as both html and PDF, thanks
  to the magic of https://github.com/mileszs/wicked_pdf

  And yes, it needs to be called .erb rather than .html.erb, or else PDF doesn't work.
-->
<html>
  <head>
    <meta charset='utf-8' />

    <!--
      Best to embed the css here because PDF generating is done by a separate tool (wkhtmltopdf)
      and it's tricky to figure how that tool will find our separate css files.
    -->
    <style>
      /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
      html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

      @import url('https://rsms.me/inter/inter.css');
      html { font-family: 'Inter', sans-serif; }
      @supports (font-variation-settings: normal) {
        html { font-family: 'Inter var', sans-serif; }
      }

      /* utility classes based on our tailwind config */
      .relative { position: relative; }
      .absolute { position: absolute; }
      .top-0 { top: 0; }

      .bg-green-tint-1 {
      --bg-opacity:1;
      background-color:#ebf6e6;
      background-color:rgba(235,246,230,var(--bg-opacity))
      }

      .inline-block { display: inline-block; }
      .block { display: block; }

      .align-top { vertical-align: top; }
      .align-middle { vertical-align: middle; }

      .w-1\/3 { width:33.3333% }
      .w-full { width:100% }
      .h-full { height: 100% }

      .text-sm { font-size:.8125rem; }
      .text-base { font-size:1rem; }
      .text-primary {
      --text-opacity:1;
      color:#1c4637;
      color:rgba(28,70,55,var(--text-opacity))
      }
      .text-blue-accent {
      --text-opacity:1;
      color:#6f9bd9;
      color:rgba(111,155,217,var(--bg-opacity))
      }
      .font-bold { font-weight:700 }
      .text-left { text-align:left }
      .text-center { text-align:center }
      .text-right { text-align:right }
      .uppercase { text-transform: uppercase; }

      .mx-auto { margin-left:auto; margin-right:auto }
      .mb-0 { margin-bottom: 0px; }

      .p-0 { padding: 0px; }
      .pb-0 { padding-bottom: 0px; }
      .rounded-full { border-radius:9999px }

      .z-0 { z-index:0 }
      .z-10 { z-index:10 }

      /* components */
      .link {
      --text-opacity:1;
      color:#317050;
      color:rgba(49,112,80,var(--text-opacity));
      border-bottom-width:2px;
      transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,border-width,height,width,max-height,max-width;
      transition-duration:.1s;
      transition-timing-function:linear
      }
      .link:hover {
      --text-opacity:1;
      color:#1c4637;
      color:rgba(28,70,55,var(--text-opacity));
      border-bottom-width:4px
      }

    </style>
  </head>
  <body class="text-primary relative">
    <% if @example == true %>
      <div class="absolute text-center uppercase z-10" style="top: 62%; right: 5%; font-size: 90px; color: red; letter-spacing: 3px">
        <%= t 'views.gift_cards.example.example' %>
      </div>
    <% end %>

    <header>
      <!-- table for a clean row of items -->
      <table class="w-full">
        <tr>
          <td class="w-1/3 align-middle">
            <%= image_tag wicked_pdf_file_base64('app/assets/images/logo.svg'), width: "100" %>
          </td>
          <td class="w-1/3 text-center relative align-middle">
            <% gift_card_title = t('views.gift_cards.download.gift_card') %>
            <!-- handling of other languages where "gift card" is one long word that overflows the illustration -->
            <% if gift_card_title.length < 10 %>
              <%= image_tag wicked_pdf_file_base64('app/assets/images/shapes/gift_card_blob.svg'), width: "130" %>
            <% else %>
              <%= image_tag wicked_pdf_file_base64('app/assets/images/shapes/gift_card_blob_alternative.svg'), width: "130" %>
            <% end %>
            <div class="absolute text-center"
              style="height: 90%; width: 100%; top: 0; left: 0; white-space: nowrap;"
            >
              <span class="inline-block align-middle h-full" style="width: 1px;"></span>
              <span class="uppercase font-bold inline-block align-middle"
                style="max-width: 100%; overflow-wrap: break-word; white-space: normal;">
                <%= gift_card_title %>
              </span>
            </div>
          </td>
          <td class="w-1/3 text-right text-sm align-middle">
            <% if @example == true %>
              GCN-GIFT-EXAMPLE
            <% else %>
              <%= @gift_card.order_id %>
            <% end %>
          </td>
        </tr>
      </table>
    </header>

    <section style="margin-top: 60px">
      <div class="relative mx-auto" style="width: 600px">
        <div class="bg-green-tint-1 rounded-full" style="padding-bottom: 100%"></div>
        <%= image_tag wicked_pdf_file_base64('app/assets/images/shapes/gift_card_line.svg'), width: "114%", class: 'absolute', style: 'left: -8%; top: 0' %>
        <div class="absolute w-full h-full top-0">
          <!-- table for vertical centering -->
          <table class="w-full h-full">
            <tr>
              <td style="width: 17.5%"></td>
              <td class="align-middle uppercase text-center font-bold" style="width: 65%; font-size: 46px;">
                <span>
                  <%= t 'views.gift_cards.download.heading' %>
                </span>
                <span class="block text-blue-accent" style="font-size: 60px">
                  <% if @gift_card.number_of_months == 1 %>
                    <%= t 'views.gift_cards.download.one_month' %>
                  <% else %>
                    <%= t('views.gift_cards.download.x_months', count: @gift_card.number_of_months) %>
                  <% end %>
                </span>
              </td>
              <td style="width: 17.5%"></td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <article class="mx-auto" style="margin-top: 30px; height: 195px; width: 600px">
      <p class="text-center text-base font-bold">
        <%= @gift_card.message %>
      </p>
    </article>

    <footer class="mx-auto">
      <p class="text-center text-sm pb-0 mb-0">
        <%= raw(t('views.gift_cards.download.about',
                    co2: number_with_delimiter(@gift_card.co2e.tonnes),
                    country: @gift_card.country&.translations[I18n.locale.to_s] || @gift_card.country,
                    time_period: @gift_card.number_of_months == 1 ? t('views.gift_cards.download.one_month') : t('views.gift_cards.download.x_months', count: @gift_card.number_of_months)
                  ).gsub('<a ', '<a class="link" target="_blank" ')) %>
      </p>
    </footer>
  </body>
</html>
