<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
  </head>
  <body>

<div>
  <!--
    Best to embed the css here because PDF generating is done by a separate tool (wkhtmltopdf)
    and it's tricky to figure how that tool will find our separate css files.
   -->
  <style scoped>
    .text {
      color: #444444;
      font-family: 'Raleway', sans-serif;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;

    }
    .content {
      position: absolute;
      top: 10px;
      text-align: center;
    }

    .marginTop {
      margin-top: 40px;
    }

    .logo {
      margin-top: 60px;
    }

    .logoColor {
      color: #768a78;
    }
    a:link, a:visited {
      color: inherit;
      text-decoration: none;
    }

    /* Mostly for layout testing */
    .box {
      border: 0px solid #4e4e4e;
    }

    .grayText {
      color: gray;
    }

    .footer {
      position: absolute;
      text-align: center;
      width: 680px;
      top: 820px;
    }

    .table {
      margin: 0 auto;
      margin-top: 20px;
      text-align: right;
    }

    .table td {
      width: 100px;
    }

    th {
      text-align: left;
      color: gray;
      padding-top: 25px;
      padding-bottom: 15px;
    }
    
    .orderDetails {
      text-align: left;
      padding-bottom: 10px;
    }
  </style>

  <div class="content" style="width: 700px; height: 1025px">
    <div class="logo">
      <%= image_tag wicked_pdf_file_base64('app/assets/images/goclimateneutral_logo.svg'), size: "230x132" %>
    </div>

    <table class="table text grayText" style="font-size: 12px;">
      <tr>
        <th class="text grayText" colspan="3" style="font-size: 25px;">
          Receipt for Offsetting
        </th>
      </tr>
      <tr>
        <td class="orderDetails text" colspan="3">
          Order ID: <%= @receipt.order_id %></br>
          Date of purchase: <%= @receipt.date %></br>
          Project type: Gold Standard</br>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Amount:</td>
        <td><%= number_with_precision(@receipt.total_amount_before_vat, :precision => 2) %> <%= @currency %></td>
      </tr>
      <tr>
        <td></td>
        <td>VAT (25%):</td>
        <td><%= number_with_precision(@receipt.vat_amount, :precision => 2) %> <%= @currency %></td>
      </tr>
      <tr>
        <td></td>
        <td>Total:</td>
        <td><%= number_with_precision(@receipt.total_amount, :precision => 2) %> <%= @currency %></td>
      </tr>
    </table>

    <div class="text logoColor marginTop" style="font-size: 12px;">
      GoClimateNeutral Sweden AB</br>
      Org.nummer 559130-6583
    </div>
  </div>


</div>

  </body>
</html>
