<% title(t('views.lifestyle_footprints.title')) %>

<%= render "shared/header" %>

<div class="relative min-h-screen bg-blue-tint-1 -mt-20 pt-20 z-10">
  <section class="text-primary text-base">
    <div class="text-center pt-16 pb-48 px-4 md:px-10 lg:px-0 max-w-2xl mx-auto">
      <div class="callout" data-controller="lifestyle-calculator">

        <div class="flex justify-center space-x-3 m-lg:space-x-6 text-gray-shade-2">
          <% if @calculator.region_options.present? || @calculator.home_options.present? || @calculator.heating_options.present? || @calculator.house_age_options.present? || @calculator.green_electricity_options.present? %>
          <div>
            <div class="mb-2 border border-gray-tint-2 rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
              data-active-class="mb-2 border border-green-tint-1 bg-green-tint-1 text-primary rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
              data-target="lifestyle-calculator.categoryIndicator"
              data-category="home"
            >
              <i class="fa fa-lg fa-home" aria-hidden="true"></i>
            </div>
            <div class="text-sm text-gray-accent">
              <% if @calculator.region_options.present? %>
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="home"></i>
              <% end %>
              <% if @calculator.home_options.present? %>
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="home"></i>
              <% end %>
              <% if @calculator.heating_options.present? %>
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="home"></i>
              <% end %>
              <% if @calculator.house_age_options.present? %>
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="home"></i>
              <% end %>
              <% if @calculator.green_electricity_options.present? %>
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="home"></i>
              <% end %>
            </div>
          </div>
          <% end %>
          <% if @calculator.food_options.present? %>
            <div>
              <div class="mb-2 border border-gray-tint-2 rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
                data-active-class="mb-2 border border-green-tint-1 bg-green-tint-1 text-primary rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
                data-target="lifestyle-calculator.categoryIndicator"
                data-category="food"
              >
                <i class="fa fa-lg fa-cutlery" aria-hidden="true"></i>
              </div>
            <div class="text-sm text-gray-accent">
              <% if @calculator.food_options.present? %>
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="food"></i>
              <% end %>
            </div>
            </div>
          <% end %>
          <% if @calculator.car_type_options.present? %>
            <div>
              <div class="mb-2 border border-gray-tint-2 rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
                data-active-class="mb-2 border border-green-tint-1 bg-green-tint-1 text-primary rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
                data-target="lifestyle-calculator.categoryIndicator"
                data-category="car"
              >
                <i class="fa fa-lg fa-car" aria-hidden="true"></i>
              </div>
              <div class="text-sm text-gray-accent">
                <% if @calculator.car_type_options.present? %>
                  <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="car"></i>
                  <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="car"></i>
                <% end %>
              </div>
            </div>
          <% end %>
          <div>
            <div class="mb-2 border border-gray-tint-2 rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
              data-active-class="mb-2 border border-green-tint-1 bg-green-tint-1 text-primary rounded-full w-12 h-12 flex justify-center items-center box-content p-1"
              data-target="lifestyle-calculator.categoryIndicator"
              data-category="flights"
            >
              <i class="fa fa-lg fa-plane" aria-hidden="true"></i>
            </div>
            <div class="text-sm text-gray-accent">
                <i class="fa fa-circle-o" data-active-class="fa fa-circle text-green-accent" data-target="lifestyle-calculator.questionIndicator" data-category="flights"></i>
            </div>
          </div>
        </div>

        <%= form_with model: @footprint do |f| %>
          <%= f.hidden_field :lifestyle_calculator_id %>
          <%= f.hidden_field :country, value: params[:country] %>

          <% if @calculator.region_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="home">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.region' %></h2>
              <% @calculator.region_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :region_answer, option['key'], required: '', class: 'hidden', 'data-action': "click->lifestyle-calculator#nextQuestion" %>
                  <%=t "views.lifestyle_footprints.options.region.#{option['key']}" %>
                </label>
              <% end %>
            </div>
          <% end %>

          <% if @calculator.home_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question lifestyle-calculator.home" data-category="home">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.home' %></h2>
              <% @calculator.home_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :home_answer, option['key'], required: '', class: 'hidden', 'data-action': "click->lifestyle-calculator#nextQuestion" %>
                  <%=t "views.lifestyle_footprints.options.home.#{option['key']}" %>
                </label>
              <% end %>
            </div>
          <% end %>

          <% if @calculator.heating_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="home">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.heating' %></h2>
              <% @calculator.heating_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :heating_answer, option['key'], required: '', class: 'hidden', 'data-action': "click->lifestyle-calculator#nextQuestion" %>
                  <%=t "views.lifestyle_footprints.options.heating.#{option['key']}" %>
                </label>
              <% end %>
            </div>
          <% end %>

          <%# TODO: This is currently not being used. Add localization if it should be used or remove it %>
          <% if @calculator.house_age_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="home">
              <h2 class="heading my-4">How old is your house?</h2>
              <% @calculator.house_age_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :house_age_answer, option['key'], required: '', class: 'hidden', 'data-action': "click->lifestyle-calculator#nextQuestion" %>
                  <%= option['key'] %>
                </label>
              <% end %>
            </div>
          <% end %>

          <% if @calculator.green_electricity_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="home">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.green_electricity' %></h2>
              <% @calculator.green_electricity_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :green_electricity_answer, option['key'], required: '', class: 'hidden', 'data-action': "click->lifestyle-calculator#nextQuestion" %>
                  <%=t "views.lifestyle_footprints.options.green_electricity.#{option['key']}" %>
                </label>
              <% end %>
            </div>
          <% end %>

          <% if @calculator.food_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="food">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.food' %></h2>
              <% @calculator.food_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :food_answer, option['key'], required: '', class: 'hidden', 'data-action': "click->lifestyle-calculator#nextQuestion" %>
                  <%=t "views.lifestyle_footprints.options.food.#{option['key']}" %>
                </label>
              <% end %>
            </div>
          <% end %>

          <% if @calculator.car_type_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="car">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.car_type' %></h2>
              <% @calculator.car_type_options.each do |option| %>
                <label class="block button my-3">
                  <%= f.radio_button :car_type_answer, option['key'], required: '', class: 'hidden', 'data-action': option['key'] == 'no_car' ? 'click->lifestyle-calculator#nextCategory' : 'click->lifestyle-calculator#nextQuestion' %>
                  <%=t "views.lifestyle_footprints.options.car_type.#{option['key']}" %>
                </label>
              <% end %>
            </div>
          <% end %>

          <% if @calculator.car_type_options.present? %>
            <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="car">
              <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.car_distance' %></h2>
              <div class="flex flex-col m-lg:flex-row">
                <label class="input inline-block mb-3 m-lg:mb-0 m-lg:mr-3 flex">
                  <%= number_field_tag :car_distance_week_answer, '', min: 0, size: 7, class: 'flex-1' %>
                  <span class="ml-3"><%= @calculator.car_distance_unit %></span>
                </label>
                <%= f.button t('views.lifestyle_footprints.next'), type: 'button', class: 'button flex-1', 'data-action': 'click->lifestyle-calculator#nextQuestion' %>
              </div>
            </div>
          <% end %>

          <div class="question py-8 hidden" data-target="lifestyle-calculator.question" data-category="flights">
            <h2 class="heading my-4"><%=t 'views.lifestyle_footprints.questions.flight_hours' %></h2>
            <div class="flex flex-col m-lg:flex-row">
              <%= f.number_field :flight_hours_answer, min: 0, size: 7, class: 'input mb-3 m-lg:mb-0 m-lg:mr-3' %>
              <%= f.submit t('views.lifestyle_footprints.next'), class: 'button flex-1' %>
            </div>
          </div>

        <% end %>

        <div class="flex justify-space-between">
          <div class="hidden cursor-pointer" data-target="lifestyle-calculator.back" data-action="click->lifestyle-calculator#previousCategory">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span><%=t 'views.lifestyle_footprints.back' %></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="absolute bottom-0 w-full -z-10">
    <%= render "shared/bottom_landscape" %>
  </div>
</div>
