<div data-controller="add-business-calculator-field">
  <%= local_assigns[:category_fields].fields_for :fields, BusinessCalculators::CalculatorField.new do |field_fields| %>
    <div class="hidden" data-target="add-business-calculator-field.template" style="">
      <div class="row" style="padding-top: 0.5em">
        <div class="col-sm-8">
          <%= field_fields.label :question, class: 'add-business-calculator-field-label-field'%>
          <%= field_fields.text_field :label, class: 'form-control add-business-calculator-field-input-field' %>
        </div>
        <div class="col-sm-4">
          <%= field_fields.label :allowed_units, class: 'add-business-calculator-field-label-field'%>
          <%= field_fields.select :units, options_from_collection_for_select(@units, :key, :name), {}, class: 'form-control add-business-calculator-field-input-field', multiple: true %>
        </div>
      </div>
    </div>
  <% end %>

  <div data-target="add-business-calculator-field.destination"></div>

  <button type="button" class="btn btn-default" data-action="add-business-calculator-field#cloneToDestinationWithSecondNumberIncremented">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add field
  </button>
</div>  
