<div class="<%= local_assigns[:hide_delete] ? 'col-sm-6' : 'col-sm-5' %>">
  <%= local_assigns[:fields].label :question, class: local_assigns[:label_class] %>
  <%= local_assigns[:fields].text_field :label, class: "form-control #{local_assigns[:input_class]}" %>
</div>
<div class="col-sm-3">
  <%= local_assigns[:fields].label :allowed_units, class: local_assigns[:label_class] %>
  <%= local_assigns[:fields].select :units, options_from_collection_for_select(@units, :key, :name, local_assigns[:fields].object&.units&.keys), {}, class: "form-control #{local_assigns[:input_class]}", multiple: true %>
</div>
<div class="col-sm-2">
  <%= local_assigns[:fields].label :question_type, class: local_assigns[:label_class] %>
  <%= local_assigns[:fields].select :field_type, options_for_select([['Open ended', 'open_ended'], ['Choose one alternative', 'radio']], local_assigns[:fields].object&.field_type), {}, class: "form-control #{local_assigns[:input_class]}" %>
</div>
<% unless local_assigns[:hide_delete] %>
  <div class="col-sm-1">
    <%= local_assigns[:fields].label :delete, class: local_assigns[:label_class] %>
    <%= local_assigns[:fields].check_box :_destroy, class: local_assigns[:input_class] %>
  </div>
<% end %>
