<%= form_with(model: [:admin, calculator], local: true) do |form| %>
  <% if calculator.errors.any? %>
    <div>
      <h2><%= pluralize(calculator.errors.count, "error") %> prohibited this calculator from being saved:</h2>

      <ul>
        <% calculator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <h2>Form design</h2>
  <div data-controller="add-business-calculator-field">

    <%= form.fields_for :categories do |category_fields| %>
      <%= category_fields.hidden_field :id %>

      <div style="padding: 1em; margin-bottom: 2em; border: 1px solid gray; border-radius: 4px;">
        <div class="row" style="margin-bottom: 0.5em;">
          <div class="col-sm-11">
            <%= category_fields.label :category_name %>
            <%= category_fields.text_field :name, class: 'form-control input-lg', style: 'font-weight: 600;' %>
          </div>
          <div class="col-sm-1">
              <%= category_fields.label :delete %>
              <%= category_fields.check_box :_destroy %>
            </div>
        </div>

        <%= category_fields.fields_for :fields do |field_fields| %>
          <%= field_fields.hidden_field :id %>
          <div class="row" style="padding-top: 0.5em">
            <div class="col-sm-8">
              <%= field_fields.label :question %>
              <%= field_fields.text_field :label, class: 'form-control' %>
            </div>
            <div class="col-sm-3">
              <%= field_fields.label :allowed_units %>
              <%= field_fields.select :units, options_from_collection_for_select(@units, :key, :name,field_fields.object.units&.keys), {}, class: 'form-control', multiple: true %>
            </div>
            <div class="col-sm-1">
              <%= field_fields.label :delete %>
              <%= field_fields.check_box :_destroy %>
            </div>

          </div>
        <% end %>
        <%= render "add_field", category_fields: category_fields %>
      </div>
    <% end %>

    <%= form.fields_for :categories, BusinessCalculators::CalculatorCategory.new do |category_fields| %>
      <div class="hidden" data-target="add-business-calculator-field.template">
        <%= category_fields.text_field :name, class: 'form-control input-lg add-business-calculator-field-input-field', 'data-target': 'add-business-calculator-field.templateInput', style: 'margin: 1em 0; font-weight: 600;', placeholder: 'Category name ...'  %>

        <!-- It's currently not possible to create a category and its fields at the same time -->
        <!-- <%= render "add_field", category_fields: category_fields %> -->
      </div>
    <% end %>

    <div data-target="add-business-calculator-field.destination" style="margin-top: 2em"></div>

    <div style="margin: 1.5em 0">
      <button type="button" class="btn btn-default" data-action="add-business-calculator-field#cloneToDestinationWithFirstNumberIncremented">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add category
      </button>
    </div>
  </div>

  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>
