<%= render 'admin/shared/notice_banner' %>

<h1>Business calculators</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calculators.each do |calculator| %>
      <tr style="<%= calculator.archived? ? 'background: #f5f5f5;' : '' %>">
        <td><%= calculator.name %></td>
        <td><%= calculator.status %></td>
        <td><%= time_tag(calculator.updated_at, format: '%F %R') %></td>
        <td class="admin-actions">
          <%= link_to 'Show', [:admin, calculator] %> &nbsp;
          <% if calculator.draft? %>
            <%= link_to 'Edit', edit_admin_business_calculator_path(calculator) %>
          <% else %>
            <span style="color: gray; cursor: not-allowed;">Edit</span>
          <% end %> &nbsp;
          <%= link_to 'Preview form', preview_reported_data_path(calculator.id), target: :_blank %> &nbsp;
          <%= link_to 'Duplicate', duplicate_admin_business_calculator_path(calculator), method: :post %> &nbsp;
          <% unless calculator.archived? %>
            <%= link_to 'Archive', archive_admin_business_calculator_path(calculator), method: :post, data: { confirm: 'Are you sure? You can no longer edit or use this calculator.' } %> &nbsp;
          <% end %>
          <% if calculator.draft? %>
            <%= link_to 'Publish', publish_admin_business_calculator_path(calculator), method: :post, data: { confirm: 'Are you sure? You can no longer edit this calculator.' } %> &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Business Calculator', new_admin_business_calculator_path, class: 'btn btn-default' %>
