<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Business calculator', actions: [
      {
        title: 'Edit',
        path: edit_admin_business_calculator_path(@calculator),
        class: 'button-cta'
      },
      {
        title: 'Preview form',
        path: preview_reported_data_path(@calculator.id),
      }
    ] %>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @calculator.name %></dd>
    <dt>Updated:</dt>
    <dd><%= time_tag(@calculator.updated_at) %></dd>
    <dt>Survey mode:</dt>
    <dd><%= @calculator.survey %></dd>

    <dt>Categories:</dt>
    <dd>
      <% @calculator.ordered_categories.each do |category| %>
        <b><%= category.name %></b>
        <ul class="list-bullet pl-3">
          <% category.ordered_fields.each do |field| %>
            <li>
              <%= field.label %>
              <% if field.field_type == "radio" %>
                (Alternatives: <%= field.alternatives&.join(", ") %>)
              <% end %>
              <ul class="inline text-sm">
                <% tag_classes = 'rounded inline-block px-1 py-0 lowercase' %>
                <li class="<%= tag_classes %> bg-gray-tint-2"><%= field.field_type %></li>
                <% if field.multiple_answers %>
                  <li class="<%= tag_classes %> bg-yellow-tint-2">multiple answers</li>
                <% end %>
                <% if field.field_type == "open_ended" %>
                  <% field.units&.map { |(key, _value)| BusinessCalculators::Unit.find_by(key: key) }&.each do |unit| %>
                    <li class="<%= tag_classes %> bg-green-tint-2"><%= unit.name %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </dd>

    <dt>Used in reports:</dt>
    <dd>
      <ul class="list-bullet">
        <% @reports.each do |report| %>
          <li><%= link_to report.title, [:admin, report], class: 'link' %></li>
        <% end %>
      </ul>
    </dd>
  </dl>
</div>
