<p id="notice"><%= notice %></p>

<h1>Lifestyle Choice</h1>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @lifestyle_choice.name %></dd>

  <dt>Category:</dt>
  <dd><%= @lifestyle_choice.category %></dd>

  <dt>Version:</dt>
  <dd><%= @lifestyle_choice.version %></dd>

  <dt>Co2:</dt>
  <dd><%= @lifestyle_choice.co2 %></dd>
</dl>

<hr>

<%= link_to 'Edit', edit_admin_lifestyle_choice_path(@lifestyle_choice), class: 'btn btn-default' %>
<%= link_to 'Back', admin_lifestyle_choices_path, class: 'btn btn-link' %>
