<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner cover">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%= title(t('about_us')) %></h1>
    <p class="lead"><%= description(t('about_us_intro')) %></p>
    <p class="lead"><%= description(t('about_us_intro_2')) %></p>

  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<a name="why_goclimateneutral"></a>
<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%=t 'about_us_who_are_we' %></h1>
    <div class="row">

      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/kalle.jpg'), class: 'img-circle', alt: "" %>
        <h2>Kalle Nilvér</h2>
        <p><%=t 'about_us_who_are_we_kalle_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'kallenilver', 'https://twitter.com/kallenilver', target: "_blank" %></p>
        <p><b>Telefon:</b> <%= link_to '+46706084374', 'tel:+46706084374' %></p>
      </div>

      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/cissi.jpg'), class: 'img-circle', alt: "" %>
        <h2>Cissi Lindén</h2>
        <p><%=t 'about_us_who_are_we_cissi_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'cissilinden', 'https://twitter.com/cissilinden', target: "_blank" %></p>
        <p><b>Telefon:</b> <%= link_to '+46705476300', 'tel:+46705476300' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/henrik.jpg'), class: 'img-circle', alt: "" %>
        <h2>Henrik Kniberg</h2>
        <p><%=t 'about_us_who_are_we_henrik_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'henrikkniberg', 'https://twitter.com/henrikkniberg', target: "_blank" %></p>
      </div>

      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/stefan.jpg'), class: 'img-circle', alt: "" %>
        <h2>Stefan Lindbohm</h2>
        <p><%=t 'about_us_who_are_we_stefan_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'stefanlindbohm', 'https://twitter.com/stefanlindbohm', target: "_blank" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/alexandra.jpg'), class: 'img-circle', alt: "" %>
        <h2>Alexandra Palmquist</h2>
        <p><%=t 'about_us_who_are_we_alexandra_html' %></p>
      </div>
      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/tove.jpg'), class: 'img-circle', alt: "" %>
        <h2>Tove Westling</h2>
        <p><%=t 'about_us_who_are_we_tove_html' %></p>
      </div>
    </div>
    <div class="row">
      <div class="profile">
        <%= image_tag webpack_asset_path('images/about/emma.jpg'), class: 'img-circle', alt: "" %>
        <h2>Emma Bäckström</h2>
        <p><%=t 'about_us_who_are_we_emma_html' %></p>
      </div>
    </div>

  </div>
</div>


<a name="why_goclimateneutral"></a>
<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-question-sign" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'about_us_why_do_we_exist' %></h1>
    <p class="lead"><%=t 'about_us_why_do_we_exist_text' %></p>

  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down" aria-hidden="true"></span>
</div>

<a name="why_goclimateneutral"></a>
<div class="site-wrapper-fourth">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-leaf" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'about_us_how_do_we_stop_climate_change' %></h1>
    <p class="lead"><%=t 'about_us_how_do_we_stop_climate_change_text' %></p>
    <p class="lead"><%=t 'about_us_how_do_we_stop_climate_change_text_2' %></p>

  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down" aria-hidden="true"></span>
</div>



<%= render "shared/footer_old" %>
