<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner cover">

    <span class="glyphicon glyphicon-large glyphicon-globe" aria-hidden="true"></span>
    <h1 class="cover-heading"><%= title(t('about_us')) %></h1>
    <p class="lead"><%= description(t('about_us_intro')) %></p>
    <p class="lead"><%= description(t('about_us_intro_2')) %></p>

  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down first" aria-hidden="true"></span>
</div>

<a name="why_goclimateneutral"></a>
<div class="site-wrapper-second">
  <div class="inner">

    <h1 class="cover-heading"><%=t 'about_us_who_are_we' %></h1>
    <div class="row">

      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/kalle.jpg'), class: 'img-circle', alt: "" %>
        <h2>Kalle Nilvér</h2>
        <p><%=t 'about_us_who_are_we_kalle_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'kallenilver', 'https://twitter.com/kallenilver', target: "_blank" %></p>
        <p><b>Telefon:</b> <%= link_to '+46706084374', 'tel:+46706084374' %></p>
      </div>

      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/cissi.jpg'), class: 'img-circle', alt: "" %>
        <h2>Cissi Lindén</h2>
        <p><%=t 'about_us_who_are_we_cissi_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'cissilinden', 'https://twitter.com/cissilinden', target: "_blank" %></p>
        <p><b>Telefon:</b> <%= link_to '+46705476300', 'tel:+46705476300' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/henrik.jpg'), class: 'img-circle', alt: "" %>
        <h2>Henrik Kniberg</h2>
        <p><%=t 'about_us_who_are_we_henrik_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'henrikkniberg', 'https://twitter.com/henrikkniberg', target: "_blank" %></p>
      </div>

      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/stefan.jpg'), class: 'img-circle', alt: "" %>
        <h2>Stefan Lindbohm</h2>
        <p><%=t 'about_us_who_are_we_stefan_html' %></p>
        <p><b>Twitter:</b> <%= link_to 'stefanlindbohm', 'https://twitter.com/stefanlindbohm', target: "_blank" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/alexandra.jpg'), class: 'img-circle', alt: "" %>
        <h2>Alexandra Palmquist</h2>
        <p><%=t 'about_us_who_are_we_alexandra_html' %></p>
      </div>
      <div class="col-xs-12 col-md-6 profile">
        <%= image_tag webpack_asset_path('images/about/tove.jpg'), class: 'img-circle', alt: "" %>
        <h2>Tove Westling</h2>
        <p><%=t 'about_us_who_are_we_tove_html' %></p>
      </div>
    </div>
    <div class="row">
      <div class="profile">
        <%= image_tag webpack_asset_path('images/about/emma.jpg'), class: 'img-circle', alt: "" %>
        <h2>Emma Bäckström</h2>
        <p><%=t 'about_us_who_are_we_emma_html' %></p>
      </div>
    </div>
  </div>
</div>


<a name="why_goclimateneutral"></a>
<div class="site-wrapper-third">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-question-sign" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'about_us_why_do_we_exist' %></h1>
    <p class="lead"><%=t 'about_us_why_do_we_exist_text' %></p>

  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down" aria-hidden="true"></span>
</div>

<a name="why_goclimateneutral"></a>
<div class="site-wrapper-fourth">
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-leaf" aria-hidden="true"></span>
    <h1 class="cover-heading"><%=t 'about_us_how_do_we_stop_climate_change' %></h1>
    <p class="lead"><%=t 'about_us_how_do_we_stop_climate_change_text' %></p>
    <p class="lead"><%=t 'about_us_how_do_we_stop_climate_change_text_2' %></p>

  </div>
  <span class="glyphicon glyphicon-large glyphicon-chevron-down" aria-hidden="true"></span>
</div>

<% if I18n.locale == :sv %>
  <div class="site-wrapper-third">
    <div class="inner">
      <h2 class="cover-heading">Vi har medverkat i</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
          <% [
            {
              image_url: "images/press_logos/dn.png",
              url: "https://www.dn.se/ekonomi/kalle-nilver-lamnade-vd-jobb-for-att-fa-fler-att-klimatkompensera/"
            },
            {
              image_url: "images/press_logos/breakit-logo-_low_300.png",
              url: "https://www.breakit.se/artikel/19823/kalle-nilver-lamnar-toppjobbet-for-att-radda-oss-fran-klimatkatastrof"
            },
            {
              image_url: "images/press_logos/Dagens-industri_logo_low_300.png",
              url: "https://www.di.se/nyheter/stjarnkrogen-levde-upp-till-forvantningarna-fantastisk-16-ratters/"
            },
            {
              image_url: "images/press_logos/aktuell_hallbarhet.png",
              url: "https://www.aktuellhallbarhet.se/lamnar-vd-jobbet-for-att-stoppa-klimatforandringarna/"
            },
            {
              image_url: "images/press_logos/veckansaffarer-logga_low_300.png",
              url: "https://www.va.se/nyheter/2019/07/16/vi-maste-konsumera-mycket-mindre/"
            },
            {
              image_url: "images/press_logos/syre.png",
              url: "https://tidningensyre.se/stockholm/leva-ett-klimatneutralt-liv/"
            }
          ].each_with_index do |logo, index| %>
            <% if index == 2 || index == 4 %>
              </div>
            <% end %>
            <% if index == 0 || index == 2 || index == 4 %>
              <div class="row">
            <% end %>
            <div class="col-xs-6 col-sm-6 text-center" style="height: 120px; margin: 10px auto;">
              <a href="<%= logo[:url] %>" target="_blank" rel="noopener" style="display: inline-block; position: relative; top: 50%; transform: translateY(-50%);">
                <%= image_tag webpack_asset_path(logo[:image_url]), class: 'max-h-full img-responsive', style: 'max-height: 80px' %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/footer_old" %>
