<%= render "shared/header" %>

<section class="section-padding">
  <div class="section-gutter t:flex t:items-center t:justify-between">
    <div class="t:w-1/2">
      <div class="mx-auto max-w-xl space-y-6">
        <h1 class="heading-xl">
          <%= title(t('about_us')) %>
        </h1>
        <p><%= description(t('about_us_intro')) %></p>
        <p><%= t('about_us_intro_2') %></p>
      </div>
    </div>
    <div class="t:w-1/2">
      <%= image_tag webpack_asset_path('images/about/team.jpg'), class: 'w-full rounded' %>
    </div>
  </div>
</section>

<section class="section-padding">
  <h2 class="heading-lg text-center mb-12">
    <%=t 'about_us_who_are_we' %>
  </h2>
  <div class="flex flex-wrap justify-center section-gutter">
    <% [
      {
        key: 'kalle',
        full_name: 'Kalle Nilvér',
        twitter_handle: 'kallenilver',
        phone_number: '+46706084374',
      },
      {
        key: 'cissi',
        full_name: 'Cissi Lindén',
        twitter_handle: 'cissilinden',
        phone_number: '+46705476300',
      },
      {
        key: 'henrik',
        full_name: 'Henrik Kniberg',
        twitter_handle: 'henrikkniberg',
      },
      {
        key: 'stefan',
        full_name: 'Stefan Lindbohm',
        twitter_handle: 'stefanlindbohm',
      },
      {
        key: 'alexandra',
        full_name: 'Alexandra Palmquist',
      },
      {
        key: 'tove',
        full_name: 'Tove Westling',
      },
      {
        key: 'emma',
        full_name: 'Emma Bäckström',
      },
    ].each do |person| %>
      <div class="w-full t:w-1/2 d:w-1/3 space-y-3 text-center">
        <%= image_tag webpack_asset_path("images/about/#{person[:key]}.jpg"), class: 'rounded-full mx-auto', alt: person[:key] %>
        <h3 class="heading">
          <%= person[:full_name] %>
        </h3>
        <p><%=t "about_us_who_are_we_#{person[:key]}_html" %></p>
        <% if person[:phone_number] %>
          <p><b>Phone:</b> <%= link_to person[:phone_number], 'tel:' + person[:phone_number], class: 'link' %></p>
        <% end %>
        <div class="mx-auto">
          <% if person[:twitter_handle] %>
            <div class="inline-block mx-2">
              <%= link_to "https://twitter.com/#{person[:twitter_handle]}", target: "_blank", rel: "noopener", class: 'link-icon' do %>
                <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
          <% if person[:instagram_handle] %>
            <div class="inline-block mx-2">
              <%= link_to "https://www.instagram.com/#{person[:instagram_handle]}", target: "_blank", rel: "noopener", class: 'link-icon' do %>
                <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="section-padding">
  <div class="d:flex items-center section-gutter">
    <div class="d:w-1/2">
      <div class="max-w-xl space-y-6 mx-auto">
        <h2 class="heading-lg">
          <%=t 'about_us_why_do_we_exist' %>
        </h2>
        <p><%=t 'about_us_why_do_we_exist_text' %></p>
      </div>
    </div>
    <div class="d:w-1/2">
      <%= image_tag webpack_asset_path('images/illustrations/grandma.png'), class: 'w-full max-w-md mx-auto' %>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="d:flex section-gutter">
    <div class="d:w-1/2 d:mx-auto">
      <div class="max-w-xl space-y-6 mx-auto">
        <h2 class="heading-lg">
          <%=t 'about_us_how_do_we_stop_climate_change' %>
        </h2>
        <p><%=t 'about_us_how_do_we_stop_climate_change_text' %></p>
        <p><%=t 'about_us_how_do_we_stop_climate_change_text_2' %></p>
      </div>
    </div>
  </div>
</section>

<% if I18n.locale == :sv %>
  <section class="section-padding">
    <h2 class="heading-lg text-center">Vi har medverkat i</h2>
    <div class="flex flex-wrap justify-center mt-6">
        <% [
          {
            image_url: "images/press_logos/dn.png",
            url: "https://www.dn.se/ekonomi/kalle-nilver-lamnade-vd-jobb-for-att-fa-fler-att-klimatkompensera/"
          },
          {
            image_url: "images/press_logos/breakit-logo-_low_300.png",
            url: "https://www.breakit.se/artikel/19823/kalle-nilver-lamnar-toppjobbet-for-att-radda-oss-fran-klimatkatastrof"
          },
          {
            image_url: "images/press_logos/Dagens-industri_logo_low_300.png",
            url: "https://www.di.se/nyheter/stjarnkrogen-levde-upp-till-forvantningarna-fantastisk-16-ratters/"
          },
          {
            image_url: "images/press_logos/aktuell_hallbarhet.png",
            url: "https://www.aktuellhallbarhet.se/lamnar-vd-jobbet-for-att-stoppa-klimatforandringarna/"
          },
          {
            image_url: "images/press_logos/veckansaffarer-logga_low_300.png",
            url: "https://www.va.se/nyheter/2019/07/16/vi-maste-konsumera-mycket-mindre/"
          },
          {
            image_url: "images/press_logos/syre.png",
            url: "https://tidningensyre.se/stockholm/leva-ett-klimatneutralt-liv/"
          }
        ].each do |logo| %>
          <a href="<%= logo[:url] %>" target="_blank" rel="noopener" class="w-1/2 md:w-1/3 flex items-center justify-center p-5 m-lg:p-8 t:p-10" style="max-height: 120px">
            <%= image_tag webpack_asset_path(logo[:image_url]), class: 'max-h-full' %>
          </a>
        <% end %>
      </div>
  </section>
<% end %>

<%= render "shared/footer" %>
