<%= form_for([:admin, flight_offset]) do |f| %>
  <div class="space-y-3">
    <% if flight_offset.errors.any? %>
      <div>
        <h2><%= pluralize(flight_offset.errors.count, "error") %> prohibited this flight offset from being saved:</h2>

        <ul>
        <% flight_offset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      Use <%= link_to 'our flights calculator', new_flight_footprint_path, class: 'link' %> to get the co2e value
    </p>

    <div class="flex flex-col">
      <p><%= f.label :co2e, 'CO2e', class: 'font-bold' %> (in kg CO2e)</p>
      <%= f.number_field :co2e, value: f.object.co2e&.co2e, required: '', class: 'input' %>
    </div>

    <div class="flex flex-col">
      <p><%= f.label :email, class: 'font-bold' %> (recipient of certificate)</p>
      <%= f.text_field :email, required: '', class: 'input' %>
      <span class="block text-sm text-gray-shade-2">Will not send an email, though ¯\_(ツ)_/¯.</span>
    </div>

    <div class="text-right">
      <%= f.submit class: 'button button-cta' %>
    </div>
  </div>
<% end %>
