<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Flight offsets', actions: [
    {
      title: 'New',
      path: new_admin_flight_offset_path,
      class: 'button-cta'
    }
  ] %>

  <table class="table">
    <thead>
      <tr>
        <th>Created</th>
        <th>Paid</th>
        <th>Price</th>
        <th>CO2e</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @flight_offsets.each do |flight_offset| %>
        <tr>
          <td><%= time_tag(flight_offset.created_at, format: '%F %R') %></td>
          <td><%= time_tag(flight_offset.paid_at, format: '%F %R') if flight_offset.paid_at.present? %></td>
          <td><%= flight_offset.price %></td>
          <td><%= flight_offset.co2e %></td>
          <td><%= flight_offset.email %></td>
          <td class="whitespace-nowrap">
            <%= link_to 'Show', admin_flight_offset_path(flight_offset.id), class: 'link-ui text-green-shade-2' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
