<%= render 'admin/shared/notice_banner' %>

<h1>Flight offset</h1>

<dl class="dl-horizontal">
  <dt>Created:</dt>
  <dd><%= @flight_offset.created_at %></dd>

  <dt>Paid:</dt>
  <dd><%= @flight_offset.paid_at %></dd>

  <dt>Price:</dt>
  <dd><%= @flight_offset.price %></dd>

  <dt>CO2e:</dt>
  <dd><%= @flight_offset.co2e %></dd>

  <dt>Email:</dt>
  <dd><%= @flight_offset.email %></dd>

  <dt>URL to download certificate and receipt:</dt>
  <dd><%= link_to thank_you_flight_offset_url(@flight_offset), thank_you_flight_offset_url(@flight_offset) %></dd>
</dl>

<hr>

<%= link_to 'Back', admin_flight_offsets_path, class: 'btn btn-link' %>
