<% content_for :stylesheets do %>
  <%= webpack_entrypoint_stylesheet_tags 'main_old' %>
<% end %>
<% content_for :javascripts do %>
  <%= webpack_entrypoint_javascript_tags 'main_old', onerror: 'reportLoadError(event)' %>
<% end %>

<div class="site-wrapper-first">
  <%= render "shared/header_old" %>
  <div class="inner">

    <span class="glyphicon glyphicon-large glyphicon-duplicate" aria-hidden="true"></span>

  </div>
  <div class="row">

    <h1>Your receipts</h1>
    <div class="col-xs-12">
      <p class="lead">Here you can see your receipts</p>
    </div>

  </div>
  <div class="row">

    <div class="col-xs-offset-4 col-xs-4">
      <table class="table table-striped">
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>link</th>
        </tr>
        <% @receipts.each do |receipt| %>
          <tr>
            <td><%= receipt.date %></td>
            <td><%= price_string(receipt.total_amount, receipt.currency) %></td>
            <td><%= link_to 'View receipt', user_receipt_path(receipt.card_charge.id) %></td>
          </tr>
        <% end %>

      </table>
    </div>

  </div>
</div>
