<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  
  <head>
    <title><%=t 'site_title' %></title>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= include_gon %>
  </head>

  <body class="admin <%= controller_name + " " + controller_name + "-" + action_name %>">
    <div class="site-wrapper">
      <%= yield %>
    </div>
  </body>

</html>
