<!DOCTYPE html>
<html>
  <head>
    <title><%=t 'site_title' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#71ab76">
    <meta name="theme-color" content="#ffffff">

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag 'application' %>
    <%= include_gon %>

    <meta property="og:type"             content="website" />
    <meta property="og:url"              content="<%=t 'goclimateneutral_url' %>" />
    <meta property="og:title"              content="<%=t 'welcome_to_a_climate_neutral_life' %>" />
    <meta property="og:description"        content="<%=t 'climate_change_is_the_greatest_challange' %>" />
    <meta property="og:image"              content="<%= image_url('share-image.png') %>" />
    <meta property="fb:app_id"             content="452582378427296" />
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-97611261-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2017119891899757');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2017119891899757&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

  </head>

  <body class="<%= controller_name + " " + controller_name + "-" + action_name %>">
       
    <div class="site-wrapper">
       
    <% if notice || alert %>
      <div class="alert alert-warning" role="alert">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    </div>
  </body>
</html>
