<!DOCTYPE html>
<html>
  <head>
    <title>GoClimateNeutral.org</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
	  <%= stylesheet_link_tag "welcome" %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body class="<%= controller_name + " " + controller_name + "-" + action_name %>">
       
    <div class="site-wrapper">
       
    <% if notice || alert %>
      <div class="alert alert-warning" role="alert">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    </div>
  </body>
</html>
