<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1C4637">
    <meta name="theme-color" content="#ffffff">

    <%=
      display_meta_tags(
        site: 'GoClimate',
        separator: '-',
        reverse: true,
        canonical: canonical_url,
        alternate: {
           Region::Sweden.logical_locale => url_for_region(Region::Sweden, only_path: false),
           Region::USA.logical_locale => url_for_region(Region::USA, only_path: false),
           Region::Germany.logical_locale => url_for_region(Region::Germany, only_path: false),
           'x-default' => url_for_region(nil, only_path: false)
         },
        og: {
          type: 'website',
          url: canonical_url,
          title: :title,
          description: :description,
          image: webpack_asset_url('images/share-image.jpg'),
          locale: I18n.locale,
        }
      )
    %>
    <% if ENV['HEROKU_ENV'] == 'production' %>
      <meta property="fb:app_id" content="452582378427296">
    <% else %>
      <meta property="fb:app_id" content="261728851826356">
    <% end %>

    <%= webpack_entrypoint_stylesheet_tags 'main' %>

    <% if Rails.env.development? %>
      <style>
        .translation_missing {
          background-color: rgba(255, 0, 0, 0.5) !important;
        }
      </style>
    <% end %>

    <%= render 'third_party_javascripts' %>
  </head>

  <body class="<%= controller_name + " " + controller_name + "-" + action_name %> min-h-screen text-base text-primary bg-green-dark">

    <% if params[:registered].to_i == 1 %>
      <script>
        fbq('track', 'signed_up_without_subscription');
        ga('send',
          'event',
          'sign_up',
          'without_subscription',
          );
      </script>
    <% end %>
    <% if params[:subscribed].to_i == 1 %>
      <script>
        fbq('track', 'Purchase', {
          currency: "<%= current_region.currency %>",
          value: <%= current_user.subscription_amount %>
        });
        ga('send',
          'event',
          'subscription',
          'conversion',
          '',
          <%= current_user.subscription_amount_in_sek %>
          );
      </script>
    <% end %>

    <% if controller.controller_name == 'registrations' && controller.action_name == 'new' %>
      <script>
        fbq('track', 'InitiateCheckout', {
          value: 0,
        });
      </script>
    <% end %>

    <div class="bg-yellow-pastel">
      <%= yield %>
    </div>

    <% unless cookies[:cookie_consent].present? %>
      <div id="cookie-consent-banner" class="fixed bottom-0 left-0 right-0 flex justify-between items-center p-4 t:px-8 bg-black text-white">
        <div class="flex items-end m-lg:items-center space-x-2 t:space-x-4">
          <p><%=t 'views.shared.cookie_banner.text' %> <%= link_to t('views.shared.cookie_banner.link_text'),  cookies_path, class: 'link text-white hover:text-white' %>.</p>
          <button id="cookie-consent-banner-consent" class="button button-sm button-inverted">
            <%=t 'views.shared.cookie_banner.cta' %>
          </button>
        </div>
      </div>
      <script>
        (function() {
          var regionRecommendationElement = document.querySelector('#cookie-consent-banner');
          var dismissElement = document.querySelector('#cookie-consent-banner-consent');

          dismissElement.addEventListener('click', function(event) {
            document.cookie = 'cookie_consent=true';
            regionRecommendationElement.parentNode.removeChild(regionRecommendationElement);
          });
        })();
      </script>
    <% end %>

    <script>
      function reportLoadError(event) {
        if (typeof console !== 'undefined' && typeof console.warning !== 'undefined') {
          console.warning("Failed to load " + event.target.src + ", stopping error reporting")
        }
        Sentry.close();
        Sentry.getCurrentHub().getClient().getOptions().enabled = false; // Prevents further errors reported before closing finishes.
      }
    </script>
    <script src="https://js.stripe.com/v3/" onerror="reportLoadError(event)"></script>
    <script>
      window.locale = "<%= I18n.locale %>"
      window.stripe = Stripe("<%= ENV['PUBLISHABLE_KEY'] %>");
    </script>
    <%= webpack_entrypoint_javascript_tags 'main', onerror: 'reportLoadError(event)' %>
    <%= yield :javascript_tags %>
  </body>
</html>
