<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1C4637">
    <meta name="theme-color" content="#ffffff">

    <%=
      display_meta_tags(
        site: 'GoClimate',
        separator: '-',
        reverse: true,
        canonical: canonical_url,
        alternate: {
           Region::Sweden.logical_locale => url_for_region(Region::Sweden, only_path: false),
           Region::USA.logical_locale => url_for_region(Region::USA, only_path: false),
           Region::Germany.logical_locale => url_for_region(Region::Germany, only_path: false),
           'x-default' => url_for_region(nil, only_path: false)
         },
        og: {
          type: 'website',
          url: canonical_url,
          title: :title,
          description: :description,
          image: webpack_asset_url('images/share-image.jpg'),
          locale: I18n.locale,
        }
      )
    %>
    <meta property="fb:app_id" content="452582378427296">

    <% if (stylesheets = yield :stylesheets).present? %>
      <%= stylesheets %>
    <% else %>
      <%= webpack_entrypoint_stylesheet_tags 'main' %>
    <% end %>

    <% if (yield :javascripts).present? %>
      <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <% else %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <% end %>

    <% if Rails.env.development? %>
      <style>
        .translation_missing {
          background-color: rgba(255, 0, 0, 0.5) !important;
        }
      </style>
    <% end %>

    <%= render 'third_party_javascripts' %>
  </head>

  <%# TODO: Change text-green-dark to text-primary when Bootstrap is gone. These apply to both new and old worlds, so text-primary clashes because it exists in both. %>
  <body class="<%= controller_name + " " + controller_name + "-" + action_name %> min-h-screen text-base text-green-dark bg-yellow-pastel">

    <% if params[:registered].to_i == 1 %>
      <script>
        fbq('track', 'Purchase', {
          currency: "<%= current_region.currency %>",
          value: <%= current_user.subscription_amount %>
        });
        gtag('event', 'conversion', {
          'send_to': 'AW-823228700/-nQJCJXUrrcBEJzyxYgD',
          'value': <%= current_user.subscription_amount %>,
          'currency': '<%= current_region.currency %>'
        });
        ga('send',
          'event',
          'subscription',
          'conversion',
          '',
          <%= current_user.subscription_amount_in_sek %>
          );
      </script>
    <% end %>

    <% if controller.controller_name == 'registrations' && controller.action_name == 'new' %>
      <script>
        fbq('track', 'InitiateCheckout', {
          value: 0,
        });
      </script>
    <% end %>

    <%= yield %>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      window.locale = "<%= I18n.locale %>"
      window.stripe = Stripe("<%= ENV['PUBLISHABLE_KEY'] %>");
    </script>
    <% if (javascripts = yield :javascripts).present? %>
      <%= javascripts %>
    <% else %>
      <%= webpack_entrypoint_javascript_tags 'main', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
    <% end %>
    <%= yield :javascript_tags %>
  </body>
</html>
