<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#71ab76">
    <meta name="theme-color" content="#ffffff">

    <%=
      display_meta_tags(
        site: 'GoClimateNeutral',
        separator: '-',
        reverse: true,
        canonical: canonical_url,
        alternate: {
           Region::Sweden.logical_locale => url_for_region(Region::Sweden, only_path: false),
           Region::USA.logical_locale => url_for_region(Region::USA, only_path: false),
           Region::Germany.logical_locale => url_for_region(Region::Germany, only_path: false),
           'x-default' => url_for_region(nil, only_path: false)
         },
        og: {
          type: 'website',
          url: canonical_url,
          title: :title,
          description: :description,
          image: webpack_asset_url('images/share-image.png'),
          locale: I18n.locale,
        }
      )
    %>
    <meta property="fb:app_id" content="452582378427296">
    
    <% if (stylesheets = yield :stylesheets).present? %>
      <%= stylesheets %>
    <% else %>
      <%= webpack_entrypoint_stylesheet_tags 'main' %>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

    <script src="https://browser.sentry-cdn.com/5.11.0/bundle.min.js" integrity="sha384-jbFinqIbKkHNg+QL+yxB4VrBC0EAPTuaLGeRT0T+NfEV89YC6u1bKxHLwoo+/xxY" crossorigin="anonymous"></script>
    <% if ENV["SENTRY_DSN"].present? %>
      <script>
        Sentry.init({
          dsn: "<%= ENV["SENTRY_DSN"] %>",
          environment: "<%= Raven.configuration.current_environment %>",
          release: "<%= Raven.configuration.release %>"
        });
      </script>
    <% end %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics<%= '_debug' if Rails.env.development? %>.js','ga');
      ga('create', 'UA-97611261-1', 'auto');
      <% unless ENV['GOOGLE_ANALYTICS_SENDING'] == 'enabled' %>ga('set', 'sendHitTask', null);<% end %>
      ga('send', 'pageview');
    </script>

    <!-- Global site tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-823228700"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-823228700');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2064950410465460');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2064950410465460&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body class="<%= controller_name + " " + controller_name + "-" + action_name %>">

    <% if params[:registered].to_i == 1 %>
      <script>
        fbq('track', 'Purchase', {
          currency: "<%= current_region.currency %>",
          value: <%= current_user.subscription_amount %>
        });
        gtag('event', 'conversion', {'send_to': 'AW-823228700/-nQJCJXUrrcBEJzyxYgD'});
      </script>
    <% end %>

    <%= yield %>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      window.locale = "<%= I18n.locale %>"
      window.stripe = Stripe("<%= ENV['PUBLISHABLE_KEY'] %>");
    </script>
    <%= include_gon %>
    <% if (javascripts = yield :javascripts).present? %>
      <%= javascripts %>
    <% else %>
      <%= webpack_entrypoint_javascript_tags 'main', onerror: 'throw "Loading Javascript " + this.src + " failed"' %>
    <% end %>
    <%= yield :javascript_tags %>
  </body>
</html>
